Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, test, publish, notify, gather, build-content, deploy

build:
  image: node:18
  commands:
  - npm ci -w @luzzle/cli -w @luzzle/kysely
  - npm run build -w @luzzle/kysely
  - npm run compile -w @luzzle/cli
  - npm run build -w @luzzle/cli

test:
  image: node:18
  commands:
  - npm run lint -w @luzzle/cli
  - npm run test -w @luzzle/cli

publish:
  image: node:18
  commands:
  - npm config set @luzzle:registry https://git.eleith.com/api/packages/$NPM_OWNER/npm/
  - npm config set -- "//git.eleith.com/api/packages/$NPM_OWNER/npm/:_authToken" "$NPM_TOKEN"
  - cd packages/cli
  - NPM_CURRENT_VERSION="$(npm pkg get version --workspaces=false)"
  ...

notify:
  image: deblan/woodpecker-email:1.0.1-wp
  secrets:
  - smtp_notification_from
  - smtp_notification_host
  - smtp_notification_password
  - smtp_notification_from
  - smtp_notification_recipient
  settings:
    from.address:
      from_secret: smtp_notification_from
    host:
      from_secret: smtp_notification_host
  ...

gather:
  image: rclone/rclone:1.57
  environment:
  - RCLONE_GCS_STORAGE_CLASS=REGIONAL
  - RCLONE_GCS_BUCKET_POLICY_ONLY=true
  - RCLONE_GCS_LOCATION=us-central-1
  - RCLONE_GCS_SERVICE_ACCOUNT_FILE=/tmp/rclone-service-key.json
  - RCLONE_DAV_BOOK_SOURCE=:webdav:documents/eleith/notes-md/personal/records
  ...

build-content:
  image: node:18
  environment:
  - ENV_LOCAL_FILE=.env.local
  - NODE_ENV=production
  commands:
  - printf '%s\n' "$NEXTJS_ENV_LOCAL" > ./packages/web/$ENV_LOCAL_FILE
  - cd packages/web
  - npm run build:og:images
  - npm run build:rss
  secrets:
  - nextjs_env_local

deploy:
  image: git.eleith.com/eleith/gcs-web-deploy:3.0.0
  environment:
  - LOG_DIR=gs://eleith-cloud-builds/logs
  - STAGING_DIR=gs://eleith-cloud-builds/eleith-io-site
  - RUN_KEY_FILE=/tmp/secrets/service-account-key.json
  - GCR_IMAGE=gcr.io/eleith-cloud/eleith-io-site
  - GCS_PROJECT=eleith-cloud
  ...

[web] abstract og and variant img generation
  packages/web/scripts/generate-image-variants.ts
  packages/web/scripts/generate-og-images.tsx
  packages/web/scripts/og/books.tsx
  packages/web/scripts/og/links.tsx
  packages/web/scripts/og/template.tsx
  packages/web/scripts/utils.ts
  packages/web/src/common/components/links/styles.css.ts
Due: build, test, notify, gather, build-content, deploy

[web] fix image variant generation script
  packages/web/scripts/generate-image-variants.ts
  packages/web/scripts/utils.ts
Due: build, test, notify, gather, build-content, deploy

[web] fix month indexing
  packages/web/src/common/components/links/ArticleCover.tsx
  packages/web/src/common/components/links/styles.css.ts
  packages/web/src/pages/books/[slug].tsx
  packages/web/src/pages/links/[slug].tsx
Due: build, test, notify, gather, build-content, deploy

[kysely] add pieces table view
  package-lock.json
  packages/kysely/package.json
  packages/kysely/src/database.migrations.ts
  packages/kysely/src/database.schema.ts
  packages/kysely/src/migrations/2024-02-09T16:33:10Z.ts
  packages/kysely/src/tables/pieces.view.schema.ts
Due: none

[cli] migrate to latest kysely
  package-lock.json
  packages/cli/package.json
Due: build, test, publish, notify

[kysely] bad migration fix
  package-lock.json
  packages/kysely/package.json
Due: none

[kysely] fix migration
  packages/kysely/package.json
  packages/kysely/src/migrations/2024-02-09T16:33:10Z.ts
Due: none

[cli] bump to fix migration errors
  packages/cli/package.json
Due: build, test, publish, notify

[web] support for pieces graphql calls
  package-lock.json
  packages/cli/package.json
  packages/kysely/package.json
  packages/kysely/src/migrations/2024-02-09T16:33:10Z.ts
  packages/web/package.json
  packages/web/src/common/components/books/BookCoverFor.tsx
  packages/web/src/common/components/links/ArticleCoverFor.tsx
  packages/web/src/common/components/pieces/PieceCard.css.tsx
  packages/web/src/common/components/pieces/PieceCard.tsx
  packages/web/src/common/graphql/piece/fragments/pieceFullDetails.ts
  packages/web/src/common/graphql/piece/index.ts
  packages/web/src/common/graphql/piece/objects/piece.ts
  packages/web/src/common/graphql/piece/queries/piece.ts
  packages/web/src/common/graphql/piece/queries/pieces.ts
  packages/web/src/common/graphql/schema.ts
  packages/web/src/pages/index.tsx
  packages/web/src/pages/pieces/books/[slug].css.ts
  packages/web/src/pages/pieces/books/[slug].tsx
  packages/web/src/pages/pieces/books/index.css.ts
  packages/web/src/pages/pieces/books/index.tsx
  packages/web/src/pages/pieces/index.css.ts
  packages/web/src/pages/pieces/index.tsx
  packages/web/src/pages/pieces/links/[slug].css.ts
  packages/web/src/pages/pieces/links/[slug].tsx
  packages/web/src/pages/pieces/links/index.css.ts
  packages/web/src/pages/pieces/links/index.tsx
  packages/web/src/pages/tags/[slug].tsx
Due: build, test, publish, notify, gather, build-content, deploy

[web] trigger media loading for articles
  packages/web/src/common/components/pieces/PieceCard.tsx
Due: build, test, notify, gather, build-content, deploy

[web] rss for pieces and types
  packages/web/.gitignore
  packages/web/scripts/generate-rss.ts
Due: build, test, notify, gather, build-content, deploy

[web] slim down container
  .dockerignore
  Dockerfile
  package-lock.json
  packages/web/next.config.js
  packages/web/package.json
Due: build, test, notify, gather, build-content, deploy

[web] active book animation on outer focux
  .gcloudignore
  packages/web/scripts/generate-rss.ts
  packages/web/src/common/components/books/BookCover.tsx
  packages/web/src/common/components/books/BookCoverFor.tsx
  packages/web/src/common/components/books/styles.css.ts
  packages/web/src/common/components/links/ArticleCoverFor.tsx
  packages/web/src/common/components/pieces/PieceCard.tsx
Due: build, test, notify, gather, build-content, deploy

[kysley] add fts5 table for searching
  package-lock.json
  packages/kysely/package.json
  packages/kysely/src/database.migrations.ts
  packages/kysely/src/database.schema.ts
  packages/kysely/src/migrations/2024-02-13T05:56:43Z.ts
  packages/kysely/src/tables/pieces.ts
  packages/kysely/src/tables/pieces.view.schema.ts
Due: none

[cli] bump to adopt migrations for search
  package-lock.json
  packages/cli/package.json
Due: build, test, publish, notify

[web] full text search support!
  package-lock.json
  packages/web/package.json
  packages/web/scripts/generate-rss.ts
  packages/web/src/common/graphql/piece/objects/piece.ts
  packages/web/src/common/graphql/piece/queries/piece.ts
  packages/web/src/common/graphql/piece/queries/pieces.ts
  packages/web/src/common/graphql/search/queries/search.ts
  packages/web/src/pages/search.css.ts
  packages/web/src/pages/search.tsx
Due: build, test, notify, gather, build-content, deploy

[web] better search widths for piece cards
  packages/web/src/pages/search.css.ts
  packages/web/src/pages/search.tsx
Due: build, test, notify, gather, build-content, deploy

[web] remove fuse and lodash dependencies
  packages/web/package.json
  packages/web/src/lib/graphql/tag.ts
Due: build, test, notify, gather, build-content, deploy

[web] fix text email as crlf is necessary
  packages/web/src/common/components/discussions/RecommendationForm.tsx
  packages/web/src/common/graphql/discussion/index.ts
  packages/web/src/common/graphql/discussion/mutations/discussion.ts
Due: build, test, notify, gather, build-content, deploy

[web] fix tag rendering
  packages/web/src/pages/tags/[slug].tsx
Due: build, test, notify, gather, build-content, deploy

Path conditions:
  build: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: Dockerfile, .woodpecker/.web.yml, packages/web/**)
  test: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  publish: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: Dockerfile, .woodpecker/.web.yml, packages/web/**)
  gather: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  build-content: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  deploy: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
