Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: test, build, publish, notify, gather, build-content, deploy

test:
  image: node:16
  commands:
  - npm ci -w @luzzle/cli
  - npm run lint -w @luzzle/cli
  - npm run test -w @luzzle/cli

build:
  image: node:16
  commands:
  - npm ci -w @luzzle/prisma
  - npm run build -w @luzzle/prisma
  - npm run compile -w @luzzle/prisma
  - cd packages/prisma
  - npm run patch -w @luzzle/prisma

publish:
  image: node:16
  commands:
  - npm config set @luzzle:registry https://git.eleith.com/api/packages/$NPM_OWNER/npm/
  - npm config set -- "//git.eleith.com/api/packages/$NPM_OWNER/npm/:_authToken" "$NPM_TOKEN"
  - npm publish -w @luzzle/prisma
  secrets:
  - npm_token
  - npm_owner

notify:
  image: git.eleith.com/eleith/woodpecker-email:1.0.0
  environment:
  - PLUGIN_FROM_ADDRESS=online-woodpecker@eleith.com
  - PLUGIN_FROM_NAME="eleith ci"
  - PLUGIN_RECIPIENTS_ONLY=true
  secrets:
  - source: smtp_username
    target: plugin_username
  - source: smtp_password
    target: plugin_password
  ...

gather:
  image: rclone/rclone:1.57
  environment:
  - RCLONE_GCS_STORAGE_CLASS=REGIONAL
  - RCLONE_GCS_BUCKET_POLICY_ONLY=true
  - RCLONE_GCS_LOCATION=us-central-1
  - RCLONE_GCS_SERVICE_ACCOUNT_FILE=/tmp/rclone-service-key.json
  - RCLONE_GCS_DB=:gcs:eleith-io-site-data/main/sqlite.dev.db
  ...

build-content:
  image: node:16
  commands:
  - npm config set @luzzle:registry https://git.eleith.com/api/packages/$NPM_OWNER/npm/
  - npm config set -- "//git.eleith.com/api/packages/$NPM_OWNER/npm/:_authToken" "$NPM_TOKEN"
  - npm run build:prisma -w @luzzle/web
  - npm install -g @luzzle/cli@0.0.7
  - cd packages/web
  ...

deploy:
  image: git.eleith.com/eleith/gcs-web-deploy:3.0.0
  environment:
  - LOG_DIR=gs://eleith-cloud-builds/logs
  - STAGING_DIR=gs://eleith-cloud-builds/eleith-io-site
  - RUN_KEY_FILE=/tmp/secrets/service-account-key.json
  - ENV_LOCAL_FILE=.env.local
  - GCR_IMAGE=gcr.io/eleith-cloud/eleith-io-site
  ...

text edit
  packages/web/src/pages/index.tsx
Due: none

change location of schema for docker
  Dockerfile
Due: none

build all steps
  .woodpecker/.web.yml
Due: test, build, notify, gather, build-content, deploy

don't ignore .next files
  .gcloudignore
Due: none

manually copy around schema.prisma, removing fragile workarounds
  .gitignore
  Dockerfile
  packages/web/.gitignore
  packages/web/package.json
Due: test, build, notify, gather, build-content, deploy

schema.prisma needed by graphql only
  Dockerfile
Due: none

schema.prisma needed by server
  packages/web/.gitignore
  packages/web/package.json
Due: test, build, notify, gather, build-content, deploy

need schema.prisma for building and deploying
  Dockerfile
  packages/web/package.json
Due: test, build, notify, gather, build-content, deploy

we need schema.prisma everywhere. sigh
  Dockerfile
Due: none

syntax error
  .gitignore
  Dockerfile
Due: none

schemas everywhere
  Dockerfile
  packages/web/package.json
Due: test, build, notify, gather, build-content, deploy

generate multiple binaries
  package-lock.json
  packages/cli/package.json
  packages/prisma/package.json
  packages/prisma/src/schema.prisma
  packages/web/package.json
Due: test, build, publish, notify, gather, build-content, deploy

need copies of libquery as well. sigh
  packages/cli/package.json
Due: test

bump web
  packages/web/package.json
Due: test, build, notify, gather, build-content, deploy

rss error
  packages/web/src/pages/books/index.tsx
Due: none

subject isn't always an array of strings
  packages/cli/package.json
  packages/cli/src/lib/book.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/open-library.ts
Due: test

exclude dist from tests, fix type error
  packages/cli/src/lib/book.test.ts
  packages/cli/vite.config.ts
Due: test

support covers or cover_i key
  packages/cli/src/lib/book.ts
  packages/cli/src/lib/open-library.ts
Due: none

bump cli version
  packages/cli/package.json
Due: test

Path conditions:
  test: (any of: .woodpecker/.cli.yml, packages/cli/*) or (any of: .woodpecker/.prisma.yml, packages/prisma/*) or (any of: .woodpecker/.web.yml, packages/web/*)
  build: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.web.yml, packages/web/*)
  publish: any of: .woodpecker/.prisma.yml, packages/prisma/**
  notify: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.web.yml, packages/web/*)
  gather: any of: .woodpecker/.web.yml, packages/web/*
  build-content: any of: .woodpecker/.web.yml, packages/web/*
  deploy: any of: .woodpecker/.web.yml, packages/web/*
