Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: test, build, gather, build-content, deploy, notify

Path conditions:
  test: (any of: .woodpecker/.cli.yml, packages/cli/*) or (any of: .woodpecker/.web.yml, packages/web/*)
  build: any of: .woodpecker/.web.yml, packages/web/*
  gather: any of: .woodpecker/.web.yml, packages/web/*
  build-content: any of: .woodpecker/.web.yml, packages/web/*
  deploy: any of: .woodpecker/.web.yml, packages/web/*
  notify: any of: .woodpecker/.web.yml, packages/web/*

use prepublish to get permissions set correctly
  .woodpecker/.web.yml
Due: test, build, gather, build-content, deploy, notify

need a package-lock.json for docker builds
  .woodpecker/.web.yml
  packages/web/Dockerfile
Due: test, build, gather, build-content, deploy, notify

docker can't read outside its project folder
  .woodpecker/.web.yml
  packages/web/Dockerfile
Due: test, build, gather, build-content, deploy, notify

restrict to main branch
  .woodpecker/.web.yml
Due: test, build, gather, build-content, deploy, notify

restrict to main branch
  .woodpecker/.cli.yml
Due: test

remove punctuation
  package-lock.json
  packages/web/src/pages/index.tsx
Due: none

adjust glob
  .woodpecker/.web.yml
Due: test, build, gather, build-content, deploy, notify

introduce prisma package to abstract out dependency from cli and web
  .woodpecker/.prisma.yml
  package-lock.json
  packages/cli/package.json
  packages/prisma/.eslintrc.json
  packages/prisma/.gitignore
  packages/prisma/index.ts
  packages/prisma/package.json
  packages/prisma/src/migrations/20210131080348_init/migration.sql
  packages/prisma/src/migrations/20210131183352_add_book_keywords_column/migration.sql
  packages/prisma/src/migrations/20210201032740_rename_year_published_as_year_first_published/migration.sql
  packages/prisma/src/migrations/20210313233550_add_image_path_to_book/migration.sql
  packages/prisma/src/migrations/20210314204910_drop_image_path_column_and_add_id_cover_image_column_insteadge/migration.sql
  packages/prisma/src/migrations/20210922161827_add_slug/migration.sql
  packages/prisma/src/migrations/20210923042505_require_slug/migration.sql
  packages/prisma/src/migrations/20210928011002_adding_notes_field_to_book/migration.sql
  packages/prisma/src/migrations/20211011164110_new_cover_columns/migration.sql
  packages/prisma/src/migrations/20211012052942_add_cover_updated/migration.sql
  packages/prisma/src/migrations/20211013233759_minimize_cover_fields/migration.sql
  packages/prisma/src/migrations/20220410043235_add_read_order/migration.sql
  packages/prisma/src/migrations/20220410142014_require_read_order/migration.sql
  packages/prisma/src/migrations/migration_lock.toml
  packages/prisma/src/schema.prisma
  packages/prisma/tsconfig.json
Due: test

fix build instructions
  .woodpecker/.prisma.yml
Due: none

remove private
  packages/cli/package.json
  packages/prisma/package.json
Due: test

remove prisma files from web and use @luzzle/prisma directly
  .woodpecker/.prisma.yml
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/prisma.ts
  packages/prisma/.gitignore
  packages/prisma/index.ts
  packages/prisma/package.json
  packages/prisma/runtime-patch.txt
  packages/prisma/src/schema.prisma
  packages/prisma/tsconfig.json
  packages/web/.env
  packages/web/package.json
  packages/web/prisma/migrations/20210131080348_init/migration.sql
  packages/web/prisma/migrations/20210131183352_add_book_keywords_column/migration.sql
  packages/web/prisma/migrations/20210201032740_rename_year_published_as_year_first_published/migration.sql
  packages/web/prisma/migrations/20210313233550_add_image_path_to_book/migration.sql
  packages/web/prisma/migrations/20210314204910_drop_image_path_column_and_add_id_cover_image_column_insteadge/migration.sql
  packages/web/prisma/migrations/20210922161827_add_slug/migration.sql
  packages/web/prisma/migrations/20210923042505_require_slug/migration.sql
  packages/web/prisma/migrations/20210928011002_adding_notes_field_to_book/migration.sql
  packages/web/prisma/migrations/20211011164110_new_cover_columns/migration.sql
  packages/web/prisma/migrations/20211012052942_add_cover_updated/migration.sql
  packages/web/prisma/migrations/20211013233759_minimize_cover_fields/migration.sql
  packages/web/prisma/migrations/20220410043235_add_read_order/migration.sql
  packages/web/prisma/migrations/20220410142014_require_read_order/migration.sql
  packages/web/prisma/migrations/migration_lock.toml
  packages/web/prisma/schema.prisma
  packages/web/src/common/graphql/book/objects/book.ts
  packages/web/src/lib/graphql/context.ts
  packages/web/tsconfig.json
Due: test, build, gather, build-content, deploy, notify

adjusting pipeline commands
  .woodpecker/.cli.yml
  .woodpecker/.prisma.yml
Due: test

pipeline syntax errors
  .gitignore
  .woodpecker/.cli.yml
  .woodpecker/.prisma.yml
Due: test

move pipeline syntax fixes
  .woodpecker/.prisma.yml
  packages/prisma/package.json
Due: none

cleanup all pipelines
  .woodpecker/.cli.yml
  .woodpecker/.prisma.yml
  .woodpecker/.web.yml
Due: test, build, gather, build-content, deploy, notify

force all packages to depend on latest versions of each other
  .woodpecker/.cli.yml
  .woodpecker/.prisma.yml
  .woodpecker/.web.yml
  packages/cli/package.json
  packages/prisma/package.json
Due: test, build, gather, build-content, deploy, notify

pipeline fixes
  .woodpecker/.cli.yml
  packages/cli/package.json
  packages/prisma/package.json
  packages/web/package.json
Due: test, build, gather, build-content, deploy, notify

bump @luzzle/prisma and fix web pipeline
  .woodpecker/.web.yml
  package-lock.json
  packages/prisma/package.json
Due: test, build, gather, build-content, deploy, notify

fix prisma and web pipeline ordering
  .woodpecker/.prisma.yml
  .woodpecker/.web.yml
  packages/prisma/package.json
Due: test, build, gather, build-content, deploy, notify

make both folders
  .woodpecker/.web.yml
Due: test, build, gather, build-content, deploy, notify
