Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, test, publish, notify, core, notify-success, notify-failure, web-explorer, prepare, build_docker

build:
  image: node:18
  commands:
  - npm ci -w @luzzle/cli -w @luzzle/kysely
  - npm run build -w @luzzle/kysely
  - npm run compile -w @luzzle/cli
  - npm run build -w @luzzle/cli

test:
  image: node:18
  commands:
  - npm run lint -w @luzzle/cli
  - npm run test -w @luzzle/cli

publish:
  image: node:18
  commands:
  - npm config set @luzzle:registry https://git.eleith.com/api/packages/$NPM_OWNER/npm/
  - npm config set -- "//git.eleith.com/api/packages/$NPM_OWNER/npm/:_authToken" "$NPM_TOKEN"
  - cd packages/cli
  - NPM_CURRENT_VERSION="$(npm pkg get version --workspaces=false)"
  ...

notify:
  image: deblan/woodpecker-email:1.0.1-wp
  secrets:
  - smtp_notification_from
  - smtp_notification_host
  - smtp_notification_password
  - smtp_notification_from
  - smtp_notification_recipient
  settings:
    from.address:
      from_secret: smtp_notification_from
    host:
      from_secret: smtp_notification_host
  ...

core:
  steps:
    build:
      image: node:20
      commands:
      - npm ci -w @luzzle/core -w @luzzle/cli
      - npm run lint -w @luzzle/core
      - npm run build -w @luzzle/core
      environment:
        NPM_OWNER:
          from_secret: npm_owner
        NPM_TOKEN:
          from_secret: npm_token
    test:
  ...

notify-success:
  image: deblan/woodpecker-email:3.2.0
  settings:
    dsn:
      from_secret: woodpecker_email_dsn
    from:
      address:
        from_secret: woodpecker_email_from_address
      name:
        from_secret: woodpecker_email_from_name
    recipients:
      from_secret: woodpecker_email_recipient
    level: success
  ...

notify-failure:
  image: deblan/woodpecker-email:3.2.0
  settings:
    dsn:
      from_secret: woodpecker_email_dsn
    from:
      address:
        from_secret: woodpecker_email_from_address
      name:
        from_secret: woodpecker_email_from_name
    recipients:
      from_secret: woodpecker_email_recipient
    level: failure
  ...

web-explorer:
  steps:
    prepare:
      image: node:20
      commands:
      - printf '%s' "$LUZZLE_NPMRC" | sed 's/[[:space:]]*$//' >> /root/.npmrc
      - cd packages/web/explorer
      - npm run build:lock
      - npm ci --workspaces=false
      - npm run --silent tag > .tags
      environment:
        LUZZLE_NPMRC:
  ...

prepare:
  image: node:14
  commands:
  - echo $LUZZLE_NPMRC >> .npmrc
  environment:
    LUZZLE_NPMRC:
      from_secret: luzzle_npmrc

build_docker:
  image: woodpeckerci/plugin-docker-buildx:pull_186
  settings:
    repo: git.eleith.com/eleith/luzzle
    username: eleith
    dockerfile: packages/web/Dockerfile
    context: packages/web
    registry: https://git.eleith.com
    secrets:
    - id=npmrc\\,src=.npmrc
    auto_tag: true
    password:
  ...

update .gitignore
  .gitignore
Due: none

add and update all Agents.md to enable faster onboarding
  Agents.md
  packages/cli/Agents.md
  packages/core/Agents.md
  packages/tools/Agents.md
  packages/web/editor/Agents.md
  packages/web/explorer/Agents.md
Due: build, test, publish, notify, core, notify-success, notify-failure, web-explorer, prepare, build_docker

[web-explorer] release 0.77
  package-lock.json
  packages/web/explorer/package.json
Due: notify, notify-success, notify-failure, web-explorer, prepare, build_docker

[web-explorer] lint format
  packages/web/explorer/Agents.md
Due: notify, notify-success, notify-failure, web-explorer, prepare, build_docker

[web-explorer] fix css generation and release 0.78
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/scripts/check-config.js
  packages/web/explorer/scripts/config-loader.js
  packages/web/explorer/scripts/deep-merge.js
  packages/web/explorer/scripts/generate-theme-css.js
Due: notify, notify-success, notify-failure, web-explorer, prepare, build_docker

[web-explorer] remove ttf
  packages/web/explorer/static/fonts/noto-sans.ttf
Due: notify, notify-success, notify-failure, web-explorer, prepare, build_docker

[web-explorer] support overriding default block contents
  packages/web/explorer/config/config.defaults.yaml
  packages/web/explorer/config/config.schema.json
  packages/web/explorer/content/block/feed.md
  packages/web/explorer/content/block/root.md
  packages/web/explorer/src/lib/server/config.ts
  packages/web/explorer/src/lib/server/content.ts
  packages/web/explorer/src/routes/(root)/+page.server.ts
  packages/web/explorer/src/routes/(root)/+page.svelte
  packages/web/explorer/src/routes/rss/pieces/[[piece=pieceType]]/feed.html/+page.server.ts
  packages/web/explorer/src/routes/rss/pieces/[[piece=pieceType]]/feed.html/+page.svelte
  packages/web/explorer/src/routes/rss/tags/[tag]/feed.html/+page.server.ts
  packages/web/explorer/src/routes/rss/tags/[tag]/feed.html/+page.svelte
Due: notify, notify-success, notify-failure, web-explorer, prepare, build_docker

[tools] migrate config scripts into tools (#21)
  packages/tools/package.json
  packages/tools/src/check-config/index.ts
  packages/tools/src/check-config/yargs.ts
  packages/tools/src/generate-theme/index.ts
  packages/tools/src/generate-theme/yargs.ts
  packages/tools/src/lib/config-loader.ts
  packages/tools/src/lib/config/config.defaults.yaml
  packages/tools/src/lib/config/config.schema.json
  packages/tools/src/lib/deep-merge.ts
  packages/tools/src/sdk.ts
Due: build, test, publish, notify

[tools] remove warn generate types froms schema
  packages/tools/eslint.config.js
  packages/tools/package.json
  packages/tools/src/check-config/index.ts
  packages/tools/src/lib/config-loader.ts
  packages/tools/src/lib/config/config.schema.json
  packages/tools/src/lib/config/config.schema.ts
Due: build, test, publish, notify

[tools] add tests and run in ci
  .woodpecker/.tools.yml
  packages/tools/package.json
  packages/tools/src/lib/config-loader.test.ts
  packages/tools/src/lib/deep-merge.test.ts
  packages/tools/src/lib/deep-merge.ts
  packages/tools/vite.config.ts
Due: build, test, publish, notify

[tools] implement full test coverage for tools
  package-lock.json
  packages/tools/src/check-config/index.ts
  packages/tools/src/check-config/yargs.ts
  packages/tools/src/generate-image-variants/index.ts
  packages/tools/src/generate-image-variants/variants.test.ts
  packages/tools/src/generate-image-variants/yargs.ts
  packages/tools/src/generate-open-graph/browser.test.ts
  packages/tools/src/generate-open-graph/html-generate.test.ts
  packages/tools/src/generate-open-graph/html.test.ts
  packages/tools/src/generate-open-graph/html.ts
  packages/tools/src/generate-open-graph/index.ts
  packages/tools/src/generate-open-graph/png.test.ts
  packages/tools/src/generate-open-graph/png.ts
  packages/tools/src/generate-open-graph/utils/imageToBase64.ts
  packages/tools/src/generate-open-graph/utils/lastRun.ts
  packages/tools/src/generate-open-graph/utils/toReactElement.ts
  packages/tools/src/generate-open-graph/yargs.ts
  packages/tools/src/generate-theme/index.ts
  packages/tools/src/generate-theme/theme.test.ts
  packages/tools/src/generate-theme/theme.ts
  packages/tools/src/generate-theme/yargs.ts
  packages/tools/src/generate-web-images/icon/article.ts
  packages/tools/src/generate-web-images/icon/book.ts
  packages/tools/src/generate-web-images/icon/cartridge.ts
  packages/tools/src/generate-web-images/icon/index.ts
  packages/tools/src/generate-web-images/icon/noto-sans.ttf
  packages/tools/src/generate-web-images/icon/noto-sans.woff2
  packages/tools/src/generate-web-images/icon/playing-card.ts
  packages/tools/src/generate-web-images/icon/poster.ts
  packages/tools/src/generate-web-images/opengraph.ts
  packages/tools/src/generate-web-images/utils/imageToBase64.ts
  packages/tools/src/generate-web-images/utils/lastRun.ts
  packages/tools/src/generate-web-images/variants.ts
  packages/tools/src/lib/config-loader.test.ts
  packages/tools/src/lib/config/config.test.ts
  packages/tools/src/lib/lastRun.test.ts
  packages/tools/src/lib/lastRun.ts
  packages/tools/src/sdk.ts
  packages/tools/vite.config.ts
Due: build, test, publish, notify

[tools] support field mapping for all pieces and add test coverage
  packages/tools/eslint.config.js
  packages/tools/package.json
  packages/tools/src/check-config/index.ts
  packages/tools/src/check-config/yargs.ts
  packages/tools/src/generate-theme/theme.test.ts
  packages/tools/src/generate-web-sqlite/database.mock.ts
  packages/tools/src/generate-web-sqlite/database.test.ts
  packages/tools/src/generate-web-sqlite/database.ts
  packages/tools/src/generate-web-sqlite/index.ts
  packages/tools/src/generate-web-sqlite/yargs.ts
  packages/tools/src/lib/config/config.defaults.yaml
  packages/tools/src/lib/config/config.schema.json
  packages/tools/src/lib/config/config.schema.ts
  packages/tools/vite.config.ts
Due: build, test, publish, notify

[tools] correct Agents.md
  packages/tools/Agents.md
Due: build, test, publish, notify

[luzzle] correct Agents.md
  Agents.md
Due: none

[tools] abstract path generation and expose on sdk
  packages/tools/src/sdk.ts
  packages/tools/src/tools/opengraph.ts
  packages/tools/src/tools/variants.ts
  packages/tools/src/tools/variants/getVariantPath.test.ts
  packages/tools/src/tools/variants/variants.test.ts
  packages/tools/src/tools/variants/variants.ts
Due: build, test, publish, notify

[tools] use relative paths
  packages/tools/src/tools/theme.test.ts
  packages/tools/src/tools/theme.ts
Due: build, test, publish, notify

[tools] update commands
  packages/tools/src/tools/index.ts
  packages/tools/src/tools/yargs.ts
Due: build, test, publish, notify

[tools] db paths must be relative to config path
  packages/tools/package.json
  packages/tools/src/cli.ts
  packages/tools/src/commands/opengraph/index.ts
  packages/tools/src/commands/sqlite/index.ts
  packages/tools/src/commands/variants/index.ts
  packages/tools/src/commands/variants/variants.test.ts
Due: build, test, publish, notify

Path conditions:
  build: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  test: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  publish: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  core: any of: .woodpecker/.core.yml, packages/core/**
  notify-success: (any of: .woodpecker/.core.yml, packages/core/**) or (any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**)
  notify-failure: (any of: .woodpecker/.core.yml, packages/core/**) or (any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**)
  web-explorer: any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**
  prepare: any of: .woodpecker/.web.yml, packages/web/**
  build_docker: any of: .woodpecker/.web.yml, packages/web/**
