Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: cli, notify-success, notify-failure, core, build, test, publish, notify, tools, web-editor, web-explorer, prepare, build_docker

cli:
  steps:
    build:
      image: node:22
      commands:
      - npm ci -w @luzzle/core -w @luzzle/cli
      - npm run build -w @luzzle/core
      - npm run compile -w @luzzle/cli
      - npm run build -w @luzzle/cli
    test:
      image: node:22
      commands:
      - npm run lint -w @luzzle/cli
  ...

notify-success:
  image: deblan/woodpecker-email:3.2.0
  settings:
    dsn:
      from_secret: woodpecker_email_dsn
    from:
      address:
        from_secret: woodpecker_email_from_address
      name:
        from_secret: woodpecker_email_from_name
    recipients:
      from_secret: woodpecker_email_recipient
    level: success
  ...

notify-failure:
  image: deblan/woodpecker-email:3.2.0
  settings:
    dsn:
      from_secret: woodpecker_email_dsn
    from:
      address:
        from_secret: woodpecker_email_from_address
      name:
        from_secret: woodpecker_email_from_name
    recipients:
      from_secret: woodpecker_email_recipient
    level: failure
  ...

core:
  steps:
    build:
      image: node:20
      commands:
      - npm ci -w @luzzle/core -w @luzzle/cli
      - npm run lint -w @luzzle/core
      - npm run build -w @luzzle/core
      environment:
        NPM_OWNER:
          from_secret: npm_owner
        NPM_TOKEN:
          from_secret: npm_token
    test:
  ...

build:
  image: node:18
  commands:
  - npm ci -w @luzzle/prisma
  - npm run compile -w @luzzle/prisma
  - npm run build -w @luzzle/prisma

test:
  image: node:18
  commands:
  - npm run lint -w @luzzle/prisma

publish:
  image: node:18
  commands:
  - npm config set @luzzle:registry https://git.eleith.com/api/packages/$NPM_OWNER/npm/
  - npm config set -- "//git.eleith.com/api/packages/$NPM_OWNER/npm/:_authToken" "$NPM_TOKEN"
  - cd packages/prisma
  - NPM_CURRENT_VERSION="$(npm pkg get version --workspaces=false)"
  ...

notify:
  image: deblan/woodpecker-email:1.0.0-wp
  secrets:
  - smtp_notification_from
  - smtp_notification_host
  - smtp_notification_password
  - smtp_notification_from
  - smtp_notification_recipient
  settings:
    from:
      from_secret: smtp_notification_from
    host:
      from_secret: smtp_notification_host
  ...

tools:
  steps:
    build:
      image: node:22
      commands:
      - npm ci -w @luzzle/core -w @luzzle/cli
      - npm run build -w @luzzle/core -w @luzzle/cli
      - npm ci -w @luzzle/tools
      - npm run build -w @luzzle/tools
    test:
      image: node:22
      commands:
      - npm run lint -w @luzzle/tools
  ...

web-editor:
  steps:
    prepare:
      image: node:20
      commands:
      - printf '%s' "$LUZZLE_NPMRC" | sed 's/[[:space:]]*$//' >> /root/.npmrc
      - npm ci -w @luzzle/core -w @luzzle/cli -w @luzzle/web-editor
      environment:
        LUZZLE_NPMRC:
          from_secret: luzzle_npmrc
    lint:
      image: node:20
  ...

prepare:
  image: node:14
  commands:
  - echo $LUZZLE_NPMRC >> .npmrc
  environment:
    LUZZLE_NPMRC:
      from_secret: luzzle_npmrc

[web-explorer] custom page default
  packages/web/explorer/src/lib/pieces/components/page.default.svelte
  packages/web/explorer/src/lib/pieces/components/page.svelte
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug]/+layout@.svelte
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug]/+page.server.ts
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug]/+page.svelte
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] lint and fixes
  packages/web/explorer/src/lib/pieces/components/page.default.svelte
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug]/+page.server.ts
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug]/+page.svelte
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] component takes helpers
  packages/web/explorer/src/lib/pieces/components/page.svelte
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] simplify gradient background
  packages/web/explorer/src/lib/components/layout/simple/nav.svelte
  packages/web/explorer/src/lib/pieces/components/page.default.svelte
  packages/web/explorer/src/lib/ui/styles/base.css
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] release 0.0.92
  package-lock.json
  packages/web/explorer/package.json
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] use private repo
  .woodpecker/.web-explorer.yml
Due: notify-success, notify-failure, web-explorer

[web-explorer] piece type restriction, release 0.0.93
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/scripts/set-piece-types.js
  packages/web/explorer/src/params/pieceType.ts
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] replace melt with bits
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/src/lib/components/layout/simple/nav.svelte
  packages/web/explorer/svelte.config.js
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-editor] remove melt lib
  package-lock.json
  packages/web/editor/package.json
  packages/web/editor/src/lib/components/layout/simple/nav.svelte
  packages/web/editor/svelte.config.js
Due: notify-success, notify-failure, notify, web-editor, prepare, build_docker

[web-explorer] next, prev links and year filter
  packages/web/explorer/src/routes/pieces/[[piece=pieceType]]/+page.server.ts
  packages/web/explorer/src/routes/pieces/[[piece=pieceType]]/+page.svelte
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[tools] better type names. release 0.0.50
  package-lock.json
  packages/tools/package.json
  packages/tools/src/commands/opengraph/html.test.ts
  packages/tools/src/commands/opengraph/svelte.ts
  packages/tools/src/commands/opengraph/utils.ts
  packages/tools/src/lib/browser.ts
  packages/tools/src/types.ts
Due: notify-success, notify-failure, tools

[web-explorer] update tools, lint, release 0.0.94
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/src/lib/pieces/components/icon.svelte
  packages/web/explorer/src/lib/pieces/components/opengraph.default.svelte
  packages/web/explorer/src/lib/pieces/components/opengraph.svelte
  packages/web/explorer/src/lib/pieces/components/page.svelte
  packages/web/explorer/src/routes/pieces/[[piece=pieceType]]/+page.server.ts
  packages/web/explorer/tsconfig.json
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] migrate to rehyp/remark/unified
  package-lock.json
  package.json
  packages/web/editor/package.json
  packages/web/explorer/package.json
  packages/web/explorer/src/lib/server/content.ts
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug]/+page.server.ts
Due: notify-success, notify-failure, notify, web-editor, web-explorer, prepare, build_docker

[core] fix markdown escape bug, better typing
  .woodpecker/.core.yml
  package-lock.json
  packages/core/package.json
  packages/core/scripts/check-version.js
  packages/core/src/lib/markdown.test.ts
  packages/core/src/lib/markdown.ts
Due: notify-success, notify-failure, core

[cli] update core 0.0.23
  .woodpecker/.cli.yml
  package-lock.json
  packages/cli/package.json
  packages/cli/scripts/check-version.js
Due: cli, notify-success, notify-failure

[tools] release 0.0.51
  package-lock.json
  packages/tools/package.json
Due: notify-success, notify-failure, tools

[web-explorer] expanded markdown support (#23)
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/src/lib/server/content.ts
  packages/web/explorer/src/lib/server/markdown.ts
  packages/web/explorer/src/lib/ui/styles/markdown.css
  packages/web/explorer/src/routes/+layout.svelte
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug]/+page.server.ts
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] only process notes for conversion
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/src/lib/pieces/components/page.default.svelte
  packages/web/explorer/src/lib/pieces/components/page.svelte
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug]/+page.server.ts
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug]/+page.svelte
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-editor] cli 0.0.121 bump
  .woodpecker/.web-editor.yml
  package-lock.json
  packages/web/editor/package.json
Due: notify-success, notify-failure, notify, web-editor, prepare, build_docker

[tools] release 0.0.52, support md theme in config
  package-lock.json
  packages/tools/package.json
  packages/tools/src/lib/config/defaults.yaml
  packages/tools/src/lib/config/schema.json
  packages/tools/src/lib/config/schema.ts
  packages/web/explorer/src/lib/server/markdown.ts
Due: notify-success, notify-failure, notify, tools, web-explorer, prepare, build_docker

Path conditions:
  cli: any of: .woodpecker/.cli.yml, packages/cli/**
  notify-success: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.core.yml, packages/core/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.web-editor.yml, packages/web/editor/**) or (any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**)
  notify-failure: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.core.yml, packages/core/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.web-editor.yml, packages/web/editor/**) or (any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**)
  core: any of: .woodpecker/.core.yml, packages/core/**
  build: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  test: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  publish: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  tools: any of: .woodpecker/.tools.yml, packages/tools/**
  web-editor: any of: .woodpecker/.web-editor.yml, packages/web/editor/**
  web-explorer: any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**
  prepare: any of: .woodpecker/.web.yml, packages/web/**
  build_docker: any of: .woodpecker/.web.yml, packages/web/**
