Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: test, build, publish, notify, gather, build-content, deploy

Path conditions:
  test: (any of: .woodpecker/.cli.yml, packages/cli/*) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  build: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: Dockerfile, .woodpecker/.web.yml, packages/web/**)
  publish: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: Dockerfile, .woodpecker/.web.yml, packages/web/**)
  gather: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  build-content: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  deploy: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**

[ui] more reasonable line heights
  packages/ui/components/Text/styles.css.ts
  packages/ui/package.json
Due: test, build, publish, notify

[web] add description to book page
  package-lock.json
  packages/web/package.json
  packages/web/src/pages/books/[slug].tsx
Due: test, build, notify, gather, build-content, deploy

[ui] multi-line link underline animation
  packages/ui/components/Anchor/styles.css.ts
  packages/ui/package.json
  packages/web/package.json
Due: test, build, publish, notify, gather, build-content, deploy

style rss feed with xslt
  package-lock.json
  packages/web/src/common/rss/index.ts
Due: test, build, notify, gather, build-content, deploy

ensure xslt is not ignored
  packages/web/.gitignore
  packages/web/public/rss/feed.xslt
Due: test, build, notify, gather, build-content, deploy

bump email ci version
  .woodpecker/.web.yml
Due: test, build, notify, gather, build-content, deploy

support newlines in notes and description
  packages/web/src/pages/books/[slug].css.ts
  packages/web/src/pages/books/[slug].tsx
Due: test, build, notify, gather, build-content, deploy

linting fixes for convertng to tabs
  packages/web/.prettierrc.json
  packages/web/src/@types/mdx.d.ts
  packages/web/src/common/components/layout/Page.css.ts
  packages/web/src/common/components/layout/meta.tsx
  packages/web/src/common/graphql/book/objects/book.ts
  packages/web/src/common/graphql/book/queries/book.ts
  packages/web/src/common/rss/index.ts
  packages/web/src/pages/404.tsx
  packages/web/src/pages/api/books/og:image.api.tsx
  packages/web/src/pages/books/index.tsx
Due: test, build, notify, gather, build-content, deploy

linting more fixes for converting to tabs
  packages/web/src/lib/graphql/builder.ts
  packages/web/src/lib/graphql/context.ts
  packages/web/src/lib/graphql/request.ts
  packages/web/src/lib/graphql/staticClient.ts
  packages/web/src/lib/graphql/tag.ts
  packages/web/src/lib/markdown/jsx2md.ts
  packages/web/src/lib/markdown/mdx2md.ts
  packages/web/src/pages/_app.tsx
  packages/web/src/pages/_document.tsx
  packages/web/src/pages/_error.tsx
  packages/web/src/pages/api/graphql.api.ts
  packages/web/src/pages/books/index.css.ts
  packages/web/src/pages/index.css.ts
  packages/web/src/pages/index.md.tsx
  packages/web/src/pages/index.tsx
  packages/web/src/pages/search.css.ts
  packages/web/src/pages/search.tsx
  packages/web/src/pages/tags/[slug].tsx
  packages/web/src/pages/tags/index.css.ts
Due: test, build, notify, gather, build-content, deploy

linting more fixes for converting to tabs
  packages/web/.eslintrc.json
  packages/web/src/@types/async.d.ts
  packages/web/src/@types/environment.d.ts
  packages/web/src/@types/mdx.d.ts
  packages/web/src/@types/typography.d.ts
  packages/web/src/@types/utilities.d.ts
  packages/web/src/common/components/books/BookCover.tsx
  packages/web/src/common/components/books/BookCoverFor.tsx
  packages/web/src/common/components/books/styles.css.ts
  packages/web/src/common/components/layout/Page.tsx
  packages/web/src/common/components/layout/PageBannerSlide.css.ts
  packages/web/src/common/components/layout/PageBannerSlide.tsx
  packages/web/src/common/components/layout/PageFull.tsx
  packages/web/src/common/components/layout/PageMarkdown.tsx
  packages/web/src/common/components/mdx/components.tsx
  packages/web/src/common/components/pages/book/DiscussionForm.tsx
  packages/web/src/common/components/pages/book/RecommendationForm.tsx
  packages/web/src/common/config.tsx
  packages/web/src/common/emailjs/index.ts
  packages/web/src/common/graphql/book/objects/bookSiblings.ts
  packages/web/src/common/graphql/book/queries/books.ts
  packages/web/src/common/graphql/discussion/mutations/book.ts
  packages/web/src/common/graphql/error/objects/error.ts
  packages/web/src/common/graphql/error/objects/validation.ts
  packages/web/src/common/graphql/fetch.tsx
  packages/web/src/common/graphql/search/queries/search.ts
  packages/web/src/common/graphql/tag/objects/tag.ts
  packages/web/src/common/hooks/useGraphSWR.tsx
  packages/web/src/common/hooks/useGraphSWRInfinite.tsx
Due: test, build, notify, gather, build-content, deploy

generate thumbnails of covers
  package-lock.json
  package.json
  packages/cli/package.json
  packages/cli/src/lib/assets.ts
  packages/cli/src/lib/books/book.test.ts
  packages/cli/src/lib/books/book.ts
  packages/cli/src/lib/books/books.test.ts
  packages/cli/src/lib/books/books.ts
  packages/cli/src/lib/books/open-library.test.ts
  packages/cli/src/lib/cache.ts
  packages/cli/src/lib/commands/process.ts
  packages/cli/src/lib/web.test.ts
  packages/cli/vite.config.ts
Due: test

bump cli package version
  packages/cli/package.json
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/commands/sync.private.ts
Due: test

linting
  packages/cli/src/lib/books/book.test.ts
  packages/cli/src/lib/commands/sync.private.ts
Due: none

log thumbnail generation
  packages/cli/package.json
  packages/cli/src/lib/books/book.ts
Due: test

support thumbnails
  .woodpecker/.cli.yml
  .woodpecker/.kysely.yml
  .woodpecker/.ui.yml
  .woodpecker/.web.yml
  packages/web/.gitignore
  packages/web/next.config.js
  packages/web/package.json
  packages/web/src/common/components/books/BookCover.tsx
  packages/web/src/common/components/books/BookCoverFor.tsx
  packages/web/src/pages/api/books/og:image.api.tsx
  packages/web/src/pages/books/index.tsx
Due: test, build, publish, notify, gather, build-content, deploy

hide title when there is a book cover
  packages/web/package.json
  packages/web/src/common/components/books/BookCover.tsx
Due: test, build, notify, gather, build-content, deploy

lazy load images
  packages/web/package.json
  packages/web/src/common/components/books/BookCover.tsx
Due: test, build, notify, gather, build-content, deploy

eager load the first 10 books
  packages/web/package.json
  packages/web/src/common/components/books/BookCover.tsx
  packages/web/src/pages/books/index.tsx
  packages/web/src/pages/tags/[slug].tsx
Due: test, build, notify, gather, build-content, deploy
