Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: cli, notify-success, notify-failure, build, test, publish, notify, tools, web-editor, web-explorer, prepare, build_docker

Path conditions:
  cli: any of: .woodpecker/.cli.yml, packages/cli/**
  notify-success: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.web-editor.yml, packages/web/editor/**) or (any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**)
  notify-failure: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.web-editor.yml, packages/web/editor/**) or (any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**)
  build: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  test: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  publish: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  tools: any of: .woodpecker/.tools.yml, packages/tools/**
  web-editor: any of: .woodpecker/.web-editor.yml, packages/web/editor/**
  web-explorer: any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**
  prepare: any of: .woodpecker/.web.yml, packages/web/**
  build_docker: any of: .woodpecker/.web.yml, packages/web/**

[tools] release 0.0.53, require mk theme for defaults
  package-lock.json
  packages/tools/package.json
  packages/tools/src/commands/sqlite/database.test.ts
  packages/tools/src/commands/theme/theme.test.ts
  packages/tools/src/lib/config/schema.json
  packages/tools/src/lib/config/schema.ts
Due: notify-success, notify-failure, tools

[tools] release 0.0.54, improve md theme types
  package-lock.json
  packages/tools/package.json
  packages/tools/src/commands/sqlite/database.test.ts
  packages/tools/src/lib/config/schema.json
  packages/tools/src/lib/config/schema.ts
Due: notify-success, notify-failure, tools

[web-explorer] release 0.0.98, custom md code theme
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/src/lib/server/markdown.ts
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] support sidenotes instead of footnotes (#24)
  packages/web/explorer/package.json
  packages/web/explorer/src/lib/pieces/components/page.default.svelte
  packages/web/explorer/src/lib/server/markdown.ts
  packages/web/explorer/src/lib/server/remark-gfm.ts
  packages/web/explorer/src/lib/server/remark-sidenotes.ts
  packages/web/explorer/src/lib/ui/styles/base.css
  packages/web/explorer/src/lib/ui/styles/markdown.css
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] lint format
  packages/web/explorer/src/lib/server/remark-gfm.ts
  packages/web/explorer/src/lib/server/remark-sidenotes.ts
  packages/web/explorer/src/lib/ui/styles/base.css
  packages/web/explorer/src/lib/ui/styles/markdown.css
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] make id more visual
  packages/web/explorer/src/lib/ui/styles/markdown.css
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[tools] singular css vars and sidenote css
  package-lock.json
  packages/tools/package.json
  packages/tools/src/commands/sqlite/database.test.ts
  packages/tools/src/commands/theme/theme.test.ts
  packages/tools/src/commands/theme/theme.ts
  packages/tools/src/lib/config/defaults.yaml
  packages/tools/src/lib/config/schema.json
  packages/tools/src/lib/config/schema.ts
Due: notify-success, notify-failure, tools

[web-explorer] align with tools 0.0.55
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/src/lib/components/layout/simple/nav.svelte
  packages/web/explorer/src/lib/pieces/components/icon.default.svelte
  packages/web/explorer/src/lib/pieces/components/page.default.svelte
  packages/web/explorer/src/lib/ui/styles/base.css
  packages/web/explorer/src/lib/ui/styles/markdown.css
  packages/web/explorer/src/routes/(root)/+page.svelte
  packages/web/explorer/src/routes/pieces/[[piece=pieceType]]/+page.svelte
  packages/web/explorer/src/routes/rss/pieces/[[piece=pieceType]]/feed.html/+page.svelte
  packages/web/explorer/src/routes/rss/tags/[tag]/feed.html/+page.svelte
  packages/web/explorer/src/routes/search/+page.svelte
  packages/web/explorer/src/routes/tags/[tag]/+page.svelte
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[tools] release 0.0.55, fix deep style configs
  package-lock.json
  packages/tools/package.json
  packages/tools/src/commands/theme/theme.test.ts
  packages/tools/src/commands/theme/theme.ts
  packages/tools/src/lib/config/defaults.yaml
Due: notify-success, notify-failure, tools

[web-explorer] update tools 0.0.56
  package-lock.json
  packages/web/explorer/package.json
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] release 0.0.99
  package-lock.json
  packages/web/explorer/package.json
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] more markdown style updates
  packages/web/explorer/src/lib/server/markdown.ts
  packages/web/explorer/src/lib/ui/styles/markdown.css
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] lint, tag restyling
  packages/web/explorer/src/lib/ui/styles/markdown.css
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] release 0.0.100
  package-lock.json
  packages/web/explorer/package.json
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[tools] release 0.0.57, fix opengraph directory creation
  package-lock.json
  packages/tools/package.json
  packages/tools/src/commands/opengraph/png.ts
  packages/tools/src/commands/opengraph/svelte.ts
Due: notify-success, notify-failure, tools

[web-explorer] update markdown styles
  packages/web/explorer/src/lib/ui/styles/markdown.css
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug]/+page.server.ts
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] release 0.0.101
  package-lock.json
  packages/web/explorer/package.json
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-utils] release 0.0.1
  .woodpecker/.web-utils.yml
  package-lock.json
  package.json
  packages/web/utils/.gitignore
  packages/web/utils/eslint.config.js
  packages/web/utils/package.json
  packages/web/utils/src/index.ts
  packages/web/utils/src/lib/assets.test.ts
  packages/web/utils/src/lib/assets.ts
  packages/web/utils/src/lib/config/config.test.ts
  packages/web/utils/src/lib/config/config.ts
  packages/web/utils/src/lib/config/defaults.yaml
  packages/web/utils/src/lib/config/schema.json
  packages/web/utils/src/lib/config/schema.ts
  packages/web/utils/src/lib/config/user-error.config.yaml
  packages/web/utils/src/lib/config/user.config.yaml
  packages/web/utils/src/lib/deep-merge.test.ts
  packages/web/utils/src/lib/deep-merge.ts
  packages/web/utils/src/lib/sqlite.ts
  packages/web/utils/src/lib/vibrant.test.ts
  packages/web/utils/src/lib/vibrant.ts
  packages/web/utils/src/server.ts
  packages/web/utils/tsconfig.json
  packages/web/utils/vite.config.ts
Due: notify, prepare, build_docker

[web.utils] release 0.0.2
  packages/web/utils/package.json
  packages/web/utils/src/index.ts
  packages/web/utils/src/server.ts
Due: notify, prepare, build_docker

[web.utils] release 0.0.3
  packages/web/utils/package.json
Due: notify, prepare, build_docker
