Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, test, publish, notify, prepare, build_docker, notify-success, notify-failure

Path conditions:
  build: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.core.yml, packages/core/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  test: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.core.yml, packages/core/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  publish: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.core.yml, packages/core/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.core.yml, packages/core/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  prepare: (any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  build_docker: (any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  notify-success: any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**
  notify-failure: any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**

[web-editor] support asset viewing
  packages/web/editor/package.json
  packages/web/editor/src/lib/storage/index.ts
  packages/web/editor/src/routes/asset/[...asset]/+server.ts
  packages/web/editor/src/routes/pieces/[[directory]]/[...piece]/+page.svelte
Due: notify, prepare, build_docker

[cli] abstract out when clause for ci
  .woodpecker/.cli.yml
Due: build, test, publish, notify

[cli] support streams for setField with attachments
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/pieces/piece.test.ts
  packages/cli/src/lib/pieces/piece.ts
Due: build, test, publish, notify

[web-editor] save and asset uploading
  package-lock.json
  packages/web/editor/package.json
  packages/web/editor/src/routes/pieces/[[directory]]/[...piece]/+page.server.ts
  packages/web/editor/src/routes/pieces/[[directory]]/[...piece]/+page.svelte
Due: notify, prepare, build_docker

[web-editor] field display and input components
  packages/web/editor/src/lib/components/pieces/fields/display.svelte
  packages/web/editor/src/lib/components/pieces/fields/edit.svelte
  packages/web/editor/src/routes/pieces/[[directory]]/[...piece]/+page.svelte
Due: notify, prepare, build_docker

[cli] setField and removeField improvements
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/commands/command/field.test.ts
  packages/cli/src/lib/commands/command/field.ts
  packages/cli/src/lib/pieces/piece.test.ts
  packages/cli/src/lib/pieces/piece.ts
  packages/cli/src/lib/pieces/utils.test.ts
  packages/cli/src/lib/pieces/utils.ts
  packages/cli/src/sdk.ts
Due: build, test, publish, notify

[cli] fix removeField bug
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/pieces/piece.test.ts
  packages/cli/src/lib/pieces/piece.ts
  packages/cli/src/lib/pieces/utils.ts
Due: build, test, publish, notify

[cli] expose prompt to frontmatter in sdk and make it work with buffers
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/commands/command/assistant.test.ts
  packages/cli/src/lib/commands/command/assistant.ts
  packages/cli/src/lib/llm/google.test.ts
  packages/cli/src/lib/llm/google.ts
  packages/cli/src/sdk.ts
Due: build, test, publish, notify

[cli] handle attachement errors gracefully
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/commands/command/assistant.test.ts
  packages/cli/src/lib/commands/command/assistant.ts
  packages/cli/src/lib/llm/google.test.ts
  packages/cli/src/lib/llm/google.ts
  packages/cli/src/lib/pieces/piece.test.ts
  packages/cli/src/lib/pieces/piece.ts
  packages/cli/src/lib/pieces/utils.test.ts
  packages/cli/src/lib/pieces/utils.ts
  packages/cli/src/lib/web.test.ts
  packages/cli/src/lib/web.ts
  packages/cli/src/sdk.ts
Due: build, test, publish, notify

[cli] add piece delete method
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/pieces/piece.test.ts
  packages/cli/src/lib/pieces/piece.ts
Due: build, test, publish, notify

[web-editor] prompt, create, edit delete cycle established
  package-lock.json
  packages/web/editor/package.json
  packages/web/editor/src/lib/components/layout/simple/nav.svelte
  packages/web/editor/src/lib/components/pieces/fields/edit.svelte
  packages/web/editor/src/lib/components/pieces/fields/editAsset.svelte
  packages/web/editor/src/lib/components/pieces/fields/types.ts
  packages/web/editor/src/lib/storage/index.ts
  packages/web/editor/src/lib/ui/styles/reset.css
  packages/web/editor/src/routes/(root)/+page.svelte
  packages/web/editor/src/routes/directory/list/+layout.svelte
  packages/web/editor/src/routes/directory/list/[...directory]/+page.server.ts
  packages/web/editor/src/routes/directory/list/[...directory]/+page.svelte
  packages/web/editor/src/routes/pieces/+layout.svelte
  packages/web/editor/src/routes/pieces/[[directory]]/[...piece]/+page.server.ts
  packages/web/editor/src/routes/pieces/create/[[directory]]/[...piece]/+page.server.ts
  packages/web/editor/src/routes/pieces/create/[[directory]]/[...piece]/+page.svelte
  packages/web/editor/src/routes/pieces/list/[[directory]]/[...piece]/+page.server.ts
  packages/web/editor/src/routes/pieces/list/[[directory]]/[...piece]/+page.svelte
  packages/web/editor/static/css/elements.css
  packages/web/editor/static/css/reset.css
  packages/web/editor/static/css/theme.css
Due: notify, prepare, build_docker

[web-editor] clean up and dockerize
  package-lock.json
  packages/web/editor/.env.sample
  packages/web/editor/Dockerfile
  packages/web/editor/docker-compose.yml
  packages/web/editor/package.json
  packages/web/editor/src/hooks.server.ts
  packages/web/editor/src/hooks.ts
  packages/web/editor/src/lib/components/layout/simple/nav.svelte
  packages/web/editor/src/lib/pieces/index.ts
  packages/web/editor/src/lib/ui/styles/theme.css
  packages/web/editor/src/lib/ui/styles/themes.ts
  packages/web/editor/src/routes/(root)/+layout.svelte
  packages/web/editor/src/routes/(root)/+page.server.ts
  packages/web/editor/src/routes/asset/[...asset]/+server.ts
  packages/web/editor/src/routes/directory/list/[...directory]/+page.server.ts
  packages/web/editor/src/routes/pieces/create/[[directory]]/[...piece]/+page.server.ts
  packages/web/editor/src/routes/pieces/list/[[directory]]/[...piece]/+page.server.ts
  packages/web/editor/static/rss/feed.xslt
  packages/web/editor/svelte.config.js
  packages/web/editor/web.package-lock.json
Due: notify, prepare, build_docker

[ci] simplify and align ci jobs
  .woodpecker/.core.yml
  .woodpecker/.tools.yml
  .woodpecker/.web-explorer.yml
Due: build, test, publish, notify, prepare, build_docker, notify-success, notify-failure

[tools] update eslint
  package-lock.json
  packages/tools/.eslintrc.json
  packages/tools/eslint.config.js
  packages/tools/package.json
Due: build, test, publish, notify

[web-explorer] fix ci syntax
  .woodpecker/.web-explorer.yml
Due: prepare, build_docker, notify-success, notify-failure

[web-editor] docker ci build
  .woodpecker/.web-editor.yml
  packages/web/editor/Dockerfile
Due: notify, prepare, build_docker

[core] set nullable if required
  package-lock.json
  packages/core/package.json
  packages/core/src/pieces/json.schema.ts
  packages/core/src/pieces/utils/frontmatter.ts
Due: build, test, publish, notify

[cli] bump core
  package-lock.json
  packages/cli/package.json
Due: build, test, publish, notify

[web-editor] fix required and uploading
  .woodpecker/.web-editor.yml
  package-lock.json
  packages/web/editor/Dockerfile
  packages/web/editor/package.json
  packages/web/editor/src/lib/components/pieces/fields/edit.svelte
  packages/web/editor/src/lib/components/pieces/fields/editAsset.svelte
  packages/web/editor/src/lib/components/pieces/fields/types.ts
  packages/web/editor/src/routes/directory/list/+layout.svelte
  packages/web/editor/src/routes/pieces/create/[[directory]]/[...piece]/+page.server.ts
  packages/web/editor/src/routes/pieces/list/[[directory]]/[...piece]/+page.server.ts
  packages/web/editor/web.package-lock.json
Due: notify, prepare, build_docker

[web-editor] fix image upload on create
  packages/web/editor/src/routes/pieces/create/[[directory]]/[...piece]/+page.server.ts
Due: notify, prepare, build_docker
