Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, test, publish, notify, core, notify-success, notify-failure, prepare, build_docker

build:
  image: node:18
  commands:
  - npm ci -w @luzzle/cli -w @luzzle/kysely
  - npm run build -w @luzzle/kysely
  - npm run compile -w @luzzle/cli
  - npm run build -w @luzzle/cli

test:
  image: node:18
  commands:
  - npm run lint -w @luzzle/cli
  - npm run test -w @luzzle/cli

publish:
  image: node:18
  commands:
  - npm config set @luzzle:registry https://git.eleith.com/api/packages/$NPM_OWNER/npm/
  - npm config set -- "//git.eleith.com/api/packages/$NPM_OWNER/npm/:_authToken" "$NPM_TOKEN"
  - cd packages/cli
  - NPM_CURRENT_VERSION="$(npm pkg get version --workspaces=false)"
  ...

notify:
  image: deblan/woodpecker-email:1.0.1-wp
  secrets:
  - smtp_notification_from
  - smtp_notification_host
  - smtp_notification_password
  - smtp_notification_from
  - smtp_notification_recipient
  settings:
    from.address:
      from_secret: smtp_notification_from
    host:
      from_secret: smtp_notification_host
  ...

core:
  steps:
    build:
      image: node:20
      commands:
      - npm ci -w @luzzle/core -w @luzzle/cli
      - npm run lint -w @luzzle/core
      - npm run build -w @luzzle/core
      environment:
        NPM_OWNER:
          from_secret: npm_owner
        NPM_TOKEN:
          from_secret: npm_token
    test:
  ...

notify-success:
  image: deblan/woodpecker-email:3.2.0
  settings:
    dsn:
      from_secret: woodpecker_email_dsn
    from:
      address:
        from_secret: woodpecker_email_from_address
      name:
        from_secret: woodpecker_email_from_name
    recipients:
      from_secret: woodpecker_email_recipient
    level: success
  ...

notify-failure:
  image: deblan/woodpecker-email:3.2.0
  settings:
    dsn:
      from_secret: woodpecker_email_dsn
    from:
      address:
        from_secret: woodpecker_email_from_address
      name:
        from_secret: woodpecker_email_from_name
    recipients:
      from_secret: woodpecker_email_recipient
    level: failure
  ...

prepare:
  image: node:14
  commands:
  - echo $LUZZLE_NPMRC >> .npmrc
  environment:
    LUZZLE_NPMRC:
      from_secret: luzzle_npmrc

build_docker:
  image: woodpeckerci/plugin-docker-buildx:pull_186
  settings:
    repo: git.eleith.com/eleith/luzzle
    username: eleith
    dockerfile: packages/web/explorer/Dockerfile
    context: packages/web/explorer
    registry: https://git.eleith.com
    secrets:
    - id=npmrc\\,src=.npmrc
    auto_tag: true
    password:
  ...

[core] support paragraph format
  package-lock.json
  packages/core/package.json
  packages/core/src/lib/ajv.test.ts
  packages/core/src/lib/ajv.ts
  packages/core/src/pieces/utils/frontmatter.ts
Due: core, notify-success, notify-failure

[cli] bump core and expose core types
  package-lock.json
  packages/cli/package.json
  packages/cli/src/sdk.ts
Due: build, test, publish, notify

[web-editor]
  package-lock.json
  packages/web/editor/package.json
  packages/web/editor/src/lib/pieces/components/fields/display.svelte
  packages/web/editor/src/lib/pieces/components/fields/edit.svelte
  packages/web/editor/src/lib/pieces/components/fields/editAsset.svelte
  packages/web/editor/src/lib/pieces/components/fields/types.ts
  packages/web/editor/src/lib/pieces/formData.ts
  packages/web/editor/src/lib/pieces/index.ts
  packages/web/editor/src/routes/(root)/+page.server.ts
  packages/web/editor/src/routes/directory/list/[...directory]/+page.server.ts
  packages/web/editor/src/routes/directory/list/[...directory]/+page.svelte
  packages/web/editor/src/routes/pieces/create/[[directory]]/[...piece]/+page.server.ts
  packages/web/editor/src/routes/pieces/create/[[directory]]/[...piece]/+page.svelte
  packages/web/editor/src/routes/pieces/list/[[directory]]/[...piece]/+page.server.ts
  packages/web/editor/src/routes/pieces/list/[[directory]]/[...piece]/+page.svelte
  packages/web/editor/web.package-lock.json
Due: notify, prepare, build_docker

[web-editor] display ui updates
  packages/web/editor/src/lib/components/layout/simple/nav.svelte
  packages/web/editor/src/routes/directory/list/+layout.svelte
  packages/web/editor/src/routes/directory/list/[...directory]/+page.svelte
  packages/web/editor/src/routes/pieces/+layout.svelte
  packages/web/editor/src/routes/pieces/list/[[directory]]/[...piece]/+page.svelte
Due: notify, prepare, build_docker

[web-editor] abstracted out edit routes
  packages/web/editor/src/lib/pieces/components/fields/edit.svelte
  packages/web/editor/src/lib/pieces/components/fields/editAsset.svelte
  packages/web/editor/src/lib/pieces/formData.ts
  packages/web/editor/src/lib/ui/styles/reset.css
  packages/web/editor/src/routes/asset/[...asset]/+server.ts
  packages/web/editor/src/routes/pieces/+layout.svelte
  packages/web/editor/src/routes/pieces/create/[[directory]]/[...piece]/+page.server.ts
  packages/web/editor/src/routes/pieces/create/[[directory]]/[...piece]/+page.svelte
  packages/web/editor/src/routes/pieces/edit/[[directory]]/[...piece]/+page.server.ts
  packages/web/editor/src/routes/pieces/edit/[[directory]]/[...piece]/+page.svelte
  packages/web/editor/src/routes/pieces/list/[[directory]]/[...piece]/+page.server.ts
  packages/web/editor/src/routes/pieces/list/[[directory]]/[...piece]/+page.svelte
Due: notify, prepare, build_docker

[web-editor] make asset links open a new tab
  packages/web/editor/src/lib/pieces/components/fields/display.svelte
  packages/web/editor/src/lib/pieces/components/fields/editAsset.svelte
Due: notify, prepare, build_docker

[web-editor] support url or file asset upload
  packages/web/editor/src/lib/pieces/components/fields/editAsset.svelte
  packages/web/editor/src/lib/pieces/formData.ts
  packages/web/editor/src/routes/pieces/edit/[[directory]]/[...piece]/+page.server.ts
  packages/web/editor/src/routes/pieces/edit/[[directory]]/[...piece]/+page.svelte
Due: notify, prepare, build_docker

[web-editor] clean crlf from note
  packages/web/editor/src/lib/pieces/formData.ts
  packages/web/editor/src/routes/pieces/create/[[directory]]/[...piece]/+page.server.ts
  packages/web/editor/src/routes/pieces/edit/[[directory]]/[...piece]/+page.server.ts
Due: notify, prepare, build_docker

[web-editor] fix create asset bug
  packages/web/editor/src/lib/pieces/components/fields/editAsset.svelte
Due: notify, prepare, build_docker

check upload validity
  packages/web/editor/src/lib/pieces/components/fields/editAsset.svelte
  packages/web/editor/src/lib/pieces/formData.ts
Due: notify, prepare, build_docker

notes and improved form handling
  packages/web/editor/src/lib/pieces/components/fields/edit.svelte
  packages/web/editor/src/lib/pieces/components/fields/editAsset.svelte
  packages/web/editor/src/routes/pieces/create/[[directory]]/[...piece]/+page.server.ts
  packages/web/editor/src/routes/pieces/create/[[directory]]/[...piece]/+page.svelte
  packages/web/editor/src/routes/pieces/list/[[directory]]/[...piece]/+page.server.ts
  packages/web/editor/src/routes/pieces/list/[[directory]]/[...piece]/+page.svelte
Due: notify, prepare, build_docker

[cli] migrate to new google llm integration
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/llm/google.test.ts
  packages/cli/src/lib/llm/google.ts
Due: build, test, publish, notify

[web-editor] bump luzzle/cli
  .woodpecker/.web-editor.yml
  package-lock.json
  packages/web/editor/package.json
  packages/web/editor/web.package-lock.json
Due: notify, prepare, build_docker

[cli] improved file embedding in llms
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/commands/command/assistant.ts
  packages/cli/src/lib/llm/google.test.ts
  packages/cli/src/lib/llm/google.ts
Due: build, test, publish, notify

[web-editor] prompt supports multiple attachments
  package-lock.json
  packages/web/editor/package.json
  packages/web/editor/src/lib/pieces/index.ts
  packages/web/editor/src/routes/pieces/create/[[directory]]/[...piece]/+page.server.ts
  packages/web/editor/src/routes/pieces/create/[[directory]]/[...piece]/+page.svelte
  packages/web/editor/web.package-lock.json
Due: notify, prepare, build_docker

[web-editor] deploy to release webhook
  packages/web/editor/.env.sample
  packages/web/editor/src/routes/(root)/+page.server.ts
  packages/web/editor/src/routes/(root)/+page.svelte
Due: notify, prepare, build_docker

[web-explorer] bump builds to 8 concurrency
  package-lock.json
  packages/web/explorer/svelte.config.js
Due: notify, notify-success, notify-failure, prepare, build_docker

[cli] bump @google/genai
  package-lock.json
  packages/cli/package.json
Due: build, test, publish, notify

[web-editor] bump svelte, add spacing for lists, fix keyed indexes, fix duplicate note bug
  package-lock.json
  packages/web/editor/package.json
  packages/web/editor/src/lib/pieces/components/fields/display.svelte
  packages/web/editor/src/lib/pieces/components/fields/edit.svelte
  packages/web/editor/src/lib/pieces/components/fields/editAsset.svelte
  packages/web/editor/src/routes/(root)/+page.svelte
  packages/web/editor/src/routes/directory/list/[...directory]/+page.svelte
  packages/web/editor/src/routes/pieces/create/[[directory]]/[...piece]/+page.svelte
  packages/web/editor/src/routes/pieces/edit/[[directory]]/[...piece]/+page.svelte
  packages/web/editor/src/routes/pieces/list/[[directory]]/[...piece]/+page.svelte
  packages/web/editor/vite.config.ts
  packages/web/editor/web.package-lock.json
Due: notify, prepare, build_docker

[web-editor] simplify piece generation and auto-fill prompt
  packages/web/editor/src/routes/pieces/create/[[directory]]/[...piece]/+page.server.ts
  packages/web/editor/src/routes/pieces/create/[[directory]]/[...piece]/+page.svelte
Due: notify, prepare, build_docker

Path conditions:
  build: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  test: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  publish: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  core: any of: .woodpecker/.core.yml, packages/core/**
  notify-success: (any of: .woodpecker/.core.yml, packages/core/**) or (any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**)
  notify-failure: (any of: .woodpecker/.core.yml, packages/core/**) or (any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**)
  prepare: (any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  build_docker: (any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**) or (any of: .woodpecker/.web.yml, packages/web/**)
