Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, test, publish, notify, gather, build-content, cache, deploy

build:
  image: node:18
  commands:
  - npm ci -w @luzzle/cli -w @luzzle/kysely
  - npm run build -w @luzzle/kysely
  - npm run compile -w @luzzle/cli
  - npm run build -w @luzzle/cli

test:
  image: node:18
  commands:
  - npm run lint -w @luzzle/cli
  - npm run test -w @luzzle/cli

publish:
  image: node:18
  commands:
  - npm config set @luzzle:registry https://git.eleith.com/api/packages/$NPM_OWNER/npm/
  - npm config set -- "//git.eleith.com/api/packages/$NPM_OWNER/npm/:_authToken" "$NPM_TOKEN"
  - cd packages/cli
  - NPM_CURRENT_VERSION="$(npm pkg get version --workspaces=false)"
  ...

notify:
  image: deblan/woodpecker-email:1.0.1-wp
  secrets:
  - smtp_notification_from
  - smtp_notification_host
  - smtp_notification_password
  - smtp_notification_from
  - smtp_notification_recipient
  settings:
    from.address:
      from_secret: smtp_notification_from
    host:
      from_secret: smtp_notification_host
  ...

gather:
  image: rclone/rclone:1.57
  environment:
  - RCLONE_GCS_STORAGE_CLASS=REGIONAL
  - RCLONE_GCS_BUCKET_POLICY_ONLY=true
  - RCLONE_GCS_LOCATION=us-central-1
  - RCLONE_GCS_SERVICE_ACCOUNT_FILE=/tmp/rclone-service-key.json
  commands:
  - mkdir /workspace/data
  - mkdir packages/web/public/images
  ...

build-content:
  image: node:20
  environment:
  - ENV_LOCAL_FILE=.env.local
  - NODE_ENV=production
  commands:
  - printf '%s\n' "$NEXTJS_ENV_LOCAL" > ./packages/web/$ENV_LOCAL_FILE
  - cd packages/web
  - ../tools/dist/generate-common-tables/index.js --database data/luzzle.sqlite --clean
  ...

cache:
  image: rclone/rclone:1.57
  environment:
  - RCLONE_GCS_STORAGE_CLASS=REGIONAL
  - RCLONE_GCS_BUCKET_POLICY_ONLY=true
  - RCLONE_GCS_LOCATION=us-central-1
  - RCLONE_GCS_SERVICE_ACCOUNT_FILE=/tmp/rclone-service-key.json
  commands:
  - echo $${RCLONE_SERVICE_KEY_JSON} > $RCLONE_GCS_SERVICE_ACCOUNT_FILE
  ...

deploy:
  image: git.eleith.com/eleith/gcs-web-deploy:3.0.0
  environment:
  - LOG_DIR=gs://eleith-cloud-builds/logs
  - STAGING_DIR=gs://eleith-cloud-builds/eleith-io-site
  - RUN_KEY_FILE=/tmp/secrets/service-account-key.json
  - GCR_IMAGE=gcr.io/eleith-cloud/eleith-io-site
  - GCS_PROJECT=eleith-cloud
  ...

[core] fix sql bug, 'in' not 'IN'
  package-lock.json
  packages/core/package.json
  packages/core/src/pieces/items.test.ts
  packages/core/src/pieces/items.ts
Due: none

[cli] bump core and improve tag removal functions
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/tags/tags.ts
Due: build, test, publish, notify

[cli] properly parse csv and file attachments
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/commands/field.test.ts
  packages/cli/src/lib/commands/field.ts
  packages/cli/src/lib/pieces/piece.test.ts
  packages/cli/src/lib/pieces/piece.ts
Due: build, test, publish, notify

[tools] build generic and focused tools
  package-lock.json
  packages/tools/package.json
  packages/tools/src/fetch-piece/google-ai.ts
  packages/tools/src/fetch-piece/index.ts
  packages/tools/src/fetch-piece/yargs.ts
  packages/tools/src/fetch-tmdb/index.ts
  packages/tools/src/fetch-tmdb/yargs.ts
  packages/tools/src/fetch-wayback/index.ts
  packages/tools/src/fetch-wayback/wayback.ts
  packages/tools/src/fetch-wayback/yargs.ts
Due: build, test, publish, notify

[cli] fix field removal bug
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/commands/field.ts
  packages/cli/src/lib/pieces/piece.test.ts
  packages/cli/src/lib/pieces/piece.ts
  packages/cli/vite.config.ts
Due: build, test, publish, notify

[web] remove docker secrets for now
  Dockerfile
Due: build, notify, gather, build-content, cache, deploy

[web] skip building core
  .dockerignore
  Dockerfile
Due: build, notify, gather, build-content, cache, deploy

[web] env url rename
  .woodpecker/.web.yml
Due: build, test, notify, gather, build-content, cache, deploy

[web] make build available in both docker and ci pipeline
  .woodpecker/.web.yml
Due: build, test, notify, gather, build-content, cache, deploy

[web] do not cache build output
  .woodpecker/.web.yml
Due: build, test, notify, gather, build-content, cache, deploy

[web] turn off CDN for paths
  packages/web/svelte.config.js
Due: build, test, notify, gather, build-content, cache, deploy

[web] turn off tag prerender
  packages/web/src/routes/tags/[tag]/+page.server.ts
Due: build, test, notify, gather, build-content, cache, deploy

[web] cache before deploy
  .woodpecker/.web.yml
Due: build, test, notify, gather, build-content, cache, deploy

[web] responsive styles and link section
  packages/web/src/lib/ui/styles/theme.css
  packages/web/src/routes/(root)/+page.svelte
  packages/web/src/routes/pieces/[piece=pieceType]/[slug]/+page.svelte
Due: build, test, notify, gather, build-content, cache, deploy

[web] lighthouse informed updates
  .editorconfig
  packages/web/src/lib/components/layout/simple/nav.svelte
  packages/web/src/lib/ui/styles/theme.css
  packages/web/src/routes/pieces/+layout.svelte
Due: build, test, notify, gather, build-content, cache, deploy

[web] move kysely into dependency for svelte app
  package-lock.json
  packages/web/package.json
Due: build, test, notify, gather, build-content, cache, deploy

[web] add 'build:luzzle' run command
  .woodpecker/.web.yml
  packages/web/package.json
Due: build, test, notify, gather, build-content, cache, deploy

[web] pass in env file to svelte process
  Dockerfile
Due: build, notify, gather, build-content, cache, deploy

[web] support eager loading, fix fetch bug
  packages/web/src/lib/pieces/components/icon/article.svelte
  packages/web/src/lib/pieces/components/icon/book.svelte
  packages/web/src/lib/pieces/components/icon/cartridge.svelte
  packages/web/src/lib/pieces/components/icon/index.svelte
  packages/web/src/lib/pieces/components/icon/poster.svelte
  packages/web/src/lib/pieces/components/picture.svelte
  packages/web/src/routes/(root)/+page.svelte
  packages/web/src/routes/pieces/[[piece=pieceType]]/+page.svelte
  packages/web/src/routes/pieces/[piece=pieceType]/[slug]/+page.svelte
Due: build, test, notify, gather, build-content, cache, deploy

Path conditions:
  build: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: Dockerfile, .woodpecker/.web.yml, packages/web/**)
  test: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  publish: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: Dockerfile, .woodpecker/.web.yml, packages/web/**)
  gather: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  build-content: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  cache: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  deploy: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
