Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, test, publish, notify, gather, build-content, deploy

build:
  image: node:18
  commands:
  - npm ci -w @luzzle/cli -w @luzzle/kysely
  - npm run build -w @luzzle/kysely
  - npm run compile -w @luzzle/cli
  - npm run build -w @luzzle/cli

test:
  image: node:18
  commands:
  - npm run lint -w @luzzle/cli
  - npm run test -w @luzzle/cli

publish:
  image: node:18
  commands:
  - npm config set @luzzle:registry https://git.eleith.com/api/packages/$NPM_OWNER/npm/
  - npm config set -- "//git.eleith.com/api/packages/$NPM_OWNER/npm/:_authToken" "$NPM_TOKEN"
  - cd packages/cli
  - NPM_CURRENT_VERSION="$(npm pkg get version --workspaces=false)"
  ...

notify:
  image: deblan/woodpecker-email:1.0.1-wp
  secrets:
  - smtp_notification_from
  - smtp_notification_host
  - smtp_notification_password
  - smtp_notification_from
  - smtp_notification_recipient
  settings:
    from.address:
      from_secret: smtp_notification_from
    host:
      from_secret: smtp_notification_host
  ...

gather:
  image: rclone/rclone:1.57
  environment:
  - RCLONE_GCS_STORAGE_CLASS=REGIONAL
  - RCLONE_GCS_BUCKET_POLICY_ONLY=true
  - RCLONE_GCS_LOCATION=us-central-1
  - RCLONE_GCS_SERVICE_ACCOUNT_FILE=/tmp/rclone-service-key.json
  - RCLONE_DAV_BOOK_SOURCE=:webdav:documents/eleith/notes-md/personal/records
  ...

build-content:
  image: node:18
  environment:
  - ENV_LOCAL_FILE=.env.local
  - NODE_ENV=production
  commands:
  - printf '%s\n' "$NEXTJS_ENV_LOCAL" > ./packages/web/$ENV_LOCAL_FILE
  - cd packages/web
  - npm run build:og:images
  - npm run build:rss
  secrets:
  - nextjs_env_local

deploy:
  image: git.eleith.com/eleith/gcs-web-deploy:3.0.0
  environment:
  - LOG_DIR=gs://eleith-cloud-builds/logs
  - STAGING_DIR=gs://eleith-cloud-builds/eleith-io-site
  - RUN_KEY_FILE=/tmp/secrets/service-account-key.json
  - GCR_IMAGE=gcr.io/eleith-cloud/eleith-io-site
  - GCS_PROJECT=eleith-cloud
  ...

[tools] clean up all prompt fetching
  package-lock.json
  packages/core/src/pieces/types/books/schema.json
  packages/core/src/pieces/types/games/schema.json
  packages/core/src/pieces/types/links/schema.json
  packages/tools/package.json
  packages/tools/src/fetch-book/google-ai.ts
  packages/tools/src/fetch-link/google-ai.ts
  packages/tools/src/fetch-link/index.ts
  packages/tools/src/fetch-link/yargs.ts
Due: build, test, publish, notify

[core] dynamic piece registration and management
  package-lock.json
  packages/core/package.json
  packages/core/src/database/database.mock.ts
  packages/core/src/database/migrations/2024-06-29T16:31:33Z-add-piece-manager-table.ts
  packages/core/src/database/migrations/2024-07-14T06:59:07Z-remove-pieces.ts
  packages/core/src/database/tables/index.ts
  packages/core/src/database/tables/pieces_cache.schema.ts
  packages/core/src/database/tables/pieces_manager.schema.ts
  packages/core/src/database/tables/tag_maps.schema.ts
  packages/core/src/pieces/index.ts
  packages/core/src/pieces/item.test.ts
  packages/core/src/pieces/item.ts
  packages/core/src/pieces/items.test.ts
  packages/core/src/pieces/items.ts
  packages/core/src/pieces/json.schema.test.ts
  packages/core/src/pieces/json.schema.ts
  packages/core/src/pieces/manager.test.ts
  packages/core/src/pieces/manager.ts
  packages/core/src/pieces/tables.schema.ts
  packages/core/src/pieces/types/books/index.ts
  packages/core/src/pieces/types/books/interface.ts
  packages/core/src/pieces/types/books/schema.json
  packages/core/src/pieces/types/books/schema.json.ts
  packages/core/src/pieces/types/games/index.ts
  packages/core/src/pieces/types/games/interface.ts
  packages/core/src/pieces/types/games/schema.json
  packages/core/src/pieces/types/games/schema.json.ts
  packages/core/src/pieces/types/index.ts
  packages/core/src/pieces/types/links/index.ts
  packages/core/src/pieces/types/links/interface.ts
  packages/core/src/pieces/types/links/schema.json
  packages/core/src/pieces/types/links/schema.json.ts
  packages/core/src/pieces/types/texts/index.ts
  packages/core/src/pieces/types/texts/interface.ts
  packages/core/src/pieces/types/texts/schema.json
  packages/core/src/pieces/types/texts/schema.json.ts
  packages/core/src/pieces/utils/piece.fixtures.ts
Due: none

[cli] update core, support dynamic pieces
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/assets.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/commands/context.fixtures.ts
  packages/cli/src/lib/commands/create.test.ts
  packages/cli/src/lib/commands/create.ts
  packages/cli/src/lib/commands/dump.test.ts
  packages/cli/src/lib/commands/dump.ts
  packages/cli/src/lib/commands/edit.test.ts
  packages/cli/src/lib/commands/edit.ts
  packages/cli/src/lib/commands/field.test.ts
  packages/cli/src/lib/commands/field.ts
  packages/cli/src/lib/commands/sync.test.ts
  packages/cli/src/lib/commands/sync.ts
  packages/cli/src/lib/commands/validate.test.ts
  packages/cli/src/lib/commands/validate.ts
  packages/cli/src/lib/pieces/cache.fixtures.ts
  packages/cli/src/lib/pieces/cache.test.ts
  packages/cli/src/lib/pieces/cache.ts
  packages/cli/src/lib/pieces/index.ts
  packages/cli/src/lib/pieces/piece.fixtures.ts
  packages/cli/src/lib/pieces/piece.test.ts
  packages/cli/src/lib/pieces/piece.ts
  packages/cli/src/lib/pieces/pieces.test.ts
  packages/cli/src/lib/pieces/pieces.ts
  packages/cli/src/lib/pieces/utils.test.ts
  packages/cli/src/lib/pieces/utils.ts
  packages/cli/src/lib/tags/tags.test.ts
  packages/cli/src/lib/tags/tags.ts
  packages/cli/src/lib/web.test.ts
  packages/cli/src/lib/web.ts
Due: build, test, publish, notify

[core] fix path import
  package-lock.json
  packages/core/package.json
  packages/core/src/pieces/manager.ts
Due: none

[tools] update to work with web db
  package-lock.json
  packages/tools/package.json
  packages/tools/src/generate-common-tables/index.ts
  packages/tools/src/generate-common-tables/yargs.ts
  packages/tools/src/generate-img-og/books.tsx
  packages/tools/src/generate-img-og/games.tsx
  packages/tools/src/generate-img-og/index.ts
  packages/tools/src/generate-img-og/links.tsx
  packages/tools/src/generate-img-og/texts.tsx
  packages/tools/src/generate-img-og/utils.ts
  packages/tools/src/generate-img-og/yargs.ts
  packages/tools/src/generate-img-variants/index.ts
  packages/tools/src/generate-img-variants/utils.ts
  packages/tools/src/generate-img-variants/yargs.ts
  packages/tools/src/generate-rss/index.ts
  packages/tools/src/generate-rss/yargs.ts
  packages/tools/src/lib/web.ts
Due: build, test, publish, notify

[cli] bump for core fix
  package-lock.json
  packages/cli/package.json
Due: build, test, publish, notify

[cli] support json and yaml for field setting
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/cli.test.ts
  packages/cli/src/lib/commands/cd.test.ts
  packages/cli/src/lib/commands/deploy.test.ts
  packages/cli/src/lib/commands/editConfig.test.ts
  packages/cli/src/lib/commands/field.test.ts
  packages/cli/src/lib/commands/field.ts
  packages/cli/src/lib/commands/init.test.ts
  packages/cli/src/lib/config.test.ts
Due: build, test, publish, notify

[cli] allow json and yaml input to create
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/commands/create.test.ts
  packages/cli/src/lib/commands/create.ts
  packages/cli/src/lib/commands/field.test.ts
  packages/cli/src/lib/commands/field.ts
Due: build, test, publish, notify

[core] require examples to initialize
  package-lock.json
  packages/core/package.json
  packages/core/src/pieces/utils/frontmatter.test.ts
  packages/core/src/pieces/utils/frontmatter.ts
  packages/core/src/pieces/utils/markdown.ts
  packages/core/src/pieces/utils/piece.fixtures.ts
Due: none

[core] initialize supports minimal arg
  packages/core/package.json
  packages/core/src/pieces/utils/frontmatter.test.ts
  packages/core/src/pieces/utils/frontmatter.ts
Due: none

[cli] create supports minimal initialization
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/commands/create.ts
  packages/cli/src/lib/pieces/piece.fixtures.ts
  packages/cli/src/lib/pieces/piece.ts
Due: build, test, publish, notify

[tools] add film fetch tool
  package-lock.json
  packages/tools/package.json
  packages/tools/src/fetch-film/google-ai.ts
  packages/tools/src/fetch-film/index.ts
  packages/tools/src/fetch-film/yargs.ts
Due: build, test, publish, notify

[tools] rebuild fts5 table
  package-lock.json
  packages/tools/package.json
  packages/tools/src/generate-common-tables/index.ts
Due: build, test, publish, notify

[web] get search working again
  package-lock.json
  packages/web/package.json
  packages/web/src/common/graphql/search/queries/search.ts
Due: build, test, notify, gather, build-content, deploy

[tools] support film og/variant generation
  package-lock.json
  packages/tools/package.json
  packages/tools/src/generate-img-og/films.tsx
  packages/tools/src/generate-img-og/index.ts
  packages/tools/src/lib/web.ts
Due: build, test, publish, notify

[tools] make sure to inded people as well
  package-lock.json
  packages/tools/package.json
  packages/tools/src/generate-common-tables/index.ts
Due: build, test, publish, notify

[web] expose films to the web!
  .woodpecker/.web.yml
  package-lock.json
  packages/web/package.json
  packages/web/src/common/components/films/FilmCover.tsx
  packages/web/src/common/components/films/FilmCoverFor.tsx
  packages/web/src/common/components/films/styles.css.ts
  packages/web/src/common/components/pieces/PieceCard.tsx
  packages/web/src/common/graphql/piece/objects/piece.ts
  packages/web/src/pages/index.tsx
  packages/web/src/pages/pieces/films/[slug].css.ts
  packages/web/src/pages/pieces/films/[slug].tsx
  packages/web/src/pages/pieces/films/index.css.ts
  packages/web/src/pages/pieces/films/index.tsx
Due: build, test, notify, gather, build-content, deploy

[cli] clear piece cache when updating piece schema
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/pieces/cache.test.ts
  packages/cli/src/lib/pieces/cache.ts
  packages/cli/src/lib/pieces/piece.ts
Due: build, test, publish, notify

[tools] film fetch bin
  package-lock.json
  packages/tools/package.json
Due: build, test, publish, notify

Path conditions:
  build: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: Dockerfile, .woodpecker/.web.yml, packages/web/**)
  test: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  publish: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: Dockerfile, .woodpecker/.web.yml, packages/web/**)
  gather: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  build-content: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  deploy: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
