Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: cli, notify-success, notify-failure, build, test, publish, notify, tools, web-editor, prepare, build_docker

cli:
  steps:
    build:
      image: node:22
      commands:
      - npm ci -w @luzzle/core -w @luzzle/cli
      - npm run build -w @luzzle/core
      - npm run compile -w @luzzle/cli
      - npm run build -w @luzzle/cli
    test:
      image: node:22
      commands:
      - npm run lint -w @luzzle/cli
  ...

notify-success:
  image: deblan/woodpecker-email:3.2.0
  settings:
    dsn:
      from_secret: woodpecker_email_dsn
    from:
      address:
        from_secret: woodpecker_email_from_address
      name:
        from_secret: woodpecker_email_from_name
    recipients:
      from_secret: woodpecker_email_recipient
    level: success
  ...

notify-failure:
  image: deblan/woodpecker-email:3.2.0
  settings:
    dsn:
      from_secret: woodpecker_email_dsn
    from:
      address:
        from_secret: woodpecker_email_from_address
      name:
        from_secret: woodpecker_email_from_name
    recipients:
      from_secret: woodpecker_email_recipient
    level: failure
  ...

build:
  image: node:18
  commands:
  - npm ci -w @luzzle/prisma
  - npm run compile -w @luzzle/prisma
  - npm run build -w @luzzle/prisma

test:
  image: node:18
  commands:
  - npm run lint -w @luzzle/prisma

publish:
  image: node:18
  commands:
  - npm config set @luzzle:registry https://git.eleith.com/api/packages/$NPM_OWNER/npm/
  - npm config set -- "//git.eleith.com/api/packages/$NPM_OWNER/npm/:_authToken" "$NPM_TOKEN"
  - cd packages/prisma
  - NPM_CURRENT_VERSION="$(npm pkg get version --workspaces=false)"
  ...

notify:
  image: deblan/woodpecker-email:1.0.0-wp
  secrets:
  - smtp_notification_from
  - smtp_notification_host
  - smtp_notification_password
  - smtp_notification_from
  - smtp_notification_recipient
  settings:
    from:
      from_secret: smtp_notification_from
    host:
      from_secret: smtp_notification_host
  ...

tools:
  steps:
    build:
      image: node:22
      commands:
      - npm ci -w @luzzle/core -w @luzzle/cli
      - npm run build -w @luzzle/core -w @luzzle/cli
      - npm ci -w @luzzle/tools
      - npm run build -w @luzzle/tools
    test:
      image: node:22
      commands:
      - npm run lint -w @luzzle/tools
  ...

web-editor:
  steps:
    prepare:
      image: node:20
      commands:
      - printf '%s' "$LUZZLE_NPMRC" | sed 's/[[:space:]]*$//' >> /root/.npmrc
      - npm ci -w @luzzle/core -w @luzzle/cli -w @luzzle/web-editor
      environment:
        LUZZLE_NPMRC:
          from_secret: luzzle_npmrc
    lint:
      image: node:20
  ...

prepare:
  image: node:14
  commands:
  - echo $LUZZLE_NPMRC >> .npmrc
  environment:
    LUZZLE_NPMRC:
      from_secret: luzzle_npmrc

build_docker:
  image: woodpeckerci/plugin-docker-buildx:pull_186
  settings:
    repo: git.eleith.com/eleith/luzzle
    username: eleith
    dockerfile: packages/web/Dockerfile
    context: packages/web
    registry: https://git.eleith.com
    secrets:
    - id=npmrc\\,src=.npmrc
    auto_tag: true
    password:
  ...

feat(core): add get...Operations APIs to support dryRun
  package-lock.json
  packages/core/src/pieces/Piece.test.ts
  packages/core/src/pieces/Piece.ts
  packages/core/src/pieces/Pieces.test.ts
  packages/core/src/pieces/Pieces.ts
Due: none

[web.explorer] migrate to core
  packages/web/explorer/package.json
Due: notify, prepare, build_docker

refactor(cli): implement dryRun logic using new core APIs
  packages/cli/src/lib/commands/command/sync.test.ts
  packages/cli/src/lib/commands/command/sync.ts
Due: cli, notify-success, notify-failure

[web.tools] migrate cli to core
  packages/web/tools/package.json
  packages/web/tools/src/commands/assets/index.test.ts
  packages/web/tools/src/commands/assets/index.ts
  packages/web/tools/src/commands/assets/variants.test.ts
  packages/web/tools/src/commands/assets/variants.ts
  packages/web/tools/src/commands/opengraph/index.test.ts
Due: notify, prepare, build_docker

[cli] update pipeline to run check versions directly
  .woodpecker/.cli.yml
  .woodpecker/.web-editor.yml
  .woodpecker/.web-tools.yml
  package-lock.json
Due: cli, notify-success, notify-failure, web-editor

[core] remove check version npm command
  packages/core/package.json
Due: none

[core] release 0.0.27
  package-lock.json
  packages/core/package.json
Due: none

[cli] release 0.0.122
  package-lock.json
  packages/cli/package.json
Due: cli, notify-success, notify-failure

[core] release 0.0.28
  .woodpecker/.core.yml
  package-lock.json
  packages/core/package.json
Due: none

[cli] release 0.0.123
  .woodpecker/.cli.yml
  package-lock.json
  packages/cli/package.json
Due: cli, notify-success, notify-failure

[web.tools] release 0.0.66
  package-lock.json
  packages/web/tools/package.json
Due: notify, prepare, build_docker

[web.editor] release 0.0.11
  package-lock.json
  packages/web/editor/package.json
Due: notify-success, notify-failure, notify, web-editor, prepare, build_docker

[web.explorer] release 0.0.113
  package-lock.json
  packages/web/explorer/package.json
Due: notify, prepare, build_docker

[web.tools] release 0.0.66, change binary name
  package-lock.json
  packages/web/tools/package.json
  packages/web/tools/scripts/check-version.js
Due: notify, prepare, build_docker

[web.explorer] release 0.0.114
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/scripts/generate-og-image.js
Due: notify, prepare, build_docker

[core] sync,prune outputs
  packages/core/src/pieces/Piece.ts
  packages/core/src/pieces/Pieces.ts
Due: none

[core] release 0.0.29
  package-lock.json
  packages/core/package.json
Due: none

[core] use readable streams
  packages/core/src/pieces/Pieces.test.ts
  packages/core/src/pieces/Pieces.ts
Due: none

[core] export pieces prune and sync types
  packages/core/src/index.ts
  packages/core/src/pieces/Pieces.ts
  packages/core/src/pieces/index.ts
Due: none

[core] piece prune and sync iterables
  packages/core/src/pieces/Piece.test.ts
  packages/core/src/pieces/Piece.ts
  packages/core/src/pieces/Pieces.ts
  packages/core/src/pieces/index.ts
Due: none

Path conditions:
  cli: any of: .woodpecker/.cli.yml, packages/cli/**
  notify-success: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.web-editor.yml, packages/web/editor/**)
  notify-failure: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.web-editor.yml, packages/web/editor/**)
  build: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  test: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  publish: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  tools: any of: .woodpecker/.tools.yml, packages/tools/**
  web-editor: any of: .woodpecker/.web-editor.yml, packages/web/editor/**
  prepare: any of: .woodpecker/.web.yml, packages/web/**
  build_docker: any of: .woodpecker/.web.yml, packages/web/**
