Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, test, publish, notify, core, notify-success, notify-failure, prepare, build_docker

build:
  image: node:18
  commands:
  - npm ci -w @luzzle/cli -w @luzzle/kysely
  - npm run build -w @luzzle/kysely
  - npm run compile -w @luzzle/cli
  - npm run build -w @luzzle/cli

test:
  image: node:18
  commands:
  - npm run lint -w @luzzle/cli
  - npm run test -w @luzzle/cli

publish:
  image: node:18
  commands:
  - npm config set @luzzle:registry https://git.eleith.com/api/packages/$NPM_OWNER/npm/
  - npm config set -- "//git.eleith.com/api/packages/$NPM_OWNER/npm/:_authToken" "$NPM_TOKEN"
  - cd packages/cli
  - NPM_CURRENT_VERSION="$(npm pkg get version --workspaces=false)"
  ...

notify:
  image: deblan/woodpecker-email:1.0.1-wp
  secrets:
  - smtp_notification_from
  - smtp_notification_host
  - smtp_notification_password
  - smtp_notification_from
  - smtp_notification_recipient
  settings:
    from.address:
      from_secret: smtp_notification_from
    host:
      from_secret: smtp_notification_host
  ...

core:
  steps:
    build:
      image: node:20
      commands:
      - npm ci -w @luzzle/core -w @luzzle/cli
      - npm run lint -w @luzzle/core
      - npm run build -w @luzzle/core
      environment:
        NPM_OWNER:
          from_secret: npm_owner
        NPM_TOKEN:
          from_secret: npm_token
    test:
  ...

notify-success:
  image: deblan/woodpecker-email:3.2.0
  settings:
    dsn:
      from_secret: woodpecker_email_dsn
    from:
      address:
        from_secret: woodpecker_email_from_address
      name:
        from_secret: woodpecker_email_from_name
    recipients:
      from_secret: woodpecker_email_recipient
    level: success
  ...

notify-failure:
  image: deblan/woodpecker-email:3.2.0
  settings:
    dsn:
      from_secret: woodpecker_email_dsn
    from:
      address:
        from_secret: woodpecker_email_from_address
      name:
        from_secret: woodpecker_email_from_name
    recipients:
      from_secret: woodpecker_email_recipient
    level: failure
  ...

prepare:
  image: node:14
  commands:
  - echo $LUZZLE_NPMRC >> .npmrc
  environment:
    LUZZLE_NPMRC:
      from_secret: luzzle_npmrc

build_docker:
  image: woodpeckerci/plugin-docker-buildx:pull_186
  settings:
    repo: git.eleith.com/eleith/luzzle
    username: eleith
    dockerfile: packages/web/explorer/Dockerfile
    context: packages/web/explorer
    registry: https://git.eleith.com
    secrets:
    - id=npmrc\\,src=.npmrc
    auto_tag: true
    password:
  ...

[web-explorer] bump dockerx image for ci
  .woodpecker/.web-explorer.yml
Due: notify-success, notify-failure, prepare, build_docker

[web-explorer] enable tagging of container builds
  .woodpecker/.web-explorer.yml
  packages/web/explorer/.gitignore
  packages/web/explorer/package.json
Due: notify, notify-success, notify-failure, prepare, build_docker

[web-explorer] bump svelte libraries
  .woodpecker/.web-explorer.yml
  package-lock.json
  packages/web/explorer/Dockerfile
  packages/web/explorer/package.json
  packages/web/explorer/vite.config.ts
  packages/web/explorer/web.package-lock.json
Due: notify, notify-success, notify-failure, prepare, build_docker

dynamic site (#17)
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/src/lib/database/index.ts
  packages/web/explorer/src/lib/pieces/components/icon/article.svelte
  packages/web/explorer/src/routes/(root)/+page.server.ts
  packages/web/explorer/src/routes/(root)/+page.svelte
  packages/web/explorer/src/routes/+layout.ts
  packages/web/explorer/src/routes/pieces/[[piece=pieceType]]/+page.server.ts
  packages/web/explorer/src/routes/pieces/[[piece=pieceType]]/+page.svelte
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug].md/+server.ts
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug]/+page.server.ts
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug]/+page.svelte
  packages/web/explorer/src/routes/rss/pieces/[[piece=pieceType]]/feed.[format=feedFormat]/+server.ts
  packages/web/explorer/src/routes/search/+page.svelte
  packages/web/explorer/src/routes/tags/[tag]/+page.server.ts
  packages/web/explorer/src/routes/tags/[tag]/+page.svelte
  packages/web/explorer/svelte.config.js
  packages/web/explorer/tools/luzzle/database.ts
  packages/web/explorer/tools/luzzle/index.ts
  packages/web/explorer/web.package-lock.json
Due: notify, notify-success, notify-failure, prepare, build_docker

[web-explorer] version 0.49
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/web.package-lock.json
Due: notify, notify-success, notify-failure, prepare, build_docker

[web-editor] deploy webhook with access token
  package-lock.json
  packages/web/editor/.env.sample
  packages/web/editor/package.json
  packages/web/editor/src/routes/(root)/+page.server.ts
  packages/web/editor/web.package-lock.json
Due: notify, prepare, build_docker

[web-explorer] decouple image and app cdn
  .woodpecker/.web-explorer.yml
  packages/web/explorer/.env.sample
  packages/web/explorer/package.json
  packages/web/explorer/src/lib/pieces/components/picture.svelte
  packages/web/explorer/src/routes/(root)/+page.server.ts
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug]/+page.svelte
  packages/web/explorer/svelte.config.js
Due: notify, notify-success, notify-failure, prepare, build_docker

[web-explorer] support ci tag event
  .woodpecker/.web-explorer.yml
Due: notify-success, notify-failure, prepare, build_docker

[web-explorer] make home page interactive
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/src/routes/(root)/+page.server.ts
  packages/web/explorer/src/routes/(root)/+page.svelte
  packages/web/explorer/web.package-lock.json
Due: notify, notify-success, notify-failure, prepare, build_docker

[web-explorer] accessibility updates
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/src/routes/(root)/+page.svelte
  packages/web/explorer/web.package-lock.json
Due: notify, notify-success, notify-failure, prepare, build_docker

[cli] bump @google/genai, use pro model and use json schema for responses
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/llm/google.ts
Due: build, test, publish, notify

[web-editor] update cli
  .woodpecker/.web-editor.yml
  package-lock.json
  packages/web/editor/package.json
  packages/web/editor/web.package-lock.json
Due: notify, prepare, build_docker

[web-explorer] add an edit route to redirect to editor
  package-lock.json
  packages/web/explorer/.env.sample
  packages/web/explorer/package.json
  packages/web/explorer/src/lib/pieces/types.ts
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug].edit/+server.ts
  packages/web/explorer/tools/luzzle/database.ts
  packages/web/explorer/web.package-lock.json
Due: notify, notify-success, notify-failure, prepare, build_docker

[core] fix path import
  package-lock.json
  packages/core/package.json
  packages/core/src/pieces/items.ts
Due: core, notify-success, notify-failure

[cli] adjust tsconfig
  packages/cli/tsconfig.json
  tsconfig.json
Due: build, test, publish, notify

[tools] migrate web db and web image generation to tools
  package-lock.json
  packages/tools/package.json
  packages/tools/src/fetch-tmdb/index.ts
  packages/tools/src/fetch-tmdb/yargs.ts
  packages/tools/src/fetch-wayback/index.ts
  packages/tools/src/fetch-wayback/wayback.ts
  packages/tools/src/generate-web-images/icon/article.ts
  packages/tools/src/generate-web-images/icon/book.ts
  packages/tools/src/generate-web-images/icon/cartridge.ts
  packages/tools/src/generate-web-images/icon/index.ts
  packages/tools/src/generate-web-images/icon/noto-sans.ttf
  packages/tools/src/generate-web-images/icon/noto-sans.woff2
  packages/tools/src/generate-web-images/icon/playing-card.ts
  packages/tools/src/generate-web-images/icon/poster.ts
  packages/tools/src/generate-web-images/index.ts
  packages/tools/src/generate-web-images/opengraph.ts
  packages/tools/src/generate-web-images/utils/html.ts
  packages/tools/src/generate-web-images/utils/imageToBase64.ts
  packages/tools/src/generate-web-images/utils/lastRun.ts
  packages/tools/src/generate-web-images/utils/toReactElement.ts
  packages/tools/src/generate-web-images/utils/types.ts
  packages/tools/src/generate-web-images/variants.ts
  packages/tools/src/generate-web-images/yargs.ts
  packages/tools/src/generate-web-sqlite/database.ts
  packages/tools/src/generate-web-sqlite/index.ts
  packages/tools/src/generate-web-sqlite/yargs.ts
  packages/tools/tsconfig.json
Due: build, test, publish, notify

[tools] fix bin path
  package-lock.json
  packages/tools/package.json
Due: build, test, publish, notify

[web-explorer] clean up package.json
  packages/web/explorer/package.json
Due: notify, notify-success, notify-failure, prepare, build_docker

[web-explorer] remove old tools
  package-lock.json
  packages/web/explorer/Dockerfile
  packages/web/explorer/package.json
  packages/web/explorer/src/lib/openGraph/css.ts
  packages/web/explorer/src/lib/openGraph/image.ts
  packages/web/explorer/src/lib/openGraph/toReactElement.ts
  packages/web/explorer/src/lib/openGraph/types.ts
  packages/web/explorer/src/lib/pieces/openGraph/html.ts
  packages/web/explorer/src/lib/pieces/openGraph/icon/article.ts
  packages/web/explorer/src/lib/pieces/openGraph/icon/book.ts
  packages/web/explorer/src/lib/pieces/openGraph/icon/cartridge.ts
  packages/web/explorer/src/lib/pieces/openGraph/icon/index.ts
  packages/web/explorer/src/lib/pieces/openGraph/icon/playing-card.ts
  packages/web/explorer/src/lib/pieces/openGraph/icon/poster.ts
  packages/web/explorer/tools/luzzle/database.ts
  packages/web/explorer/tools/luzzle/images.ts
  packages/web/explorer/tools/luzzle/index.ts
  packages/web/explorer/tools/luzzle/lastRun.ts
  packages/web/explorer/tools/luzzle/opengraph.ts
  packages/web/explorer/tools/luzzle/variants.ts
Due: notify, notify-success, notify-failure, prepare, build_docker

[web-explorer] update lock
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/web.package-lock.json
Due: notify, notify-success, notify-failure, prepare, build_docker

Path conditions:
  build: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  test: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  publish: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  core: any of: .woodpecker/.core.yml, packages/core/**
  notify-success: (any of: .woodpecker/.core.yml, packages/core/**) or (any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**)
  notify-failure: (any of: .woodpecker/.core.yml, packages/core/**) or (any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**)
  prepare: (any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  build_docker: (any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**) or (any of: .woodpecker/.web.yml, packages/web/**)
