Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, test, publish, notify, core, notify-success, notify-failure, web-explorer, prepare, build_docker

build:
  image: node:18
  commands:
  - npm ci -w @luzzle/cli -w @luzzle/kysely
  - npm run build -w @luzzle/kysely
  - npm run compile -w @luzzle/cli
  - npm run build -w @luzzle/cli

test:
  image: node:18
  commands:
  - npm run lint -w @luzzle/cli
  - npm run test -w @luzzle/cli

publish:
  image: node:18
  commands:
  - npm config set @luzzle:registry https://git.eleith.com/api/packages/$NPM_OWNER/npm/
  - npm config set -- "//git.eleith.com/api/packages/$NPM_OWNER/npm/:_authToken" "$NPM_TOKEN"
  - cd packages/cli
  - NPM_CURRENT_VERSION="$(npm pkg get version --workspaces=false)"
  ...

notify:
  image: deblan/woodpecker-email:1.0.1-wp
  secrets:
  - smtp_notification_from
  - smtp_notification_host
  - smtp_notification_password
  - smtp_notification_from
  - smtp_notification_recipient
  settings:
    from.address:
      from_secret: smtp_notification_from
    host:
      from_secret: smtp_notification_host
  ...

core:
  steps:
    build:
      image: node:20
      commands:
      - npm ci -w @luzzle/core -w @luzzle/cli
      - npm run lint -w @luzzle/core
      - npm run build -w @luzzle/core
      environment:
        NPM_OWNER:
          from_secret: npm_owner
        NPM_TOKEN:
          from_secret: npm_token
    test:
  ...

notify-success:
  image: deblan/woodpecker-email:3.2.0
  settings:
    dsn:
      from_secret: woodpecker_email_dsn
    from:
      address:
        from_secret: woodpecker_email_from_address
      name:
        from_secret: woodpecker_email_from_name
    recipients:
      from_secret: woodpecker_email_recipient
    level: success
  ...

notify-failure:
  image: deblan/woodpecker-email:3.2.0
  settings:
    dsn:
      from_secret: woodpecker_email_dsn
    from:
      address:
        from_secret: woodpecker_email_from_address
      name:
        from_secret: woodpecker_email_from_name
    recipients:
      from_secret: woodpecker_email_recipient
    level: failure
  ...

web-explorer:
  steps:
    prepare:
      image: node:20
      commands:
      - printf '%s' "$LUZZLE_NPMRC" | sed 's/[[:space:]]*$//' >> /root/.npmrc
      - cd packages/web/explorer
      - npm run build:lock
      - npm ci --workspaces=false
      - npm run --silent tag > .tags
      environment:
        LUZZLE_NPMRC:
  ...

prepare:
  image: node:14
  commands:
  - echo $LUZZLE_NPMRC >> .npmrc
  environment:
    LUZZLE_NPMRC:
      from_secret: luzzle_npmrc

build_docker:
  image: woodpeckerci/plugin-docker-buildx:pull_186
  settings:
    repo: git.eleith.com/eleith/luzzle
    username: eleith
    dockerfile: packages/web/Dockerfile
    context: packages/web
    registry: https://git.eleith.com
    secrets:
    - id=npmrc\\,src=.npmrc
    auto_tag: true
    password:
  ...

[cli] fix prune to delete from db not from file storage
  packages/cli/src/lib/pieces/piece.test.ts
  packages/cli/src/lib/pieces/piece.ts
Due: build, test, publish, notify

[cli] release 0.0.119
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/commands/index.test.ts
  packages/cli/src/lib/storage/fs.test.ts
Due: build, test, publish, notify

[web-explorer] support newlines in notes
  packages/web/explorer/content/block/root.md
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug]/+page.svelte
Due: notify, notify-success, notify-failure, web-explorer, prepare, build_docker

[cli] release 0.0.120, support for config file instead of dir
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/config.test.ts
  packages/cli/src/lib/config.ts
Due: build, test, publish, notify

[web-explorer] release 0.82
  package-lock.json
  packages/web/explorer/package.json
Due: notify, notify-success, notify-failure, web-explorer, prepare, build_docker

[web-editor] bump cli for fixes in 0.0.119 and 0.0.120
  package-lock.json
  packages/web/editor/Agents.md
  packages/web/editor/package.json
  packages/web/editor/web.package-lock.json
Due: notify, prepare, build_docker

[luzzle] add prune tags pipeline
  .woodpecker/.cli.yml
  .woodpecker/.core.yml
  .woodpecker/.prune-tags.yml
  .woodpecker/.tools.yml
  .woodpecker/.web-editor.yml
  .woodpecker/.web-explorer.yml
Due: build, test, publish, notify, core, notify-success, notify-failure, web-explorer

[luzzle] cleanup prune tags pipeline
  .woodpecker/.prune-tags.yml
Due: none

[web-editor] move package log building into pipeline
  .woodpecker/.web-editor.yml
  packages/web/editor/.gitignore
  packages/web/editor/Dockerfile
  packages/web/editor/package.json
  packages/web/editor/web.package-lock.json
Due: notify, prepare, build_docker

[luzzle] chore: update .editorconfig
  .editorconfig
Due: none

[luzzle] chore: update .editorconfig
  .gitignore
Due: none

[luzzle] feat(deps): unify vite, svelte and node types versions
  package-lock.json
  packages/cli/package.json
  packages/core/package.json
  packages/web/editor/package.json
  packages/web/explorer/package.json
Due: build, test, publish, notify, core, notify-success, notify-failure, web-explorer, prepare, build_docker

[luzzle] chore(ci): update node version to 22
  .tool-versions
  .woodpecker/.cli.yml
  .woodpecker/.core.yml
  .woodpecker/.tools.yml
  .woodpecker/.web-editor.yml
  .woodpecker/.web-explorer.yml
Due: build, test, publish, notify, core, notify-success, notify-failure, web-explorer

[tools] feat: update theme generation and config schema
  packages/tools/src/commands/theme/command.test.ts
  packages/tools/src/commands/theme/command.ts
  packages/tools/src/commands/theme/index.test.ts
  packages/tools/src/commands/theme/index.ts
  packages/tools/src/commands/theme/theme.test.ts
  packages/tools/src/lib/config/config.ts
  packages/tools/src/lib/config/defaults.yaml
  packages/tools/src/lib/config/schema.json
  packages/tools/src/lib/config/schema.ts
Due: build, test, publish, notify

[luzzle] chore: ignore PROJECT.md
  .gitignore
Due: none

[web-explorer] feat: consume theme css path from config
  packages/web/explorer/src/routes/+layout.server.ts
  packages/web/explorer/src/routes/+layout.svelte
Due: notify, notify-success, notify-failure, web-explorer, prepare, build_docker

[luzzle] chore(deps): align svelte and vite related dependencies
  package-lock.json
  packages/tools/package.json
  packages/web/editor/package.json
  packages/web/explorer/package.json
Due: build, test, publish, notify, notify-success, notify-failure, web-explorer, prepare, build_docker

[web-explorer] feat: refine base Dockerfile for user builds
  packages/web/explorer/Dockerfile
Due: notify, notify-success, notify-failure, web-explorer, prepare, build_docker

[tools] update docs
  packages/tools/Agents.md
Due: build, test, publish, notify

[tools] fix packages
  package-lock.json
  packages/tools/package.json
  packages/tools/tsconfig.json
Due: build, test, publish, notify

Path conditions:
  build: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  test: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  publish: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  core: any of: .woodpecker/.core.yml, packages/core/**
  notify-success: (any of: .woodpecker/.core.yml, packages/core/**) or (any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**)
  notify-failure: (any of: .woodpecker/.core.yml, packages/core/**) or (any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**)
  web-explorer: any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**
  prepare: any of: .woodpecker/.web.yml, packages/web/**
  build_docker: any of: .woodpecker/.web.yml, packages/web/**
