Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: test, build, publish, notify, gather, build-content, deploy

test:
  image: node:16
  commands:
  - npm ci -w @luzzle/cli
  - npm run lint -w @luzzle/cli
  - npm run test -w @luzzle/cli

build:
  image: node:16
  commands:
  - npm ci -w @luzzle/prisma
  - npm run build -w @luzzle/prisma
  - npm run compile -w @luzzle/prisma
  - cd packages/prisma
  - npm run patch -w @luzzle/prisma

publish:
  image: node:16
  commands:
  - npm config set @luzzle:registry https://git.eleith.com/api/packages/$NPM_OWNER/npm/
  - npm config set -- "//git.eleith.com/api/packages/$NPM_OWNER/npm/:_authToken" "$NPM_TOKEN"
  - npm publish -w @luzzle/prisma
  secrets:
  - npm_token
  - npm_owner

notify:
  image: git.eleith.com/eleith/woodpecker-email:1.0.0
  environment:
  - PLUGIN_FROM_ADDRESS=online-woodpecker@eleith.com
  - PLUGIN_FROM_NAME="eleith ci"
  - PLUGIN_RECIPIENTS_ONLY=true
  secrets:
  - source: smtp_username
    target: plugin_username
  - source: smtp_password
    target: plugin_password
  ...

gather:
  image: rclone/rclone:1.57
  environment:
  - RCLONE_GCS_STORAGE_CLASS=REGIONAL
  - RCLONE_GCS_BUCKET_POLICY_ONLY=true
  - RCLONE_GCS_LOCATION=us-central-1
  - RCLONE_GCS_SERVICE_ACCOUNT_FILE=/tmp/rclone-service-key.json
  - RCLONE_GCS_DB=:gcs:eleith-io-site-data/main/sqlite.dev.db
  ...

build-content:
  image: node:16
  commands:
  - npm config set @luzzle:registry https://git.eleith.com/api/packages/$NPM_OWNER/npm/
  - npm config set -- "//git.eleith.com/api/packages/$NPM_OWNER/npm/:_authToken" "$NPM_TOKEN"
  - npm run build:prisma -w @luzzle/web
  - npm install -g @luzzle/cli@0.0.7
  - cd packages/web
  ...

deploy:
  image: git.eleith.com/eleith/gcs-web-deploy:3.0.0
  environment:
  - LOG_DIR=gs://eleith-cloud-builds/logs
  - STAGING_DIR=gs://eleith-cloud-builds/eleith-io-site
  - RUN_KEY_FILE=/tmp/secrets/service-account-key.json
  - ENV_LOCAL_FILE=.env.local
  - GCR_IMAGE=gcr.io/eleith-cloud/eleith-io-site
  ...

type fix
  packages/cli/src/lib/book.ts
  packages/cli/src/lib/open-library.ts
Due: none

revert covers field. fix bug where search results return multiple works
  packages/cli/package.json
  packages/cli/src/lib/book.ts
  packages/cli/src/lib/open-library.ts
Due: test

fix test, due to new filtering constraint
  packages/cli/src/lib/open-library.test.ts
Due: none

support viewport
  packages/web/src/common/components/layout/meta.tsx
Due: none

labels some steps as deploy steps
  .woodpecker/.web.yml
Due: test, build, notify, gather, build-content, deploy

restrict all pipelines except web to pushes
  .woodpecker/.cli.yml
  .woodpecker/.prisma.yml
  .woodpecker/.ui.yml
  .woodpecker/.web.yml
Due: test, build, publish, notify, gather, build-content, deploy

[CI Skip] rolling back attempts to figure out deploy vs push events
  .woodpecker/.cli.yml
  .woodpecker/.prisma.yml
  .woodpecker/.ui.yml
Due: test, build, publish, notify

[CI Skip] subscribe all packages but web to only push events
  .woodpecker/.cli.yml
  .woodpecker/.prisma.yml
  .woodpecker/.ui.yml
Due: test, build, publish, notify

[cli] add deploy command
  packages/cli/package.json
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/config.ts
Due: test

[CI SKIP] add tests for deploy
  packages/cli/src/lib/cli.test.ts
  packages/cli/src/lib/cli.ts
Due: none

[cli] add cd command
  packages/cli/package.json
  packages/cli/src/lib/cli.test.ts
  packages/cli/src/lib/cli.ts
Due: test

[cli] add edit and editConfig command, begin command abstraction
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/cli.test.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/commands/_types.ts
  packages/cli/src/lib/commands/edit.test.ts
  packages/cli/src/lib/commands/edit.ts
  packages/cli/src/lib/commands/editConfig.ts
  packages/cli/src/lib/commands/index.ts
Due: test

add editConfig command test
  packages/cli/src/lib/commands/context.fixtures.ts
  packages/cli/src/lib/commands/editConfig.test.ts
  packages/cli/src/lib/commands/editConfig.ts
Due: none

attach command abstracted
  packages/cli/src/lib/cli.test.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/commands/_types.ts
  packages/cli/src/lib/commands/attach.test.ts
  packages/cli/src/lib/commands/attach.ts
  packages/cli/src/lib/commands/index.ts
Due: none

add process command
  packages/cli/src/lib/cli.test.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/commands/attach.ts
  packages/cli/src/lib/commands/index.ts
  packages/cli/src/lib/commands/process.test.ts
  packages/cli/src/lib/commands/process.ts
Due: none

create command abstracted
  packages/cli/src/lib/cli.test.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/commands/create.test.ts
  packages/cli/src/lib/commands/create.ts
  packages/cli/src/lib/commands/index.ts
Due: none

fetch command abstraction
  packages/cli/src/lib/book.ts
  packages/cli/src/lib/cli.test.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/commands/fetch.test.ts
  packages/cli/src/lib/commands/fetch.ts
  packages/cli/src/lib/commands/index.ts
Due: none

init command abstraction
  packages/cli/src/lib/cli.test.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/commands/_types.ts
  packages/cli/src/lib/commands/attach.ts
  packages/cli/src/lib/commands/edit.test.ts
  packages/cli/src/lib/commands/editConfig.ts
  packages/cli/src/lib/commands/index.ts
  packages/cli/src/lib/commands/init.test.ts
  packages/cli/src/lib/commands/init.ts
Due: none

update vitest, abstract sync to its own command, add global setup to deal with sharp
  package-lock.json
  package.json
  packages/cli/package.json
  packages/cli/src/lib/book.fixtures.ts
  packages/cli/src/lib/book.ts
  packages/cli/src/lib/cli.test.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/commands/attach.test.ts
  packages/cli/src/lib/commands/context.fixtures.ts
  packages/cli/src/lib/commands/edit.test.ts
  packages/cli/src/lib/commands/index.ts
  packages/cli/src/lib/commands/sync.private.test.ts
  packages/cli/src/lib/commands/sync.private.ts
  packages/cli/src/lib/commands/sync.test.ts
  packages/cli/src/lib/commands/sync.ts
  packages/cli/test/globalSetup.ts
  packages/cli/vite.config.ts
Due: test

bump to node 18.15.0 and add listeners for unhandled rejections
  .tool-versions
  .woodpecker/.cli.yml
  packages/cli/test/setup.ts
  packages/cli/vite.config.ts
Due: test

Path conditions:
  test: (any of: .woodpecker/.cli.yml, packages/cli/*) or (any of: .woodpecker/.prisma.yml, packages/prisma/*) or (any of: .woodpecker/.web.yml, packages/web/*)
  build: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.web.yml, packages/web/*)
  publish: any of: .woodpecker/.prisma.yml, packages/prisma/**
  notify: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.web.yml, packages/web/*)
  gather: any of: .woodpecker/.web.yml, packages/web/*
  build-content: any of: .woodpecker/.web.yml, packages/web/*
  deploy: any of: .woodpecker/.web.yml, packages/web/*
