Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: test, build, publish, notify, gather, build-content, deploy

Path conditions:
  test: (any of: .woodpecker/.cli.yml, packages/cli/*) or (any of: .woodpecker/.prisma.yml, packages/prisma/*) or (any of: .woodpecker/.web.yml, packages/web/*)
  build: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.web.yml, packages/web/*)
  publish: any of: .woodpecker/.prisma.yml, packages/prisma/**
  notify: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.web.yml, packages/web/*)
  gather: any of: .woodpecker/.web.yml, packages/web/*
  build-content: any of: .woodpecker/.web.yml, packages/web/*
  deploy: any of: .woodpecker/.web.yml, packages/web/*

prisma patch pins down location of schema file
  .woodpecker/.web.yml
  packages/prisma/index.d.ts
  packages/prisma/index.js
  packages/prisma/package.json
  packages/prisma/tsconfig.json
Due: test, build, publish, notify, gather, build-content, deploy

docker needs to build dependencies as well
  packages/web/Dockerfile
Due: test, build, notify, gather, build-content, deploy

support monorepo inside docker
  .dockerignore
  .woodpecker/.web.yml
  Dockerfile
  docker-compose.web.yml
  package-lock.json
  packages/web/.env
  packages/web/package.json
Due: test, build, notify, gather, build-content, deploy

migrate db to externally managed webdav
  .woodpecker/.web.yml
  Dockerfile
  packages/cli/package.json
  packages/cli/src/lib/book.ts
  packages/cli/src/lib/cli.test.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/prisma.ts
  packages/web/.env
Due: test, build, notify, gather, build-content, deploy

prevent gcloudignore from making mistakes
  .gcloudignore
Due: none

cleanup cli dependencies and upgrade them
  package-lock.json
  packages/cli/package.json
  packages/cli/src/generate-tags.ts.txt
  packages/cli/src/lib/cli.test.ts
Due: test

refresh package lock
  package-lock.json
  packages/cli/package.json
Due: test

until vitest supports projects, we need it at the root project
  package-lock.json
  package.json
  packages/cli/package.json
Due: test

prisma library update
  package-lock.json
  packages/prisma/package.json
Due: test, build, publish, notify

update @luzzle/prisma version used upstream
  .woodpecker/.web.yml
  package-lock.json
  packages/cli/package.json
  packages/web/package.json
Due: test, build, notify, gather, build-content, deploy

update package json
  package-lock.json
Due: none

align versions
  packages/cli/package.json
  packages/prisma/package.json
  packages/web/package.json
Due: test, build, publish, notify, gather, build-content, deploy

align lock file
  package-lock.json
Due: none

fuzzy search
  docker-compose.web.yml
  package-lock.json
  packages/web/package.json
  packages/web/src/common/graphql/schema.ts
  packages/web/src/common/graphql/search/index.ts
  packages/web/src/common/graphql/search/queries/search.ts
  packages/web/src/common/ui/components/Combobox/Combobox.tsx
  packages/web/src/common/ui/components/Combobox/index.ts
  packages/web/src/common/ui/components/Combobox/styles.css.ts
  packages/web/src/common/ui/components/index.ts
  packages/web/src/pages/index.tsx
Due: test, build, notify, gather, build-content, deploy

update package-lock
  package-lock.json
Due: none

install specific packages to avoid node-gyp errors
  .woodpecker/.web.yml
  package-lock.json
  packages/web/package.json
  packages/web/src/pages/index.tsx
Due: test, build, notify, gather, build-content, deploy

Dockerfile also needs to install into specific packages
  Dockerfile
  packages/web/src/pages/index.tsx
Due: none

font size responsiveness
  package-lock.json
  packages/web/src/common/ui/components/Combobox/styles.css.ts
  packages/web/src/common/ui/components/Input/styles.css.ts
  packages/web/src/common/ui/components/Select/styles.css.ts
  packages/web/src/common/ui/components/Text/styles.css.ts
  packages/web/src/common/ui/components/TextArea/styles.css.ts
  packages/web/src/common/ui/tokens/typography.ts
  packages/web/src/pages/books/[slug].tsx
  packages/web/src/pages/index.tsx
Due: none

provide more details in fuzzy results and make the real links
  packages/web/src/pages/index.tsx
Due: none
