Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: test, build, publish, notify, gather, build-content, deploy

Path conditions:
  test: (any of: .woodpecker/.cli.yml, packages/cli/*) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  build: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: Dockerfile, .woodpecker/.web.yml, packages/web/**)
  publish: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: Dockerfile, .woodpecker/.web.yml, packages/web/**)
  gather: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  build-content: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  deploy: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**

remove prisma dependency in cli build
  .woodpecker/.cli.yml
  .woodpecker/.kysely.yml
Due: test

removing prisma lib reference to avoid breaking builds
  packages/cli/src/lib/prisma.ts
Due: none

compile builds for packaging and importing
  .woodpecker/.kysely.yml
  packages/kysely/package.json
  packages/kysely/src/database.test.ts
  packages/kysely/tsconfig.json
  packages/kysely/tsconfig.prod.json
Due: none

migrate web to kysely and drop prisma
  .woodpecker/.web.yml
  Dockerfile
  package-lock.json
  packages/cli/package.json
  packages/web/.env
  packages/web/.gitignore
  packages/web/next.config.js
  packages/web/package.json
  packages/web/src/common/graphql/book/objects/book.ts
  packages/web/src/common/graphql/book/queries/book.ts
  packages/web/src/common/graphql/book/queries/books.ts
  packages/web/src/common/graphql/discussion/mutations/book.ts
  packages/web/src/common/graphql/search/queries/search.ts
  packages/web/src/common/graphql/tag/objects/tag.ts
  packages/web/src/lib/graphql/context.ts
  packages/web/src/pages/index.tsx
Due: test, build, notify, gather, build-content, deploy

build kysely
  .woodpecker/.cli.yml
  .woodpecker/.web.yml
Due: test, build, notify, gather, build-content, deploy

new book page design
  packages/web/src/common/components/books/styles.css.ts
  packages/web/src/common/components/layout/PageBannerSlide.css.ts
  packages/web/src/common/components/layout/PageBannerSlide.tsx
  packages/web/src/common/components/layout/PageFull.tsx
  packages/web/src/pages/books/[slug].css.ts
  packages/web/src/pages/books/[slug].tsx
Due: test, build, notify, gather, build-content, deploy

og image for books
  package-lock.json
  packages/web/next.config.js
  packages/web/package.json
  packages/web/public/fonts/NotoSans-Regular.ttf
  packages/web/src/common/components/books/BookCoverFor.tsx
  packages/web/src/common/components/layout/Page.css.ts
  packages/web/src/pages/api/books/[slug].api.tsx
  packages/web/src/pages/books/[slug].tsx
Due: test, build, notify, gather, build-content, deploy

unused variable
  packages/web/src/pages/books/[slug].tsx
Due: test, build, notify, gather, build-content, deploy

default to png for og image
  packages/web/src/pages/api/books/[slug].api.tsx
Due: test, build, notify, gather, build-content, deploy

clarify og image metadata
  packages/web/src/common/components/layout/meta.tsx
  packages/web/src/pages/books/[slug].tsx
Due: test, build, notify, gather, build-content, deploy

use full urls for og image
  packages/web/src/common/components/layout/meta.tsx
Due: test, build, notify, gather, build-content, deploy

double slash bug
  packages/web/src/common/components/layout/meta.tsx
Due: test, build, notify, gather, build-content, deploy

keys need to be unique
  packages/web/src/common/components/layout/meta.tsx
Due: test, build, notify, gather, build-content, deploy

minor updates and polish
  packages/web/src/common/graphql/book/fragments/bookFullDetails.ts
  packages/web/src/common/graphql/book/objects/book.ts
  packages/web/src/pages/404.tsx
  packages/web/src/pages/api/books/og:image.api.tsx
  packages/web/src/pages/books/[slug].tsx
Due: test, build, notify, gather, build-content, deploy

support openAI completes on fetch command
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/books/book.test.ts
  packages/cli/src/lib/books/book.ts
  packages/cli/src/lib/books/books.test.ts
  packages/cli/src/lib/books/books.ts
  packages/cli/src/lib/books/index.ts
  packages/cli/src/lib/books/openai.test.ts
  packages/cli/src/lib/books/openai.ts
  packages/cli/src/lib/commands/fetch.test.ts
  packages/cli/src/lib/commands/fetch.ts
  packages/cli/src/lib/config.ts
Due: test

[cli] fix book editing path
  packages/cli/package.json
  packages/cli/src/lib/books/book.fixtures.ts
  packages/cli/src/lib/books/book.ts
  packages/cli/src/lib/books/books.test.ts
  packages/cli/src/lib/books/books.ts
  packages/cli/src/lib/cli.ts
Due: test

[cli] fix query for slugs of an item
  packages/cli/package.json
  packages/cli/src/lib/tags/tags.ts
Due: test

[cli] sync force updates all book columns, irrespective of state of cache
  packages/cli/package.json
  packages/cli/src/lib/books/book.test.ts
  packages/cli/src/lib/books/book.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/commands/sync.private.test.ts
  packages/cli/src/lib/commands/sync.private.ts
  packages/cli/src/lib/commands/sync.ts
Due: test
