Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, test, publish, notify, gather, build-content, deploy

Path conditions:
  build: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: Dockerfile, .woodpecker/.web.yml, packages/web/**)
  test: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  publish: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: Dockerfile, .woodpecker/.web.yml, packages/web/**)
  gather: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  build-content: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  deploy: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**

add links table
  .woodpecker/.kysely.yml
  package-lock.json
  packages/kysely/package.json
  packages/kysely/src/database.schema.ts
  packages/kysely/src/database.ts
  packages/kysely/src/index.ts
  packages/kysely/src/migrations/2023-10-30T23:24:40Z.ts
Due: none

adding in the second piece: link
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/cache.ts
  packages/cli/src/lib/commands/attach.test.ts
  packages/cli/src/lib/commands/attach.ts
  packages/cli/src/lib/commands/fetch.ts
  packages/cli/src/lib/pieces/ajv.test.ts
  packages/cli/src/lib/pieces/ajv.ts
  packages/cli/src/lib/pieces/index.ts
  packages/cli/src/lib/pieces/markdown.ts
  packages/cli/src/lib/pieces/piece.fixtures.ts
  packages/cli/src/lib/pieces/piece.ts
  packages/cli/src/lib/pieces/pieces.ts
  packages/cli/src/lib/pieces/utils.test.ts
  packages/cli/src/lib/pieces/utils.ts
  packages/cli/src/lib/web.test.ts
  packages/cli/src/lib/web.ts
  packages/cli/src/pieces/books/piece.test.ts
  packages/cli/src/pieces/books/piece.ts
  packages/cli/src/pieces/links/index.ts
  packages/cli/src/pieces/links/link.fixtures.ts
  packages/cli/src/pieces/links/link.schemas.ts
  packages/cli/src/pieces/links/piece.test.ts
  packages/cli/src/pieces/links/piece.ts
Due: build, test, publish, notify

decouple markdown formatting from html lines
  packages/web/src/pages/books/[slug].tsx
Due: build, test, notify, gather, build-content, deploy

support generic attach method
  packages/cli/package.json
  packages/cli/src/lib/ajv.test.ts
  packages/cli/src/lib/ajv.ts
  packages/cli/src/lib/cache.ts
  packages/cli/src/lib/commands/attach.test.ts
  packages/cli/src/lib/commands/attach.ts
  packages/cli/src/lib/pieces/markdown.ts
  packages/cli/src/lib/pieces/piece.fixtures.ts
  packages/cli/src/lib/pieces/piece.test.ts
  packages/cli/src/lib/pieces/piece.ts
  packages/cli/src/pieces/books/book.schemas.ts
  packages/cli/src/pieces/books/piece.test.ts
  packages/cli/src/pieces/books/piece.ts
  packages/cli/src/pieces/links/link.schemas.ts
  packages/cli/src/pieces/links/piece.test.ts
  packages/cli/src/pieces/links/piece.ts
Due: build, test, publish, notify

rework type abstractions
  packages/kysely/package.json
  packages/kysely/src/database.schema.ts
  packages/kysely/src/database.ts
  packages/kysely/src/database.utils.ts
  packages/kysely/src/index.ts
  packages/kysely/src/tables/books.schema.ts
  packages/kysely/src/tables/links.schema.ts
  packages/kysely/src/tables/pieces.ts
  packages/kysely/src/tables/tag_maps.schema.ts
  packages/kysely/src/tables/tags.schema.ts
Due: none

bring ajv schemas into package
  packages/kysely/src/index.ts
  packages/kysely/src/jtd/ajv.test.ts
  packages/kysely/src/jtd/ajv.ts
  packages/kysely/src/jtd/books.schema.ts
  packages/kysely/src/jtd/index.ts
  packages/kysely/src/jtd/links.schema.ts
  packages/kysely/src/jtd/piece.ts
  packages/kysely/src/tables/books.schema.ts
  packages/kysely/src/tables/links.schema.ts
  packages/kysely/tsconfig.json
Due: none

version bump before deploy
  package-lock.json
Due: none

use latest kysley package
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/ajv.test.ts
  packages/cli/src/lib/ajv.ts
  packages/cli/src/lib/cache.test.ts
  packages/cli/src/lib/cache.ts
  packages/cli/src/lib/commands/attach.test.ts
  packages/cli/src/lib/pieces/index.ts
  packages/cli/src/lib/pieces/markdown.test.ts
  packages/cli/src/lib/pieces/markdown.ts
  packages/cli/src/lib/pieces/piece.fixtures.ts
  packages/cli/src/lib/pieces/piece.test.ts
  packages/cli/src/lib/pieces/piece.ts
  packages/cli/src/lib/pieces/pieces.test.ts
  packages/cli/src/lib/pieces/pieces.ts
  packages/cli/src/lib/pieces/utils.ts
  packages/cli/src/lib/tags/tags.test.ts
  packages/cli/src/lib/tags/tags.ts
  packages/cli/src/pieces/books/book.fixtures.ts
  packages/cli/src/pieces/books/book.schemas.ts
  packages/cli/src/pieces/books/index.ts
  packages/cli/src/pieces/books/openai.ts
  packages/cli/src/pieces/books/piece.test.ts
  packages/cli/src/pieces/books/piece.ts
  packages/cli/src/pieces/books/schema.ts
  packages/cli/src/pieces/links/index.ts
  packages/cli/src/pieces/links/link.fixtures.ts
  packages/cli/src/pieces/links/link.schemas.ts
  packages/cli/src/pieces/links/piece.test.ts
  packages/cli/src/pieces/links/piece.ts
  packages/cli/src/pieces/links/schema.ts
Due: build, test, publish, notify

version bump for cli
  package-lock.json
  packages/cli/package.json
Due: build, test, publish, notify

move rss generation to a build script
  .gitignore
  package-lock.json
  packages/web/package.json
  packages/web/scripts/generate-rss.ts
  packages/web/src/common/rss/index.ts
  packages/web/src/pages/books/index.tsx
Due: build, test, notify, gather, build-content, deploy

need production env to be set during build
  .woodpecker/.web.yml
  Dockerfile
Due: build, test, notify, gather, build-content, deploy

fix sort order to generate book feed
  .woodpecker/.web.yml
  packages/web/scripts/generate-rss.ts
Due: build, test, notify, gather, build-content, deploy

make feed generation async
  packages/web/scripts/generate-rss.ts
Due: build, test, notify, gather, build-content, deploy

generate og images as prebuild step
  .dockerignore
  .gcloudignore
  .woodpecker/.web.yml
  package-lock.json
  packages/web/.env
  packages/web/.gitignore
  packages/web/package.json
  packages/web/scripts/generate-og-images.tsx
  packages/web/scripts/generate-rss.ts
  packages/web/src/common/components/layout/meta.tsx
  packages/web/src/pages/books/[slug].tsx
  packages/web/tsconfig.json
Due: build, test, notify, gather, build-content, deploy

fix logging text
  packages/web/scripts/generate-og-images.tsx
Due: build, test, notify, gather, build-content, deploy

fix static paths for og and feed.xslt
  packages/web/scripts/generate-rss.ts
  packages/web/src/common/components/layout/meta.tsx
Due: build, test, notify, gather, build-content, deploy

use relative link to find xslt
  packages/web/scripts/generate-rss.ts
Due: build, test, notify, gather, build-content, deploy

pull in current og images in use to speed up build
  .woodpecker/.web.yml
Due: build, test, notify, gather, build-content, deploy

show rclone progress
  .woodpecker/.web.yml
Due: build, test, notify, gather, build-content, deploy

re-order copy steps
  .woodpecker/.web.yml
  packages/web/scripts/generate-og-images.tsx
Due: build, test, notify, gather, build-content, deploy
