Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, test, publish, notify, gather, build-content, deploy

build:
  image: node:18
  commands:
  - npm ci -w @luzzle/cli -w @luzzle/kysely
  - npm run build -w @luzzle/kysely
  - npm run compile -w @luzzle/cli
  - npm run build -w @luzzle/cli

test:
  image: node:18
  commands:
  - npm run lint -w @luzzle/cli
  - npm run test -w @luzzle/cli

publish:
  image: node:18
  commands:
  - npm config set @luzzle:registry https://git.eleith.com/api/packages/$NPM_OWNER/npm/
  - npm config set -- "//git.eleith.com/api/packages/$NPM_OWNER/npm/:_authToken" "$NPM_TOKEN"
  - cd packages/cli
  - NPM_CURRENT_VERSION="$(npm pkg get version --workspaces=false)"
  ...

notify:
  image: deblan/woodpecker-email:1.0.1-wp
  secrets:
  - smtp_notification_from
  - smtp_notification_host
  - smtp_notification_password
  - smtp_notification_from
  - smtp_notification_recipient
  settings:
    from.address:
      from_secret: smtp_notification_from
    host:
      from_secret: smtp_notification_host
  ...

gather:
  image: rclone/rclone:1.57
  environment:
  - RCLONE_GCS_STORAGE_CLASS=REGIONAL
  - RCLONE_GCS_BUCKET_POLICY_ONLY=true
  - RCLONE_GCS_LOCATION=us-central-1
  - RCLONE_GCS_SERVICE_ACCOUNT_FILE=/tmp/rclone-service-key.json
  - RCLONE_DAV_BOOK_SOURCE=:webdav:documents/eleith/notes-md/personal/records
  ...

build-content:
  image: node:18
  environment:
  - ENV_LOCAL_FILE=.env.local
  - NODE_ENV=production
  commands:
  - printf '%s\n' "$NEXTJS_ENV_LOCAL" > ./packages/web/$ENV_LOCAL_FILE
  - cd packages/web
  - npm run build:og:images
  - npm run build:rss
  secrets:
  - nextjs_env_local

deploy:
  image: git.eleith.com/eleith/gcs-web-deploy:3.0.0
  environment:
  - LOG_DIR=gs://eleith-cloud-builds/logs
  - STAGING_DIR=gs://eleith-cloud-builds/eleith-io-site
  - RUN_KEY_FILE=/tmp/secrets/service-account-key.json
  - GCR_IMAGE=gcr.io/eleith-cloud/eleith-io-site
  - GCS_PROJECT=eleith-cloud
  ...

[web] make piece card a full on component
  package-lock.json
  packages/web/src/common/components/pieces/PieceCard.tsx
  packages/web/src/pages/pieces/books/index.tsx
  packages/web/src/pages/pieces/index.tsx
  packages/web/src/pages/pieces/links/index.tsx
  packages/web/src/pages/tags/[slug].tsx
Due: build, test, notify, gather, build-content, deploy

[web] add ranking to boost title and summary
  packages/web/src/common/graphql/search/queries/search.ts
Due: build, test, notify, gather, build-content, deploy

[kysley] adding texts piece
  package-lock.json
  packages/kysely/package.json
  packages/kysely/src/jtd/books.schema.ts
  packages/kysely/src/jtd/index.ts
  packages/kysely/src/jtd/piece.ts
  packages/kysely/src/jtd/texts.schema.ts
  packages/kysely/src/migrations/2024-02-24T03:05:47Z-add-texts-table.ts
  packages/kysely/src/tables/pieces.ts
  packages/kysely/src/tables/texts.schema.ts
Due: none

[cli] support texts and array attachments
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/commands/attach.test.ts
  packages/cli/src/lib/commands/attach.ts
  packages/cli/src/lib/commands/create.ts
  packages/cli/src/lib/pieces/piece.test.ts
  packages/cli/src/lib/pieces/piece.ts
  packages/cli/src/pieces/books/piece.test.ts
  packages/cli/src/pieces/books/piece.ts
  packages/cli/src/pieces/links/piece.test.ts
  packages/cli/src/pieces/links/piece.ts
  packages/cli/src/pieces/texts/index.ts
  packages/cli/src/pieces/texts/piece.ts
  packages/cli/src/pieces/texts/schema.ts
Due: build, test, publish, notify

[web] surface texts
  package-lock.json
  packages/web/package.json
  packages/web/scripts/generate-image-variants.ts
  packages/web/scripts/generate-og-images.tsx
  packages/web/scripts/generate-rss.ts
  packages/web/scripts/og/texts.tsx
  packages/web/src/common/components/discussions/DiscussionForm.tsx
  packages/web/src/common/components/layout/meta.tsx
  packages/web/src/common/components/pieces/PieceCard.tsx
  packages/web/src/common/graphql/schema.ts
  packages/web/src/common/graphql/texts/fragments/textFullDetails.ts
  packages/web/src/common/graphql/texts/index.ts
  packages/web/src/common/graphql/texts/objects/text.ts
  packages/web/src/common/graphql/texts/queries/text.ts
  packages/web/src/common/graphql/texts/queries/texts.ts
  packages/web/src/lib/markdown/index.ts
  packages/web/src/lib/markdown/jsx2md.ts
  packages/web/src/lib/markdown/mdx2md.ts
  packages/web/src/pages/index.md.tsx
  packages/web/src/pages/index.tsx
  packages/web/src/pages/pieces/texts/[slug].css.ts
  packages/web/src/pages/pieces/texts/[slug].tsx
  packages/web/src/pages/pieces/texts/index.css.ts
  packages/web/src/pages/pieces/texts/index.tsx
Due: build, test, notify, gather, build-content, deploy

[web] fix discussion sending bug
  packages/web/src/common/graphql/discussion/mutations/discussion.ts
Due: build, test, notify, gather, build-content, deploy

[web] this is a commit message
  packages/web/src/pages/index.tsx
Due: build, test, notify, gather, build-content, deploy

[kysely] add cache table
  package-lock.json
  package.json
  packages/kysely/package.json
  packages/kysely/src/database.schema.ts
  packages/kysely/src/index.ts
  packages/kysely/src/jtd/piece.ts
  packages/kysely/src/migrations/2024-02-26T05:37:37Z-add-cache-table.ts
  packages/kysely/src/migrations/2024-03-01T01:01:47Z-fix-trigger-bugs.ts
  packages/kysely/src/tables/pieces.schema.ts
  packages/kysely/src/tables/pieces_cache.schema.ts
  packages/kysely/src/tables/tag_maps.schema.ts
Due: none

[cli] migrate towards db cache table
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/cache.test.ts
  packages/cli/src/lib/cache.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/commands/create.ts
  packages/cli/src/lib/commands/process.test.ts
  packages/cli/src/lib/commands/process.ts
  packages/cli/src/lib/commands/sync.test.ts
  packages/cli/src/lib/commands/sync.ts
  packages/cli/src/lib/csv.ts
  packages/cli/src/lib/pieces/cache.fixtures.ts
  packages/cli/src/lib/pieces/cache.test.ts
  packages/cli/src/lib/pieces/cache.ts
  packages/cli/src/lib/pieces/index.ts
  packages/cli/src/lib/pieces/piece.fixtures.ts
  packages/cli/src/lib/pieces/piece.test.ts
  packages/cli/src/lib/pieces/piece.ts
  packages/cli/src/lib/pieces/pieces.test.ts
  packages/cli/src/lib/pieces/pieces.ts
  packages/cli/src/lib/pieces/utils.ts
  packages/cli/src/pieces/books/piece.test.ts
  packages/cli/src/pieces/books/piece.ts
  packages/cli/src/pieces/links/piece.test.ts
  packages/cli/src/pieces/links/piece.ts
  packages/cli/src/pieces/texts/piece.ts
  packages/cli/vite.config.ts
Due: build, test, publish, notify

[kysely] push more database logic down
  package-lock.json
  packages/kysely/package.json
  packages/kysely/src/database.utils.ts
  packages/kysely/src/database/database.mock.ts
  packages/kysely/src/database/index.test.ts
  packages/kysely/src/database/index.ts
  packages/kysely/src/database/migrations.test.ts
  packages/kysely/src/database/migrations.ts
  packages/kysely/src/database/schema.ts
  packages/kysely/src/database/utils.ts
  packages/kysely/src/index.test.ts
  packages/kysely/src/index.ts
  packages/kysely/src/jtd/ajv.test.ts
  packages/kysely/src/jtd/ajv.ts
  packages/kysely/src/jtd/books.schema.ts
  packages/kysely/src/jtd/index.ts
  packages/kysely/src/jtd/links.schema.ts
  packages/kysely/src/jtd/texts.schema.ts
  packages/kysely/src/markdown/frontmatter.test.ts
  packages/kysely/src/markdown/frontmatter.ts
  packages/kysely/src/markdown/index.ts
  packages/kysely/src/markdown/markdown.test.ts
  packages/kysely/src/markdown/markdown.ts
  packages/kysely/src/pieces/database.test.ts
  packages/kysely/src/pieces/database.ts
  packages/kysely/src/pieces/frontmatter.test.ts
  packages/kysely/src/pieces/frontmatter.ts
  packages/kysely/src/pieces/index.ts
  packages/kysely/src/pieces/markdown.test.ts
  packages/kysely/src/pieces/markdown.ts
  packages/kysely/src/pieces/piece.fixtures.ts
  packages/kysely/src/tables/books.schema.ts
  packages/kysely/src/tables/links.schema.ts
  packages/kysely/src/tables/pieces.schema.ts
  packages/kysely/src/tables/pieces_cache.schema.ts
  packages/kysely/src/tables/tag_maps.schema.ts
  packages/kysely/src/tables/tags.schema.ts
  packages/kysely/src/tables/texts.schema.ts
  packages/kysely/vite.config.ts
Due: none

[cli] migrating to latest kylsely
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/commands/context.fixtures.ts
  packages/cli/src/lib/commands/utils/types.ts
  packages/cli/src/lib/md.test.ts
  packages/cli/src/lib/md.ts
  packages/cli/src/lib/pieces/index.ts
  packages/cli/src/lib/pieces/markdown.test.ts
  packages/cli/src/lib/pieces/markdown.ts
  packages/cli/src/lib/pieces/piece.fixtures.ts
  packages/cli/src/lib/pieces/piece.test.ts
  packages/cli/src/lib/pieces/piece.ts
  packages/cli/src/lib/pieces/pieces.test.ts
  packages/cli/src/lib/pieces/pieces.ts
  packages/cli/src/pieces/books/openai.ts
  packages/cli/src/pieces/books/piece.test.ts
  packages/cli/src/pieces/books/piece.ts
  packages/cli/src/pieces/books/schema.ts
  packages/cli/src/pieces/links/openai.ts
  packages/cli/src/pieces/links/piece.test.ts
  packages/cli/src/pieces/links/piece.ts
  packages/cli/src/pieces/links/schema.ts
  packages/cli/src/pieces/texts/piece.ts
  packages/cli/src/pieces/texts/schema.ts
Due: build, test, publish, notify

[kysely] fix __dirname missing in esm
  package-lock.json
  packages/kysely/package.json
  packages/kysely/src/database/migrations.ts
Due: none

[cli] bump kysely
  package-lock.json
  packages/cli/package.json
Due: build, test, publish, notify

[kysely] preserve required metadata for fields
  package-lock.json
  packages/kysely/package.json
  packages/kysely/src/database/utils.test.ts
  packages/kysely/src/jtd/books.schema.ts
  packages/kysely/src/jtd/links.schema.ts
  packages/kysely/src/jtd/texts.schema.ts
  packages/kysely/src/pieces/frontmatter.test.ts
  packages/kysely/src/pieces/frontmatter.ts
Due: none

[cli] field command
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/assets.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/commands/attach.test.ts
  packages/cli/src/lib/commands/attach.ts
  packages/cli/src/lib/commands/create.test.ts
  packages/cli/src/lib/commands/field.test.ts
  packages/cli/src/lib/commands/field.ts
  packages/cli/src/lib/commands/index.ts
  packages/cli/src/lib/commands/validate.test.ts
  packages/cli/src/lib/pieces/cache.test.ts
  packages/cli/src/lib/pieces/cache.ts
  packages/cli/src/lib/pieces/piece.test.ts
  packages/cli/src/lib/pieces/piece.ts
  packages/cli/src/lib/pieces/pieces.test.ts
  packages/cli/src/lib/pieces/utils.test.ts
  packages/cli/src/lib/pieces/utils.ts
Due: build, test, publish, notify

[tools] moving various scripts into a new package
  .woodpecker/.tools.yml
  package-lock.json
  packages/tools/.eslintrc.json
  packages/tools/.gitignore
  packages/tools/.prettierrc.json
  packages/tools/package.json
  packages/tools/src/fetch-book/google-books.ts
  packages/tools/src/fetch-book/index.ts
  packages/tools/src/fetch-book/open-library.ts
  packages/tools/src/fetch-book/openai.ts
  packages/tools/src/fetch-book/yargs.ts
  packages/tools/src/fetch-link/index.ts
  packages/tools/src/fetch-link/openai.ts
  packages/tools/src/fetch-link/wayback.ts
  packages/tools/src/fetch-link/yargs.ts
  packages/tools/src/generate-img-og/NotoSans-Regular.ttf
  packages/tools/src/generate-img-og/books.tsx
  packages/tools/src/generate-img-og/index.ts
  packages/tools/src/generate-img-og/links.tsx
  packages/tools/src/generate-img-og/template.tsx
  packages/tools/src/generate-img-og/texts.tsx
  packages/tools/src/generate-img-og/utils.ts
  packages/tools/src/generate-img-og/yargs.ts
  packages/tools/src/generate-img-variants/index.ts
  packages/tools/src/generate-img-variants/utils.ts
  packages/tools/src/generate-img-variants/yargs.ts
  packages/tools/src/generate-rss/index.ts
  packages/tools/src/generate-rss/yargs.ts
  packages/tools/tsconfig.json
Due: none

[tools] bump version
  packages/tools/package.json
Due: none

[tools] fix OG image path
  package-lock.json
  packages/tools/package.json
  packages/tools/src/generate-img-og/books.tsx
  packages/tools/src/generate-img-og/links.tsx
  packages/tools/src/generate-img-og/texts.tsx
Due: none

[web] adopt tools for scripting
  .editorconfig
  .woodpecker/.web.yml
  package-lock.json
  packages/tools/package.json
  packages/web/.env
  packages/web/package.json
  packages/web/scripts/generate-image-variants.ts
  packages/web/scripts/generate-og-images.tsx
  packages/web/scripts/generate-rss.js
  packages/web/scripts/generate-rss.ts
  packages/web/scripts/og/books.tsx
  packages/web/scripts/og/links.tsx
  packages/web/scripts/og/template.tsx
  packages/web/scripts/og/texts.tsx
  packages/web/scripts/utils.ts
  packages/web/src/common/components/books/BookCoverFor.tsx
  packages/web/src/common/components/links/ArticleCoverFor.tsx
  packages/web/src/pages/pieces/books/[slug].tsx
  packages/web/src/pages/pieces/links/[slug].tsx
Due: build, test, notify, gather, build-content, deploy

[web] use webdav for caching artifacts
  .woodpecker/.web.yml
Due: build, test, notify, gather, build-content, deploy

Path conditions:
  build: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: Dockerfile, .woodpecker/.web.yml, packages/web/**)
  test: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  publish: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: Dockerfile, .woodpecker/.web.yml, packages/web/**)
  gather: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  build-content: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  deploy: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
