Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, test, publish, notify, gather, build-content, deploy

Path conditions:
  build: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: Dockerfile, .woodpecker/.web.yml, packages/web/**)
  test: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  publish: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: Dockerfile, .woodpecker/.web.yml, packages/web/**)
  gather: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  build-content: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  deploy: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**

align database fields with markdown fields
  package-lock.json
  packages/kysely/package.json
  packages/kysely/src/database.migrations.ts
  packages/kysely/src/jtd/ajv.test.ts
  packages/kysely/src/jtd/ajv.ts
  packages/kysely/src/jtd/books.schema.ts
  packages/kysely/src/jtd/links.schema.ts
  packages/kysely/src/jtd/piece.ts
  packages/kysely/src/migrations/2023-11-27T04:32:07Z.ts
  packages/kysely/src/tables/books.schema.ts
  packages/kysely/src/tables/links.schema.ts
  packages/kysely/test/setup.ts
  packages/kysely/vite.config.ts
Due: none

support latest kysely migration
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/cache.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/commands/edit.test.ts
  packages/cli/src/lib/commands/edit.ts
  packages/cli/src/lib/commands/process.test.ts
  packages/cli/src/lib/commands/process.ts
  packages/cli/src/lib/commands/sync.test.ts
  packages/cli/src/lib/commands/sync.ts
  packages/cli/src/lib/commands/validate.test.ts
  packages/cli/src/lib/commands/validate.ts
  packages/cli/src/lib/md.test.ts
  packages/cli/src/lib/md.ts
  packages/cli/src/lib/pieces/index.ts
  packages/cli/src/lib/pieces/markdown.test.ts
  packages/cli/src/lib/pieces/markdown.ts
  packages/cli/src/lib/pieces/piece.fixtures.ts
  packages/cli/src/lib/pieces/piece.test.ts
  packages/cli/src/lib/pieces/piece.ts
  packages/cli/src/lib/pieces/pieces.ts
  packages/cli/src/lib/pieces/utils.test.ts
  packages/cli/src/lib/pieces/utils.ts
  packages/cli/src/pieces/books/book.fixtures.ts
  packages/cli/src/pieces/books/index.ts
  packages/cli/src/pieces/books/openai.ts
  packages/cli/src/pieces/books/piece.test.ts
  packages/cli/src/pieces/books/piece.ts
  packages/cli/src/pieces/books/schema.ts
  packages/cli/src/pieces/links/index.ts
  packages/cli/src/pieces/links/link.fixtures.ts
  packages/cli/src/pieces/links/piece.test.ts
  packages/cli/src/pieces/links/piece.ts
  packages/cli/src/pieces/links/schema.ts
  packages/cli/test/globalSetup.ts
  packages/cli/test/setup.ts
  packages/cli/vite.config.ts
Due: build, test, publish, notify

update cli
  package-lock.json
  packages/cli/package.json
Due: build, test, publish, notify

add wayback and openai to fetch metadata for links
  packages/cli/package.json
  packages/cli/src/pieces/books/open-library.test.ts
  packages/cli/src/pieces/books/piece.ts
  packages/cli/src/pieces/links/openai.test.ts
  packages/cli/src/pieces/links/openai.ts
  packages/cli/src/pieces/links/piece.test.ts
  packages/cli/src/pieces/links/piece.ts
  packages/cli/src/pieces/links/schema.ts
  packages/cli/src/pieces/links/wayback.test.ts
  packages/cli/src/pieces/links/wayback.ts
Due: build, test, publish, notify

add word_count to links
  packages/kysely/package.json
  packages/kysely/src/jtd/links.schema.ts
  packages/kysely/src/migrations/2024-01-01T23:30:29Z.ts
  packages/kysely/src/tables/links.schema.ts
Due: none

bump kysely dependencies
  package-lock.json
  packages/cli/package.json
  packages/cli/src/pieces/links/link.fixtures.ts
Due: build, test, publish, notify

rename screenshot to image field
  packages/kysely/package.json
  packages/kysely/src/jtd/links.schema.ts
  packages/kysely/src/migrations/2024-01-06T15:52:43Z.ts
  packages/kysely/src/tables/links.schema.ts
Due: none

improvements to support importing links
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/commands/process.test.ts
  packages/cli/src/lib/commands/process.ts
  packages/cli/src/lib/commands/sync.ts
  packages/cli/src/lib/pieces/piece.test.ts
  packages/cli/src/lib/pieces/piece.ts
  packages/cli/src/lib/pieces/utils.test.ts
  packages/cli/src/lib/pieces/utils.ts
  packages/cli/src/lib/web.test.ts
  packages/cli/src/lib/web.ts
  packages/cli/src/pieces/books/piece.test.ts
  packages/cli/src/pieces/books/piece.ts
  packages/cli/src/pieces/links/link.fixtures.ts
  packages/cli/src/pieces/links/piece.test.ts
  packages/cli/src/pieces/links/piece.ts
  packages/cli/src/pieces/links/wayback.ts
Due: build, test, publish, notify

sync command filter fix
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/commands/sync.test.ts
  packages/cli/src/lib/commands/sync.ts
Due: build, test, publish, notify

run migrations and version bump
  packages/kysely/package.json
  packages/kysely/src/database.migrations.ts
Due: none

[cli] update kysely to get migrations
  package-lock.json
  packages/cli/package.json
Due: build, test, publish, notify

[kysely] expose sql helper
  packages/kysely/package.json
  packages/kysely/src/index.ts
Due: none

[web] remove book order column
  .tool-versions
  .woodpecker/.web.yml
  package-lock.json
  packages/cli/package.json
  packages/web/codegen.ts
  packages/web/graphql.config.yml
  packages/web/package.json
  packages/web/scripts/generate-rss.js
  packages/web/scripts/generate-rss.ts
  packages/web/src/common/components/books/BookCoverFor.tsx
  packages/web/src/common/components/pages/book/DiscussionForm.tsx
  packages/web/src/common/components/pages/book/RecommendationForm.tsx
  packages/web/src/common/graphql/book/fragments/bookFullDetails.ts
  packages/web/src/common/graphql/book/objects/book.ts
  packages/web/src/common/graphql/book/objects/bookSiblings.ts
  packages/web/src/common/graphql/book/queries/books.ts
  packages/web/src/common/graphql/error/objects/error.ts
  packages/web/src/common/graphql/schema.ts
  packages/web/src/common/graphql/search/queries/search.ts
  packages/web/src/common/graphql/tag/objects/tag.ts
  packages/web/src/lib/graphql/builder.ts
  packages/web/src/pages/books/[slug].tsx
  packages/web/src/pages/books/index.tsx
  packages/web/src/pages/tags/[slug].tsx
  packages/web/tsconfig.json
Due: build, test, publish, notify, gather, build-content, deploy

[cli] update kysely
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/commands/cd.test.ts
  packages/cli/src/lib/pieces/utils.ts
Due: build, test, publish, notify

[cli] harden piece creation to use frontmatter types
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/commands/cd.test.ts
  packages/cli/src/lib/commands/cd.ts
  packages/cli/src/pieces/books/piece.ts
  packages/cli/src/pieces/links/piece.ts
Due: build, test, publish, notify

[cli] fix fetch bug overriding previous updates
  package-lock.json
  packages/cli/package.json
  packages/cli/src/pieces/books/piece.test.ts
  packages/cli/src/pieces/books/piece.ts
  packages/cli/src/pieces/links/piece.test.ts
  packages/cli/src/pieces/links/piece.ts
Due: build, test, publish, notify

[web] singlequery retrieval for previous and next books
  packages/web/src/common/graphql/book/objects/book.ts
  packages/web/src/common/graphql/book/queries/books.ts
Due: build, test, notify, gather, build-content, deploy

[kysely] add webp support for image enums
  .woodpecker/.kysely.yml
  package-lock.json
  packages/kysely/package.json
  packages/kysely/src/database.schema.ts
  packages/kysely/src/jtd/books.schema.ts
  packages/kysely/src/jtd/links.schema.ts
  packages/kysely/src/tables/links.schema.ts
  packages/kysely/src/tables/pieces.ts
Due: none

[cli] bump kysely
  package-lock.json
  packages/cli/package.json
Due: build, test, publish, notify

[web] support rendering links
  .woodpecker/.web.yml
  package-lock.json
  packages/web/package.json
  packages/web/scripts/generate-image-variants.ts
  packages/web/scripts/generate-og-images.tsx
  packages/web/src/common/components/discussions/DiscussionForm.tsx
  packages/web/src/common/components/discussions/RecommendationForm.tsx
  packages/web/src/common/components/links/ArticleCover.tsx
  packages/web/src/common/components/links/ArticleCoverFor.tsx
  packages/web/src/common/components/links/styles.css.ts
  packages/web/src/common/graphql/discussion/mutations/book.ts
  packages/web/src/common/graphql/link/fragments/linkFullDetails.ts
  packages/web/src/common/graphql/link/index.ts
  packages/web/src/common/graphql/link/objects/link.ts
  packages/web/src/common/graphql/link/queries/link.ts
  packages/web/src/common/graphql/link/queries/links.ts
  packages/web/src/common/graphql/schema.ts
  packages/web/src/pages/_error.tsx
  packages/web/src/pages/books/[slug].tsx
  packages/web/src/pages/books/index.tsx
  packages/web/src/pages/index.tsx
  packages/web/src/pages/links/[slug].css.ts
  packages/web/src/pages/links/[slug].tsx
  packages/web/src/pages/links/index.css.ts
  packages/web/src/pages/links/index.tsx
Due: build, test, notify, gather, build-content, deploy
