Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, test, publish, notify, gather, build-content, deploy

build:
  image: node:18
  commands:
  - npm ci -w @luzzle/cli -w @luzzle/kysely
  - npm run build -w @luzzle/kysely
  - npm run compile -w @luzzle/cli
  - npm run build -w @luzzle/cli

test:
  image: node:18
  commands:
  - npm run lint -w @luzzle/cli
  - npm run test -w @luzzle/cli

publish:
  image: node:18
  commands:
  - npm config set @luzzle:registry https://git.eleith.com/api/packages/$NPM_OWNER/npm/
  - npm config set -- "//git.eleith.com/api/packages/$NPM_OWNER/npm/:_authToken" "$NPM_TOKEN"
  - cd packages/cli
  - NPM_CURRENT_VERSION="$(npm pkg get version --workspaces=false)"
  ...

notify:
  image: deblan/woodpecker-email:1.0.1-wp
  secrets:
  - smtp_notification_from
  - smtp_notification_host
  - smtp_notification_password
  - smtp_notification_from
  - smtp_notification_recipient
  settings:
    from.address:
      from_secret: smtp_notification_from
    host:
      from_secret: smtp_notification_host
  ...

gather:
  image: rclone/rclone:1.57
  environment:
  - RCLONE_GCS_STORAGE_CLASS=REGIONAL
  - RCLONE_GCS_BUCKET_POLICY_ONLY=true
  - RCLONE_GCS_LOCATION=us-central-1
  - RCLONE_GCS_SERVICE_ACCOUNT_FILE=/tmp/rclone-service-key.json
  - RCLONE_DAV_BOOK_SOURCE=:webdav:documents/eleith/notes-md/personal/records
  ...

build-content:
  image: node:18
  environment:
  - ENV_LOCAL_FILE=.env.local
  - NODE_ENV=production
  commands:
  - printf '%s\n' "$NEXTJS_ENV_LOCAL" > ./packages/web/$ENV_LOCAL_FILE
  - cd packages/web
  - npm run build:og:images
  - npm run build:rss
  secrets:
  - nextjs_env_local

deploy:
  image: git.eleith.com/eleith/gcs-web-deploy:3.0.0
  environment:
  - LOG_DIR=gs://eleith-cloud-builds/logs
  - STAGING_DIR=gs://eleith-cloud-builds/eleith-io-site
  - RUN_KEY_FILE=/tmp/secrets/service-account-key.json
  - GCR_IMAGE=gcr.io/eleith-cloud/eleith-io-site
  - GCS_PROJECT=eleith-cloud
  ...

fix prev/next links
  packages/web/package.json
  packages/web/src/pages/pieces/books/[slug].tsx
  packages/web/src/pages/pieces/links/[slug].tsx
  packages/web/src/pages/pieces/texts/[slug].tsx
Due: build, test, notify, gather, build-content, deploy

add games
  package-lock.json
  packages/core/package.json
  packages/core/src/pieces/json.schema.ts
  packages/core/src/pieces/tables.schema.ts
  packages/core/src/pieces/types/books/index.ts
  packages/core/src/pieces/types/games/index.ts
  packages/core/src/pieces/types/games/interface.ts
  packages/core/src/pieces/types/games/schema.json
  packages/core/src/pieces/types/games/schema.json.ts
  packages/core/src/pieces/types/index.ts
  packages/core/src/pieces/types/links/index.ts
Due: none

[web] bump core
  package-lock.json
  packages/web/package.json
Due: build, test, notify, gather, build-content, deploy

[web] fix text links
  packages/web/src/pages/pieces/texts/index.tsx
Due: build, test, notify, gather, build-content, deploy

support multi-field setting
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/commands/create.test.ts
  packages/cli/src/lib/commands/create.ts
  packages/cli/src/lib/commands/field.test.ts
  packages/cli/src/lib/commands/field.ts
  packages/cli/src/lib/pieces/piece.test.ts
  packages/cli/src/lib/pieces/piece.ts
Due: build, test, publish, notify

[core] support for games
  package-lock.json
  packages/core/package.json
  packages/core/src/database/migrations.sh
  packages/core/src/database/migrations/2024-06-15T17:17:51Z-add-games-table.ts
  packages/core/src/pieces/types/games/interface.ts
  packages/core/src/pieces/types/games/schema.json
  packages/core/src/pieces/types/games/schema.json.ts
Due: none

[cli] update core to support games
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/pieces/piece.ts
  packages/cli/src/lib/pieces/pieces.test.ts
Due: build, test, publish, notify

[tools] add fetch video games from igdb
  package-lock.json
  packages/tools/package.json
  packages/tools/src/fetch-video-game/google-ai.ts
  packages/tools/src/fetch-video-game/google-books.ts
  packages/tools/src/fetch-video-game/igdb.ts
  packages/tools/src/fetch-video-game/index.ts
  packages/tools/src/fetch-video-game/yargs.ts
Due: build, test, publish, notify

[tools] support game img generation
  package-lock.json
  packages/tools/package.json
  packages/tools/src/generate-img-og/games.tsx
  packages/tools/src/generate-img-og/index.ts
  packages/tools/src/generate-img-variants/index.ts
Due: build, test, publish, notify

[web] support games
  .woodpecker/.web.yml
  package-lock.json
  packages/web/package.json
  packages/web/src/common/components/games/GameCover.tsx
  packages/web/src/common/components/games/GameCoverFor.tsx
  packages/web/src/common/components/games/styles.css.ts
  packages/web/src/common/components/pieces/PieceCard.tsx
  packages/web/src/common/graphql/games/fragments/gameFullDetails.ts
  packages/web/src/common/graphql/games/index.ts
  packages/web/src/common/graphql/games/objects/game.ts
  packages/web/src/common/graphql/games/queries/game.ts
  packages/web/src/common/graphql/games/queries/games.ts
  packages/web/src/common/graphql/schema.ts
  packages/web/src/pages/index.tsx
  packages/web/src/pages/pieces/games/[slug].css.ts
  packages/web/src/pages/pieces/games/[slug].tsx
  packages/web/src/pages/pieces/games/index.css.ts
  packages/web/src/pages/pieces/games/index.tsx
Due: build, test, notify, gather, build-content, deploy

[web] fix games image variant build
  .woodpecker/.web.yml
Due: build, test, notify, gather, build-content, deploy

[tools] integrate pocket into link fetch
  package-lock.json
  packages/tools/package.json
  packages/tools/src/fetch-link/google-ai.ts
  packages/tools/src/fetch-link/index.ts
  packages/tools/src/fetch-link/openai.ts
  packages/tools/src/fetch-link/pocket.ts
  packages/tools/src/fetch-link/yargs.ts
Due: build, test, publish, notify

[tools] generate link metadata by html backup
  package-lock.json
  packages/tools/package.json
  packages/tools/src/fetch-link/google-ai.ts
  packages/tools/src/fetch-link/index.ts
  packages/tools/src/fetch-link/pocket.ts
  packages/tools/src/fetch-link/yargs.ts
Due: build, test, publish, notify

[tools] add global bin package for games
  package-lock.json
  packages/tools/package.json
Due: build, test, publish, notify

[tools] generalize game fetching with prompts
  package-lock.json
  packages/tools/package.json
  packages/tools/src/fetch-game/google-ai.ts
  packages/tools/src/fetch-game/google-books.ts
  packages/tools/src/fetch-game/igdb.ts
  packages/tools/src/fetch-game/index.ts
  packages/tools/src/fetch-game/yargs.ts
  packages/tools/src/fetch-video-game/google-ai.ts
  packages/tools/src/fetch-video-game/index.ts
Due: build, test, publish, notify

[tools] abstract out schema and examples
  packages/tools/src/fetch-game/google-ai.ts
Due: build, test, publish, notify

[core] migrate books to url
  package-lock.json
  packages/core/package.json
  packages/core/src/database/migrations/2024-06-24T20:16:48Z-remove-book-open-library-fields.ts
  packages/core/src/pieces/types/books/interface.ts
  packages/core/src/pieces/types/books/schema.json
  packages/core/src/pieces/types/books/schema.json.ts
  packages/core/src/pieces/types/games/schema.json
  packages/core/src/pieces/types/games/schema.json.ts
  packages/core/src/pieces/types/links/schema.json
  packages/core/src/pieces/types/links/schema.json.ts
  packages/core/src/pieces/types/texts/schema.json
  packages/core/src/pieces/types/texts/schema.json.ts
Due: none

[cli] bump core to get book migration
  package-lock.json
  packages/cli/package.json
Due: build, test, publish, notify

[web] bump to migrate books and url support
  package-lock.json
  packages/web/package.json
  packages/web/src/common/graphql/book/fragments/bookFullDetails.ts
  packages/web/src/common/graphql/book/objects/book.ts
  packages/web/src/pages/pieces/books/[slug].tsx
Due: build, test, notify, gather, build-content, deploy

[tools] make book fetching generic with an llm
  package-lock.json
  packages/tools/package.json
  packages/tools/src/fetch-book/google-ai.ts
  packages/tools/src/fetch-book/google-books.ts
  packages/tools/src/fetch-book/index.ts
  packages/tools/src/fetch-book/open-library.ts
  packages/tools/src/fetch-book/openai.ts
  packages/tools/src/fetch-book/yargs.ts
  packages/tools/src/fetch-game/igdb.ts
  packages/tools/src/fetch-game/index.ts
Due: build, test, publish, notify

Path conditions:
  build: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: Dockerfile, .woodpecker/.web.yml, packages/web/**)
  test: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  publish: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: Dockerfile, .woodpecker/.web.yml, packages/web/**)
  gather: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  build-content: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  deploy: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
