Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: cli, notify-success, notify-failure, core, build, test, publish, notify, tools, web-editor, web-explorer, prepare, build_docker

Path conditions:
  cli: any of: .woodpecker/.cli.yml, packages/cli/**
  notify-success: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.core.yml, packages/core/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.web-editor.yml, packages/web/editor/**) or (any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**)
  notify-failure: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.core.yml, packages/core/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.web-editor.yml, packages/web/editor/**) or (any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**)
  core: any of: .woodpecker/.core.yml, packages/core/**
  build: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  test: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  publish: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  tools: any of: .woodpecker/.tools.yml, packages/tools/**
  web-editor: any of: .woodpecker/.web-editor.yml, packages/web/editor/**
  web-explorer: any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**
  prepare: any of: .woodpecker/.web.yml, packages/web/**
  build_docker: any of: .woodpecker/.web.yml, packages/web/**

[cli] fix log mock
  packages/cli/src/lib/cli.test.ts
Due: cli, notify-success, notify-failure

[cli] update Dirent types
  packages/cli/src/lib/commands/index.test.ts
  packages/cli/src/lib/storage/fs.test.ts
Due: cli, notify-success, notify-failure

[web-explorer] feat: create Dockerfile.custom and docker-compose.yml examples
  packages/web/explorer/examples/Dockerfile.custom
  packages/web/explorer/examples/docker-compose.yml
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] docs: create examples README.md
  packages/web/explorer/examples/README.md
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] prod build command
  packages/web/explorer/examples/Dockerfile.custom
  packages/web/explorer/examples/README.md
  packages/web/explorer/package.json
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] import markdown during build
  packages/tools/src/lib/config/config.ts
  packages/web/explorer/.gitignore
  packages/web/explorer/package.json
  packages/web/explorer/scripts/sync-content.js
  packages/web/explorer/src/lib/server/content.ts
  packages/web/explorer/src/routes/(root)/+page.server.ts
  packages/web/explorer/src/routes/rss/pieces/[[piece=pieceType]]/feed.html/+page.server.ts
  packages/web/explorer/src/routes/rss/tags/[tag]/feed.html/+page.server.ts
  packages/web/explorer/svelte.config.js
Due: notify-success, notify-failure, notify, tools, web-explorer, prepare, build_docker

[web-explorer] import theme during build
  packages/web/explorer/.gitignore
  packages/web/explorer/package.json
  packages/web/explorer/src/routes/+layout.svelte
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] fix lint
  packages/web/explorer/scripts/sync-content.js
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[tools] simplify theme and config commands
  package-lock.json
  packages/tools/package.json
  packages/tools/src/commands/theme/command.test.ts
  packages/tools/src/commands/theme/command.ts
  packages/tools/src/commands/theme/index.test.ts
  packages/tools/src/commands/theme/index.ts
  packages/tools/src/lib/config/config.ts
  packages/tools/src/lib/config/schema.json
  packages/tools/src/lib/config/schema.ts
Due: notify-success, notify-failure, tools

[web-explorer] bump tools
  package-lock.json
  packages/web/explorer/examples/Dockerfile.custom
  packages/web/explorer/package.json
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[tools] dont fail on user config missing, just warn
  package-lock.json
  packages/tools/package.json
  packages/tools/src/lib/config/config.test.ts
  packages/tools/src/lib/config/config.ts
Due: notify-success, notify-failure, tools

[web-explorer] fix config.yaml requirement
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/src/routes/+layout.server.ts
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] remove unused scripts
  packages/web/explorer/scripts/entrypoint.sh
  packages/web/explorer/scripts/patch-config-for-build.js
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[tools] support icon components
  package-lock.json
  packages/tools/package.json
  packages/tools/src/lib/config/defaults.yaml
  packages/tools/src/lib/config/schema.json
  packages/tools/src/lib/config/schema.ts
Due: notify-success, notify-failure, tools

[web-explorer] support loading of custom icon components
  package-lock.json
  packages/web/explorer/.gitignore
  packages/web/explorer/package.json
  packages/web/explorer/scripts/get-config-value.js
  packages/web/explorer/scripts/sync-icon-components.js
  packages/web/explorer/src/lib/pieces/components/icon.svelte
  packages/web/explorer/src/lib/pieces/components/icon/article.svelte
  packages/web/explorer/src/lib/pieces/components/icon/book.svelte
  packages/web/explorer/src/lib/pieces/components/icon/cartridge.svelte
  packages/web/explorer/src/lib/pieces/components/icon/index.svelte
  packages/web/explorer/src/lib/pieces/components/icon/playing-card.svelte
  packages/web/explorer/src/lib/pieces/components/icon/poster.svelte
  packages/web/explorer/src/lib/pieces/components/icons/generic.svelte
  packages/web/explorer/src/lib/pieces/types.ts
  packages/web/explorer/src/routes/(root)/+page.svelte
  packages/web/explorer/src/routes/+layout.svelte
  packages/web/explorer/src/routes/pieces/[[piece=pieceType]]/+page.svelte
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug]/+layout@.svelte
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug]/+page.svelte
  packages/web/explorer/src/routes/search/+page.svelte
  packages/web/explorer/src/routes/tags/[tag]/+page.svelte
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] install dev to allow building
  packages/web/explorer/Dockerfile
  packages/web/explorer/examples/Dockerfile.custom
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] push version 0.0.83
  package-lock.json
  packages/web/explorer/package.json
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

make piece icon templates reactive
  packages/web/explorer/src/lib/pieces/components/icon.svelte
  packages/web/explorer/src/lib/pieces/components/icons/generic.svelte
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] push version 0.0.84
  package-lock.json
  packages/web/explorer/package.json
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

eleith-opengraph-svelte (#22)
  packages/tools/eslint.config.js
  packages/tools/package.json
  packages/tools/src/browser.ts
  packages/tools/src/cli.ts
  packages/tools/src/commands/assets/index.test.ts
  packages/tools/src/commands/assets/index.ts
  packages/tools/src/commands/assets/utils.test.ts
  packages/tools/src/commands/assets/utils.ts
  packages/tools/src/commands/assets/variants.test.ts
  packages/tools/src/commands/assets/variants.ts
  packages/tools/src/commands/config/command.ts
  packages/tools/src/commands/opengraph/command.test.ts
  packages/tools/src/commands/opengraph/command.ts
  packages/tools/src/commands/opengraph/components/noto-sans.woff2
  packages/tools/src/commands/opengraph/components/og.default.svelte
  packages/tools/src/commands/opengraph/components/test.svelte
  packages/tools/src/commands/opengraph/components/test.svelte-hash.js
  packages/tools/src/commands/opengraph/html-generate.test.ts
  packages/tools/src/commands/opengraph/html.test.ts
  packages/tools/src/commands/opengraph/html.ts
  packages/tools/src/commands/opengraph/index.test.ts
  packages/tools/src/commands/opengraph/index.ts
  packages/tools/src/commands/opengraph/png.test.ts
  packages/tools/src/commands/opengraph/png.ts
  packages/tools/src/commands/opengraph/svelte.test.ts
  packages/tools/src/commands/opengraph/svelte.ts
  packages/tools/src/commands/opengraph/templates/html.eta
  packages/tools/src/commands/opengraph/templates/simple.eta
  packages/tools/src/commands/opengraph/utils.test.ts
  packages/tools/src/commands/opengraph/utils.ts
  packages/tools/src/lib/browser.test.ts
  packages/tools/src/lib/browser.ts
  packages/tools/src/lib/config/config.ts
  packages/tools/src/lib/config/schema.json
  packages/tools/src/lib/config/schema.ts
  packages/tools/src/lib/vibrant.test.ts
  packages/tools/src/lib/vibrant.ts
  packages/tools/src/sdk.ts
  packages/tools/src/types.ts
  packages/tools/vite.config.ts
Due: notify-success, notify-failure, tools
