Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: test, build, publish, notify, gather, build-content, deploy

test:
  image: node:16
  commands:
  - npm ci -w @luzzle/cli
  - npm run lint -w @luzzle/cli
  - npm run test -w @luzzle/cli

build:
  image: node:16
  commands:
  - npm ci -w @luzzle/prisma
  - npm run build -w @luzzle/prisma
  - npm run compile -w @luzzle/prisma
  - cd packages/prisma
  - npm run patch -w @luzzle/prisma

publish:
  image: node:16
  commands:
  - npm config set @luzzle:registry https://git.eleith.com/api/packages/$NPM_OWNER/npm/
  - npm config set -- "//git.eleith.com/api/packages/$NPM_OWNER/npm/:_authToken" "$NPM_TOKEN"
  - npm publish -w @luzzle/prisma
  secrets:
  - npm_token
  - npm_owner

notify:
  image: git.eleith.com/eleith/woodpecker-email:1.0.0
  environment:
  - PLUGIN_FROM_ADDRESS=online-woodpecker@eleith.com
  - PLUGIN_FROM_NAME="eleith ci"
  - PLUGIN_RECIPIENTS_ONLY=true
  secrets:
  - source: smtp_username
    target: plugin_username
  - source: smtp_password
    target: plugin_password
  ...

gather:
  image: rclone/rclone:1.57
  environment:
  - RCLONE_GCS_STORAGE_CLASS=REGIONAL
  - RCLONE_GCS_BUCKET_POLICY_ONLY=true
  - RCLONE_GCS_LOCATION=us-central-1
  - RCLONE_GCS_SERVICE_ACCOUNT_FILE=/tmp/rclone-service-key.json
  - RCLONE_DAV_BOOK_SOURCE=:webdav:documents/eleith/notes-md/personal/records/books
  ...

build-content:
  image: node:16
  commands:
  - cd packages/web
  - mkdir public/images
  - mkdir prisma
  - mkdir prisma/data
  - cp -R /workspace/data/books/.assets/covers public/images
  - cp /workspace/data/books/.assets/data/sqlite.db prisma/data

deploy:
  image: git.eleith.com/eleith/gcs-web-deploy:3.0.0
  environment:
  - LOG_DIR=gs://eleith-cloud-builds/logs
  - STAGING_DIR=gs://eleith-cloud-builds/eleith-io-site
  - RUN_KEY_FILE=/tmp/secrets/service-account-key.json
  - ENV_LOCAL_FILE=.env.local
  - GCR_IMAGE=gcr.io/eleith-cloud/eleith-io-site
  ...

[CI SKIP] use official ci email plugin
  .woodpecker/.cli.yml
  .woodpecker/.prisma.yml
  .woodpecker/.ui.yml
  .woodpecker/.web.yml
Due: test, build, publish, notify, gather, build-content, deploy

move search to header
  packages/ui/components/Anchor/styles.css.ts
  packages/ui/components/Button/Button.tsx
  packages/ui/components/Button/styles.css.ts
  packages/ui/components/Combobox/styles.css.ts
  packages/ui/components/Input/Input.tsx
  packages/ui/package.json
  packages/web/package.json
  packages/web/src/common/components/layout/PageBannerSlide.css.ts
  packages/web/src/common/components/layout/PageBannerSlide.tsx
  packages/web/src/pages/index.tsx
  packages/web/src/pages/search.css.ts
  packages/web/src/pages/search.tsx
Due: test, build, publish, notify, gather, build-content, deploy

increase mobile font sizes
  packages/ui/components/Input/Input.tsx
  packages/ui/components/Input/styles.css.ts
  packages/ui/package.json
  packages/web/package.json
  packages/web/src/common/components/layout/Page.css.ts
  packages/web/src/pages/search.css.ts
  packages/web/src/pages/search.tsx
Due: test, build, publish, notify, gather, build-content, deploy

add tag and tagMap tables
  package-lock.json
  packages/prisma/index.d.ts
  packages/prisma/index.ts
  packages/prisma/package.json
  packages/prisma/src/migrations/20230428203731_tag_structure/migration.sql
  packages/prisma/src/migrations/20230428204131_tag_map_name/migration.sql
  packages/prisma/src/migrations/20230503021306_removing_tag_associations/migration.sql
  packages/prisma/src/schema.prisma
Due: test, build, publish, notify

bump to node 18
  .woodpecker/.prisma.yml
Due: test, build, publish, notify

rebuild package-log
  package-lock.json
Due: none

compile before build on prisma
  .woodpecker/.prisma.yml
Due: test, build, publish, notify

run with latest npm
  .woodpecker/.prisma.yml
Due: test, build, publish, notify

install all packages first
  .woodpecker/.prisma.yml
Due: test, build, publish, notify

try and fix failing build
  .woodpecker/.prisma.yml
  package-lock.json
  package.json
Due: test, build, publish, notify

fix ci build
  package-lock.json
  package.json
  packages/cli/package.json
  packages/web/package.json
Due: test, build, notify, gather, build-content, deploy

build prisma
  .woodpecker/.prisma.yml
Due: test, build, publish, notify

build before compile
  .woodpecker/.prisma.yml
Due: test, build, publish, notify

bump cli
  packages/cli/src/generate-tags.ts.txt
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/commands/context.fixtures.ts
  packages/cli/src/lib/commands/process.ts
  packages/cli/src/lib/commands/sync.private.test.ts
  packages/cli/src/lib/commands/sync.private.ts
  packages/cli/src/lib/commands/sync.test.ts
  packages/cli/src/lib/commands/sync.ts
  packages/cli/src/lib/commands/utils/types.ts
  packages/cli/src/lib/tags/index.ts
  packages/cli/src/lib/tags/tags.test.ts
  packages/cli/src/lib/tags/tags.ts
Due: none

add tag support
  Dockerfile
  packages/web/next.config.js
  packages/web/src/common/graphql/book/objects/book.ts
  packages/web/src/common/graphql/book/queries/books.ts
  packages/web/src/common/graphql/tag/index.ts
  packages/web/src/common/graphql/tag/objects/tag.ts
  packages/web/src/pages/books/[slug].tsx
  packages/web/src/pages/tags/[slug].tsx
  packages/web/src/pages/tags/index.css.ts
Due: test, build, notify, gather, build-content, deploy

point to the correct gql files
  packages/web/src/pages/tags/[slug].tsx
Due: test, build, notify, gather, build-content, deploy

build prisma to get client ready
  .woodpecker/.web.yml
Due: test, build, notify, gather, build-content, deploy

bump cli
  packages/cli/package.json
Due: test

force schema in both places
  Dockerfile
  package-lock.json
Due: build, notify, gather, build-content, deploy

schema issues
  .woodpecker/.web.yml
  Dockerfile
  packages/web/src/pages/index.md.tsx
Due: test, build, notify, gather, build-content, deploy

Path conditions:
  test: (any of: .woodpecker/.cli.yml, packages/cli/*) or (any of: .woodpecker/.prisma.yml, packages/prisma/*) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  build: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: Dockerfile, .woodpecker/.web.yml, packages/web/**)
  publish: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: Dockerfile, .woodpecker/.web.yml, packages/web/**)
  gather: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  build-content: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  deploy: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
