Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, test, publish, notify, gather, build-content, deploy

build:
  image: node:18
  commands:
  - npm ci -w @luzzle/cli -w @luzzle/kysely
  - npm run build -w @luzzle/kysely
  - npm run compile -w @luzzle/cli
  - npm run build -w @luzzle/cli

test:
  image: node:18
  commands:
  - npm run lint -w @luzzle/cli
  - npm run test -w @luzzle/cli

publish:
  image: node:18
  commands:
  - npm config set @luzzle:registry https://git.eleith.com/api/packages/$NPM_OWNER/npm/
  - npm config set -- "//git.eleith.com/api/packages/$NPM_OWNER/npm/:_authToken" "$NPM_TOKEN"
  - cd packages/cli
  - NPM_CURRENT_VERSION="$(npm pkg get version --workspaces=false)"
  ...

notify:
  image: deblan/woodpecker-email:1.0.1-wp
  secrets:
  - smtp_notification_from
  - smtp_notification_host
  - smtp_notification_password
  - smtp_notification_from
  - smtp_notification_recipient
  settings:
    from.address:
      from_secret: smtp_notification_from
    host:
      from_secret: smtp_notification_host
  ...

gather:
  image: rclone/rclone:1.57
  environment:
  - RCLONE_GCS_STORAGE_CLASS=REGIONAL
  - RCLONE_GCS_BUCKET_POLICY_ONLY=true
  - RCLONE_GCS_LOCATION=us-central-1
  - RCLONE_GCS_SERVICE_ACCOUNT_FILE=/tmp/rclone-service-key.json
  - RCLONE_DAV_BOOK_SOURCE=:webdav:documents/eleith/notes-md/personal/records
  ...

build-content:
  image: node:18
  environment:
  - ENV_LOCAL_FILE=.env.local
  - NODE_ENV=production
  commands:
  - printf '%s\n' "$NEXTJS_ENV_LOCAL" > ./packages/web/$ENV_LOCAL_FILE
  - cd packages/web
  - npm run build:og:images
  - npm run build:rss
  secrets:
  - nextjs_env_local

deploy:
  image: git.eleith.com/eleith/gcs-web-deploy:3.0.0
  environment:
  - LOG_DIR=gs://eleith-cloud-builds/logs
  - STAGING_DIR=gs://eleith-cloud-builds/eleith-io-site
  - RUN_KEY_FILE=/tmp/secrets/service-account-key.json
  - GCR_IMAGE=gcr.io/eleith-cloud/eleith-io-site
  - GCS_PROJECT=eleith-cloud
  ...

[cli + web] reduce dependencies
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/commands/fetch.test.ts
  packages/cli/src/lib/commands/fetch.ts
  packages/cli/src/lib/commands/index.ts
  packages/cli/src/lib/commands/process.test.ts
  packages/cli/src/lib/commands/process.ts
  packages/cli/src/lib/pieces/piece.ts
  packages/cli/src/pieces/books/google-books.fixtures.ts
  packages/cli/src/pieces/books/google-books.test.ts
  packages/cli/src/pieces/books/google-books.ts
  packages/cli/src/pieces/books/open-library.fixtures.ts
  packages/cli/src/pieces/books/open-library.test.ts
  packages/cli/src/pieces/books/open-library.ts
  packages/cli/src/pieces/books/openai.test.ts
  packages/cli/src/pieces/books/openai.ts
  packages/cli/src/pieces/books/piece.ts
  packages/cli/src/pieces/links/openai.test.ts
  packages/cli/src/pieces/links/openai.ts
  packages/cli/src/pieces/links/piece.ts
  packages/cli/src/pieces/links/wayback.test.ts
  packages/cli/src/pieces/links/wayback.ts
  packages/cli/src/pieces/texts/piece.ts
  packages/web/next.config.js
  packages/web/package.json
  packages/web/src/common/components/mdx/components.tsx
Due: build, test, publish, notify, gather, build-content, deploy

[cli] fix tests, bump vitest and cli
  package-lock.json
  packages/cli/package.json
  packages/cli/src/pieces/books/piece.test.ts
  packages/cli/src/pieces/links/piece.test.ts
Due: build, test, publish, notify

[kysely] expose pieces directly
  package-lock.json
  packages/kysely/package.json
  packages/kysely/src/pieces/frontmatter.test.ts
  packages/kysely/src/pieces/frontmatter.ts
  packages/kysely/src/pieces/index.test.ts
  packages/kysely/src/pieces/index.ts
Due: none

[cli] update kysely and implement create
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/commands/context.fixtures.ts
  packages/cli/src/lib/commands/create.test.ts
  packages/cli/src/lib/commands/create.ts
  packages/cli/src/lib/commands/dump.ts
  packages/cli/src/lib/commands/edit.test.ts
  packages/cli/src/lib/commands/edit.ts
  packages/cli/src/lib/commands/field.test.ts
  packages/cli/src/lib/commands/field.ts
  packages/cli/src/lib/commands/sync.test.ts
  packages/cli/src/lib/commands/sync.ts
  packages/cli/src/lib/commands/utils/types.ts
  packages/cli/src/lib/commands/validate.test.ts
  packages/cli/src/lib/commands/validate.ts
  packages/cli/src/lib/pieces/piece.fixtures.ts
  packages/cli/src/lib/pieces/piece.test.ts
  packages/cli/src/lib/pieces/piece.ts
  packages/cli/src/lib/pieces/pieces.test.ts
  packages/cli/src/lib/pieces/pieces.ts
  packages/cli/src/lib/pieces/utils.test.ts
  packages/cli/src/pieces/books/book.fixtures.ts
  packages/cli/src/pieces/books/index.ts
  packages/cli/src/pieces/books/piece.test.ts
  packages/cli/src/pieces/books/piece.ts
  packages/cli/src/pieces/books/schema.ts
  packages/cli/src/pieces/links/index.ts
  packages/cli/src/pieces/links/link.fixtures.ts
  packages/cli/src/pieces/links/piece.test.ts
  packages/cli/src/pieces/links/piece.ts
  packages/cli/src/pieces/links/schema.ts
  packages/cli/src/pieces/texts/index.ts
  packages/cli/src/pieces/texts/piece.ts
  packages/cli/src/pieces/texts/schema.ts
Due: build, test, publish, notify

[kysely] bug fix removing a frontmatter field
  package-lock.json
  packages/kysely/package.json
  packages/kysely/src/pieces/database.test.ts
  packages/kysely/src/pieces/database.ts
  packages/kysely/src/pieces/frontmatter.test.ts
  packages/kysely/src/pieces/frontmatter.ts
Due: none

[cli] support set / remove in field cmd and fixes
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/commands/field.test.ts
  packages/cli/src/lib/commands/field.ts
  packages/cli/src/lib/pieces/piece.test.ts
  packages/cli/src/lib/pieces/piece.ts
Due: build, test, publish, notify

migrate core from JTD to JSONSchema
  packages/core/package.json
  packages/core/src/database/utils.ts
  packages/core/src/index.ts
  packages/core/src/lib/ajv.test.ts
  packages/core/src/lib/ajv.ts
  packages/core/src/lib/frontmatter.test.ts
  packages/core/src/lib/frontmatter.ts
  packages/core/src/lib/index.ts
  packages/core/src/pieces/index.ts
  packages/core/src/pieces/json.schema.test.ts
  packages/core/src/pieces/json.schema.ts
  packages/core/src/pieces/jtd.schema.ts
  packages/core/src/pieces/tables.schema.ts
  packages/core/src/pieces/types/books/index.ts
  packages/core/src/pieces/types/books/interface.ts
  packages/core/src/pieces/types/books/jtd.schema.ts
  packages/core/src/pieces/types/books/schema.json
  packages/core/src/pieces/types/books/schema.json.ts
  packages/core/src/pieces/types/books/table.schema.ts
  packages/core/src/pieces/types/common.ts
  packages/core/src/pieces/types/links/index.ts
  packages/core/src/pieces/types/links/interface.ts
  packages/core/src/pieces/types/links/jtd.schema.ts
  packages/core/src/pieces/types/links/schema.json
  packages/core/src/pieces/types/links/schema.json.ts
  packages/core/src/pieces/types/links/table.schema.ts
  packages/core/src/pieces/types/texts/index.ts
  packages/core/src/pieces/types/texts/interface.ts
  packages/core/src/pieces/types/texts/jtd.schema.ts
  packages/core/src/pieces/types/texts/schema.json
  packages/core/src/pieces/types/texts/schema.json.ts
  packages/core/src/pieces/types/texts/table.schema.ts
  packages/core/src/pieces/utils/database.test.ts
  packages/core/src/pieces/utils/database.ts
  packages/core/src/pieces/utils/frontmatter.test.ts
  packages/core/src/pieces/utils/frontmatter.ts
  packages/core/src/pieces/utils/markdown.ts
  packages/core/src/pieces/utils/piece.fixtures.ts
  packages/core/tsconfig.json
Due: none

bump core, typescript and eslint
  packages/cli/package.json
  packages/cli/src/@types/utilities.d.ts
  packages/cli/src/lib/commands/cd.ts
  packages/cli/src/lib/commands/dump.test.ts
  packages/cli/src/lib/commands/field.test.ts
  packages/cli/src/lib/commands/field.ts
  packages/cli/src/lib/commands/init.ts
  packages/cli/src/lib/commands/sync.test.ts
  packages/cli/src/lib/commands/validate.test.ts
  packages/cli/src/lib/commands/validate.ts
  packages/cli/src/lib/database.mock.ts
  packages/cli/src/lib/pieces/piece.fixtures.ts
  packages/cli/src/lib/pieces/piece.test.ts
  packages/cli/src/lib/pieces/piece.ts
  packages/cli/src/lib/pieces/pieces.test.ts
  packages/cli/src/lib/web.test.ts
  packages/cli/tsconfig.build.json
  packages/cli/tsconfig.json
Due: build, test, publish, notify

bump core, typescript, eslint
  packages/tools/package.json
  packages/tools/src/generate-img-og/utils.ts
  packages/tools/src/generate-img-variants/utils.ts
  packages/tools/tsconfig.json
Due: none

bump core, typescript, eslint
  packages/web/package.json
  packages/web/src/common/hooks/useGraphSWR.tsx
Due: build, test, notify, gather, build-content, deploy

bump typescript, eslint
  packages/ui/package.json
Due: build, test, publish, notify

bump node and all packages
  .tool-versions
  package-lock.json
Due: none

lint
  packages/ui/package.json
  packages/ui/types/index.ts
Due: build, test, publish, notify

lint
  packages/cli/src/lib/pieces/piece.ts
Due: build, test, publish, notify

bump to node 20
  .woodpecker/.cli.yml
  .woodpecker/.core.yml
  .woodpecker/.tools.yml
  .woodpecker/.web.yml
Due: build, test, publish, notify, gather, build-content, deploy

update pipeline event syntax
  .woodpecker/.cli.yml
  .woodpecker/.core.yml
  .woodpecker/.tools.yml
  .woodpecker/.ui.yml
  .woodpecker/.web.yml
  package-lock.json
Due: build, test, publish, notify, gather, build-content, deploy

fix web build due to kysely upgrade
  package-lock.json
  packages/web/package.json
  packages/web/src/common/graphql/book/objects/book.ts
  packages/web/src/common/graphql/link/objects/link.ts
  packages/web/src/common/graphql/piece/objects/piece.ts
  packages/web/src/common/graphql/texts/objects/text.ts
Due: build, test, notify, gather, build-content, deploy

bump core to fix coauthors field on book piece
  package-lock.json
  packages/core/package.json
  packages/core/src/pieces/types/books/schema.json
  packages/core/src/pieces/types/books/schema.json.ts
Due: none

bump core on web, cli and tools
  package-lock.json
  packages/cli/package.json
  packages/core/src/pieces/types/books/interface.ts
  packages/tools/package.json
  packages/web/package.json
  packages/web/src/common/graphql/book/objects/book.ts
Due: build, test, publish, notify, gather, build-content, deploy

Path conditions:
  build: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: Dockerfile, .woodpecker/.web.yml, packages/web/**)
  test: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  publish: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: Dockerfile, .woodpecker/.web.yml, packages/web/**)
  gather: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  build-content: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  deploy: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
