Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: test, build, publish, notify, gather, build-content, deploy

test:
  image: node:16
  commands:
  - npm ci -w @luzzle/cli
  - npm run lint -w @luzzle/cli
  - npm run test -w @luzzle/cli

build:
  image: node:16
  commands:
  - npm ci -w @luzzle/prisma
  - npm run build -w @luzzle/prisma
  - npm run compile -w @luzzle/prisma
  - cd packages/prisma
  - npm run patch -w @luzzle/prisma

publish:
  image: node:16
  commands:
  - npm config set @luzzle:registry https://git.eleith.com/api/packages/$NPM_OWNER/npm/
  - npm config set -- "//git.eleith.com/api/packages/$NPM_OWNER/npm/:_authToken" "$NPM_TOKEN"
  - npm publish -w @luzzle/prisma
  secrets:
  - npm_token
  - npm_owner

notify:
  image: git.eleith.com/eleith/woodpecker-email:1.0.0
  environment:
  - PLUGIN_FROM_ADDRESS=online-woodpecker@eleith.com
  - PLUGIN_FROM_NAME="eleith ci"
  - PLUGIN_RECIPIENTS_ONLY=true
  secrets:
  - source: smtp_username
    target: plugin_username
  - source: smtp_password
    target: plugin_password
  ...

gather:
  image: rclone/rclone:1.57
  environment:
  - RCLONE_GCS_STORAGE_CLASS=REGIONAL
  - RCLONE_GCS_BUCKET_POLICY_ONLY=true
  - RCLONE_GCS_LOCATION=us-central-1
  - RCLONE_GCS_SERVICE_ACCOUNT_FILE=/tmp/rclone-service-key.json
  - RCLONE_DAV_BOOK_SOURCE=:webdav:documents/eleith/notes-md/personal/records/books
  ...

build-content:
  image: node:16
  commands:
  - cd packages/web
  - mkdir public/images
  - mkdir prisma
  - mkdir prisma/data
  - cp -R /workspace/data/books/.assets/covers public/images
  - cp /workspace/data/books/.assets/data/sqlite.db prisma/data

deploy:
  image: git.eleith.com/eleith/gcs-web-deploy:3.0.0
  environment:
  - LOG_DIR=gs://eleith-cloud-builds/logs
  - STAGING_DIR=gs://eleith-cloud-builds/eleith-io-site
  - RUN_KEY_FILE=/tmp/secrets/service-account-key.json
  - ENV_LOCAL_FILE=.env.local
  - GCR_IMAGE=gcr.io/eleith-cloud/eleith-io-site
  ...

remove .only modifier
  packages/cli/src/lib/commands/sync.private.test.ts
  packages/cli/test/setup.ts
Due: none

cd command abstracted
  packages/cli/src/lib/cli.test.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/commands/cd.test.ts
  packages/cli/src/lib/commands/cd.ts
  packages/cli/src/lib/commands/edit.ts
  packages/cli/src/lib/commands/index.ts
Due: none

deploy command abstraction
  packages/cli/src/lib/cli.test.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/commands/cd.ts
  packages/cli/src/lib/commands/deploy.test.ts
  packages/cli/src/lib/commands/deploy.ts
  packages/cli/src/lib/commands/index.ts
Due: none

dump command abstraction
  packages/cli/src/lib/cli.test.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/commands/dump.test.ts
  packages/cli/src/lib/commands/dump.ts
  packages/cli/src/lib/commands/index.ts
Due: none

cleanup and simplify cli, fix .name -> .command
  packages/cli/src/lib/cli.test.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/commands/edit.ts
  packages/cli/src/manage.ts
Due: none

breakout functions in cli
  packages/cli/src/lib/cli.ts
Due: none

move command types to another file
  packages/cli/src/@types/utilities.d.ts
  packages/cli/src/lib/book.fixtures.ts
  packages/cli/src/lib/commands/attach.ts
  packages/cli/src/lib/commands/cd.ts
  packages/cli/src/lib/commands/context.fixtures.ts
  packages/cli/src/lib/commands/create.ts
  packages/cli/src/lib/commands/deploy.ts
  packages/cli/src/lib/commands/dump.ts
  packages/cli/src/lib/commands/edit.ts
  packages/cli/src/lib/commands/editConfig.ts
  packages/cli/src/lib/commands/fetch.ts
  packages/cli/src/lib/commands/index.ts
  packages/cli/src/lib/commands/index.types.ts
  packages/cli/src/lib/commands/init.ts
  packages/cli/src/lib/commands/process.ts
  packages/cli/src/lib/commands/sync.private.ts
  packages/cli/src/lib/commands/sync.ts
  packages/cli/tsconfig.json
Due: test

lint fixes
  packages/cli/src/lib/commands/cd.ts
  packages/cli/src/lib/commands/create.ts
  packages/cli/src/lib/commands/editConfig.ts
  packages/cli/src/lib/commands/init.ts
  packages/cli/src/lib/commands/process.ts
Due: none

abstract out cache and book folder handling
  packages/cli/src/@types/utilities.d.ts
  packages/cli/src/lib/assets.ts
  packages/cli/src/lib/book.fixtures.ts
  packages/cli/src/lib/book.schemas.ts
  packages/cli/src/lib/book.test.ts
  packages/cli/src/lib/book.ts
  packages/cli/src/lib/books.ts
  packages/cli/src/lib/cache.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/commands/attach.ts
  packages/cli/src/lib/commands/create.ts
  packages/cli/src/lib/commands/dump.test.ts
  packages/cli/src/lib/commands/dump.ts
  packages/cli/src/lib/commands/edit.ts
  packages/cli/src/lib/commands/fetch.ts
  packages/cli/src/lib/commands/process.test.ts
  packages/cli/src/lib/commands/process.ts
  packages/cli/src/lib/commands/sync.private.test.ts
  packages/cli/src/lib/commands/sync.private.ts
  packages/cli/src/lib/commands/sync.test.ts
  packages/cli/src/lib/commands/sync.ts
  packages/cli/tsconfig.json
Due: test

[CI SKIP] fill out tests for lib/book.test.ts
  packages/cli/src/lib/book.test.ts
  packages/cli/src/lib/book.ts
Due: none

add tests for cache lib
  packages/cli/src/lib/cache.test.ts
  packages/cli/src/lib/cache.ts
Due: none

add tests for books
  packages/cli/src/lib/books.test.ts
  packages/cli/src/lib/cache.ts
Due: none

add books mock to prevent directory creation by cache lib
  packages/cli/src/lib/book.fixtures.ts
  packages/cli/src/lib/book.test.ts
  packages/cli/src/lib/books.mock.ts
  packages/cli/src/lib/books.test.ts
  packages/cli/src/lib/commands/attach.test.ts
  packages/cli/src/lib/commands/create.test.ts
  packages/cli/src/lib/commands/dump.test.ts
  packages/cli/src/lib/commands/edit.test.ts
  packages/cli/src/lib/commands/fetch.test.ts
  packages/cli/src/lib/commands/sync.private.test.ts
Due: none

consolidate book libs into one folder
  packages/cli/src/lib/books/book.fixtures.ts
  packages/cli/src/lib/books/book.schemas.ts
  packages/cli/src/lib/books/book.test.ts
  packages/cli/src/lib/books/book.ts
  packages/cli/src/lib/books/books.mock.ts
  packages/cli/src/lib/books/books.test.ts
  packages/cli/src/lib/books/books.ts
  packages/cli/src/lib/books/google-books.fixtures.ts
  packages/cli/src/lib/books/google-books.test.ts
  packages/cli/src/lib/books/google-books.ts
  packages/cli/src/lib/books/index.ts
  packages/cli/src/lib/books/open-library.fixtures.ts
  packages/cli/src/lib/books/open-library.test.ts
  packages/cli/src/lib/books/open-library.ts
  packages/cli/src/lib/commands/attach.test.ts
  packages/cli/src/lib/commands/attach.ts
  packages/cli/src/lib/commands/cd.test.ts
  packages/cli/src/lib/commands/create.test.ts
  packages/cli/src/lib/commands/create.ts
  packages/cli/src/lib/commands/dump.test.ts
  packages/cli/src/lib/commands/dump.ts
  packages/cli/src/lib/commands/edit.test.ts
  packages/cli/src/lib/commands/edit.ts
  packages/cli/src/lib/commands/editConfig.test.ts
  packages/cli/src/lib/commands/fetch.test.ts
  packages/cli/src/lib/commands/fetch.ts
  packages/cli/src/lib/commands/process.test.ts
  packages/cli/src/lib/commands/process.ts
  packages/cli/src/lib/commands/sync.private.test.ts
  packages/cli/src/lib/commands/sync.private.ts
  packages/cli/src/lib/commands/sync.test.ts
  packages/cli/src/lib/commands/sync.ts
Due: none

fill out defaults values when creating a new file
  packages/cli/src/lib/commands/create.ts
Due: none

enable some commands to work with slugs or paths
  packages/cli/src/lib/commands/attach.test.ts
  packages/cli/src/lib/commands/attach.ts
  packages/cli/src/lib/commands/cd.ts
  packages/cli/src/lib/commands/create.ts
  packages/cli/src/lib/commands/deploy.ts
  packages/cli/src/lib/commands/dump.ts
  packages/cli/src/lib/commands/edit.test.ts
  packages/cli/src/lib/commands/edit.ts
  packages/cli/src/lib/commands/editConfig.ts
  packages/cli/src/lib/commands/fetch.test.ts
  packages/cli/src/lib/commands/fetch.ts
  packages/cli/src/lib/commands/index.ts
  packages/cli/src/lib/commands/init.ts
  packages/cli/src/lib/commands/process.ts
  packages/cli/src/lib/commands/sync.private.ts
  packages/cli/src/lib/commands/sync.ts
  packages/cli/src/lib/commands/utils/helpers.test.ts
  packages/cli/src/lib/commands/utils/helpers.ts
  packages/cli/src/lib/commands/utils/types.ts
Due: none

move google books api key to config
  package-lock.json
  packages/cli/.env.example
  packages/cli/package.json
  packages/cli/src/lib/books/book.test.ts
  packages/cli/src/lib/books/book.ts
  packages/cli/src/lib/books/google-books.test.ts
  packages/cli/src/lib/books/google-books.ts
  packages/cli/src/lib/commands/fetch.test.ts
  packages/cli/src/lib/commands/fetch.ts
  packages/cli/src/lib/config.ts
Due: test

release v0.29
  packages/cli/package.json
  packages/cli/src/lib/books/books.mock.ts
Due: test

switch to gruvbox theme
  packages/ui/index.ts
  packages/ui/package.json
  packages/web/package.json
  packages/web/src/common/components/layout/Page.css.ts
  packages/web/src/common/components/layout/PageBannerSlide.css.ts
  packages/web/src/common/components/layout/PageBannerSlide.tsx
Due: test, build, publish, notify, gather, build-content, deploy

show titles on books without covers
  packages/web/src/common/components/books/BookCover.tsx
  packages/web/src/common/components/books/BookCoverFor.tsx
  packages/web/src/common/components/books/styles.css.ts
  packages/web/src/pages/index.tsx
Due: test, build, notify, gather, build-content, deploy

Path conditions:
  test: (any of: .woodpecker/.cli.yml, packages/cli/*) or (any of: .woodpecker/.prisma.yml, packages/prisma/*) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  build: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: Dockerfile, .woodpecker/.web.yml, packages/web/**)
  publish: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: Dockerfile, .woodpecker/.web.yml, packages/web/**)
  gather: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  build-content: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  deploy: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
