Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: test, build, publish, notify, gather, build-content, deploy

test:
  image: node:16
  commands:
  - npm ci -w @luzzle/cli
  - npm run lint -w @luzzle/cli
  - npm run test -w @luzzle/cli

build:
  image: node:16
  commands:
  - npm ci -w @luzzle/prisma
  - npm run build -w @luzzle/prisma
  - npm run compile -w @luzzle/prisma
  - cd packages/prisma
  - npm run patch -w @luzzle/prisma

publish:
  image: node:16
  commands:
  - npm config set @luzzle:registry https://git.eleith.com/api/packages/$NPM_OWNER/npm/
  - npm config set -- "//git.eleith.com/api/packages/$NPM_OWNER/npm/:_authToken" "$NPM_TOKEN"
  - npm publish -w @luzzle/prisma
  secrets:
  - npm_token
  - npm_owner

notify:
  image: git.eleith.com/eleith/woodpecker-email:1.0.0
  environment:
  - PLUGIN_FROM_ADDRESS=online-woodpecker@eleith.com
  - PLUGIN_FROM_NAME="eleith ci"
  - PLUGIN_RECIPIENTS_ONLY=true
  secrets:
  - source: smtp_username
    target: plugin_username
  - source: smtp_password
    target: plugin_password
  ...

gather:
  image: rclone/rclone:1.57
  environment:
  - RCLONE_GCS_STORAGE_CLASS=REGIONAL
  - RCLONE_GCS_BUCKET_POLICY_ONLY=true
  - RCLONE_GCS_LOCATION=us-central-1
  - RCLONE_GCS_SERVICE_ACCOUNT_FILE=/tmp/rclone-service-key.json
  - RCLONE_GCS_DB=:gcs:eleith-io-site-data/main/sqlite.dev.db
  ...

build-content:
  image: node:16
  commands:
  - npm config set @luzzle:registry https://git.eleith.com/api/packages/$NPM_OWNER/npm/
  - npm config set -- "//git.eleith.com/api/packages/$NPM_OWNER/npm/:_authToken" "$NPM_TOKEN"
  - npm run build:prisma -w @luzzle/web
  - npm install -g @luzzle/cli@0.0.7
  - cd packages/web
  ...

deploy:
  image: git.eleith.com/eleith/gcs-web-deploy:3.0.0
  environment:
  - LOG_DIR=gs://eleith-cloud-builds/logs
  - STAGING_DIR=gs://eleith-cloud-builds/eleith-io-site
  - RUN_KEY_FILE=/tmp/secrets/service-account-key.json
  - ENV_LOCAL_FILE=.env.local
  - GCR_IMAGE=gcr.io/eleith-cloud/eleith-io-site
  ...

virtualFocus was making combobox item links not be followed
  packages/ui/components/Combobox/Combobox.tsx
  packages/web/src/common/graphql/search/queries/search.ts
  packages/web/src/pages/index.tsx
Due: none

cli coordinated with a config file to remember dir location
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/cli.test.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/config.test.ts
  packages/cli/src/lib/config.ts
  packages/web/package.json
Due: test, build, notify, gather, build-content, deploy

compile before build on cli ci step
  .woodpecker/.cli.yml
Due: test

ui library missing index.ts source when published
  packages/ui/package.json
Due: none

adding create, attach and fetch to luzzle cli
  package-lock.json
  package.json
  packages/cli/.gitignore
  packages/cli/package.json
  packages/cli/src/lib/book.test.ts
  packages/cli/src/lib/book.ts
  packages/cli/src/lib/cli.test.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/config.test.ts
  packages/cli/src/lib/config.ts
  packages/cli/src/lib/md.test.ts
  packages/cli/src/lib/md.ts
Due: test

linting
  packages/cli/src/lib/book.test.ts
Due: none

add rss feed for books and add all env to config for typing
  packages/web/.env.example
  packages/web/.gitignore
  packages/web/package.json
  packages/web/src/common/components/books/BookCoverFor.tsx
  packages/web/src/common/components/layout/meta.tsx
  packages/web/src/common/config.tsx
  packages/web/src/common/emailjs/index.ts
  packages/web/src/common/graphql/fetch.tsx
  packages/web/src/common/hooks/useGraphSWRInfinite.tsx
  packages/web/src/common/rss/index.ts
  packages/web/src/lib/graphql/context.ts
  packages/web/src/pages/api/graphql.api.ts
  packages/web/src/pages/books/[slug].tsx
  packages/web/src/pages/books/index.tsx
Due: test, build, notify, gather, build-content, deploy

package-lock wasn't aligned
  package-lock.json
Due: none

bumping version to trigger release
  packages/web/package.json
Due: test, build, notify, gather, build-content, deploy

wrong url for autodiscover rss url
  packages/web/src/common/components/layout/meta.tsx
Due: none

letter spacing needs units
  packages/ui/components/Combobox/styles.css.ts
  packages/ui/components/Input/styles.css.ts
  packages/ui/components/Select/styles.css.ts
  packages/ui/components/Text/styles.css.ts
  packages/ui/components/TextArea/styles.css.ts
  packages/ui/package.json
Due: none

sync all sub-package versions to 0.0.17
  packages/cli/package.json
  packages/prisma/package.json
  packages/web/package.json
Due: test, build, publish, notify, gather, build-content, deploy

retitle prisma package
  packages/prisma/package.json
Due: test, build, publish, notify

clean gitignore
  packages/prisma/.gitignore
Due: test, build, publish, notify

cleaning out old @luzzle/prisma version
  .woodpecker/.prisma.yml
  package-lock.json
  packages/cli/package.json
  packages/web/package.json
Due: test, build, publish, notify, gather, build-content, deploy

force project name on cli
  Dockerfile
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/config.ts
Due: test

manually copy around schema.prisma, removing fragile workarounds
  Dockerfile
  package-lock.json
  packages/cli/package.json
  packages/prisma/package.json
  packages/prisma/runtime-patch.txt
  packages/prisma/src/schema.prisma
  packages/ui/package.json
  packages/web/package.json
Due: test, build, publish, notify, gather, build-content, deploy

remove prepublish steps
  .woodpecker/.cli.yml
  .woodpecker/.web.yml
Due: test, build, notify, gather, build-content, deploy

bump prisma to improve alpine support
  .woodpecker/.cli.yml
  package-lock.json
  packages/cli/package.json
  packages/prisma/package.json
  packages/web/package.json
Due: test, build, publish, notify, gather, build-content, deploy

use relative path for schema
  packages/cli/package.json
Due: test

Path conditions:
  test: (any of: .woodpecker/.cli.yml, packages/cli/*) or (any of: .woodpecker/.prisma.yml, packages/prisma/*) or (any of: .woodpecker/.web.yml, packages/web/*)
  build: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.web.yml, packages/web/*)
  publish: any of: .woodpecker/.prisma.yml, packages/prisma/**
  notify: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.web.yml, packages/web/*)
  gather: any of: .woodpecker/.web.yml, packages/web/*
  build-content: any of: .woodpecker/.web.yml, packages/web/*
  deploy: any of: .woodpecker/.web.yml, packages/web/*
