Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, test, publish, notify, core, notify-success, notify-failure, web-explorer, prepare, build_docker

build:
  image: node:18
  commands:
  - npm ci -w @luzzle/cli -w @luzzle/kysely
  - npm run build -w @luzzle/kysely
  - npm run compile -w @luzzle/cli
  - npm run build -w @luzzle/cli

test:
  image: node:18
  commands:
  - npm run lint -w @luzzle/cli
  - npm run test -w @luzzle/cli

publish:
  image: node:18
  commands:
  - npm config set @luzzle:registry https://git.eleith.com/api/packages/$NPM_OWNER/npm/
  - npm config set -- "//git.eleith.com/api/packages/$NPM_OWNER/npm/:_authToken" "$NPM_TOKEN"
  - cd packages/cli
  - NPM_CURRENT_VERSION="$(npm pkg get version --workspaces=false)"
  ...

notify:
  image: deblan/woodpecker-email:1.0.1-wp
  secrets:
  - smtp_notification_from
  - smtp_notification_host
  - smtp_notification_password
  - smtp_notification_from
  - smtp_notification_recipient
  settings:
    from.address:
      from_secret: smtp_notification_from
    host:
      from_secret: smtp_notification_host
  ...

core:
  steps:
    build:
      image: node:20
      commands:
      - npm ci -w @luzzle/core -w @luzzle/cli
      - npm run lint -w @luzzle/core
      - npm run build -w @luzzle/core
      environment:
        NPM_OWNER:
          from_secret: npm_owner
        NPM_TOKEN:
          from_secret: npm_token
    test:
  ...

notify-success:
  image: deblan/woodpecker-email:3.2.0
  settings:
    dsn:
      from_secret: woodpecker_email_dsn
    from:
      address:
        from_secret: woodpecker_email_from_address
      name:
        from_secret: woodpecker_email_from_name
    recipients:
      from_secret: woodpecker_email_recipient
    level: success
  ...

notify-failure:
  image: deblan/woodpecker-email:3.2.0
  settings:
    dsn:
      from_secret: woodpecker_email_dsn
    from:
      address:
        from_secret: woodpecker_email_from_address
      name:
        from_secret: woodpecker_email_from_name
    recipients:
      from_secret: woodpecker_email_recipient
    level: failure
  ...

web-explorer:
  steps:
    prepare:
      image: node:20
      commands:
      - printf '%s' "$LUZZLE_NPMRC" | sed 's/[[:space:]]*$//' >> /root/.npmrc
      - cd packages/web/explorer
      environment:
        LUZZLE_NPMRC:
          from_secret: luzzle_npmrc
    build_docker:
      image: woodpeckerci/plugin-docker-buildx:6.0.1
  ...

prepare:
  image: node:14
  commands:
  - echo $LUZZLE_NPMRC >> .npmrc
  environment:
    LUZZLE_NPMRC:
      from_secret: luzzle_npmrc

build_docker:
  image: woodpeckerci/plugin-docker-buildx:pull_186
  settings:
    repo: git.eleith.com/eleith/luzzle
    username: eleith
    dockerfile: packages/web/Dockerfile
    context: packages/web
    registry: https://git.eleith.com
    secrets:
    - id=npmrc\\,src=.npmrc
    auto_tag: true
    password:
  ...

[web-explorer] lint formatting
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug]/+page.svelte
  packages/web/explorer/src/routes/search/+page.server.ts
  packages/web/explorer/src/routes/search/+page.svelte
  packages/web/explorer/svelte.config.js
Due: notify, notify-success, notify-failure, web-explorer, prepare, build_docker

[web-explorer] v0.0.64
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/web.package-lock.json
Due: notify, notify-success, notify-failure, web-explorer, prepare, build_docker

mono repo package name update
  package.json
Due: none

[web-explorer] add bottom padding
  packages/web/explorer/src/routes/(root)/+page.svelte
Due: notify, notify-success, notify-failure, web-explorer, prepare, build_docker

[web-explorer] change banner color and add bottom padding
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug]/+page.svelte
Due: notify, notify-success, notify-failure, web-explorer, prepare, build_docker

[cli] add getPieceMarkdown and getPieceAsset to Pieces
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/pieces/pieces.test.ts
  packages/cli/src/lib/pieces/pieces.ts
  packages/cli/src/lib/storage/fs.test.ts
  packages/cli/src/lib/storage/fs.ts
  packages/cli/src/lib/storage/storage.ts
Due: build, test, publish, notify

[cli] library bump and smaller log error
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/pieces/piece.ts
Due: build, test, publish, notify

[cli] handle got stream errors
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/pieces/piece.ts
  packages/cli/src/lib/pieces/utils.test.ts
  packages/cli/src/lib/pieces/utils.ts
Due: build, test, publish, notify

[web-editor] bump cli for better error handling, update icons
  package-lock.json
  packages/web/editor/package.json
  packages/web/editor/src/lib/components/layout/simple/nav.svelte
  packages/web/editor/src/routes/(root)/+page.server.ts
  packages/web/editor/src/routes/directory/list/+layout.svelte
  packages/web/editor/src/routes/pieces/+layout.svelte
  packages/web/editor/web.package-lock.json
Due: notify, prepare, build_docker

[cli] revert catch scope to individually fail on one field rather than all
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/pieces/piece.ts
Due: build, test, publish, notify

[web-editor] bump cli for granular error handling on fields
  package-lock.json
  packages/web/editor/package.json
  packages/web/editor/web.package-lock.json
Due: notify, prepare, build_docker

[tools] decouple open graph generation
  package-lock.json
  packages/tools/package.json
  packages/tools/src/generate-web-images/index.ts
  packages/tools/src/generate-web-images/opengraph.ts
  packages/tools/src/test-open-graph/icon/book.eta
  packages/tools/src/test-open-graph/icon/html.eta
  packages/tools/src/test-open-graph/icon/noto-sans.ttf
  packages/tools/src/test-open-graph/icon/noto-sans.woff2
  packages/tools/src/test-open-graph/index.ts
  packages/tools/src/test-open-graph/opengraph.ts
  packages/tools/src/test-open-graph/utils/html.ts
  packages/tools/src/test-open-graph/utils/imageToBase64.ts
  packages/tools/src/test-open-graph/utils/lastRun.ts
  packages/tools/src/test-open-graph/utils/toReactElement.ts
  packages/tools/src/test-open-graph/yargs.ts
Due: build, test, publish, notify

[tools] clean up and support default templates
  packages/tools/src/generate-open-graph/html.ts
  packages/tools/src/generate-open-graph/icon/book.eta
  packages/tools/src/generate-open-graph/index.ts
  packages/tools/src/generate-open-graph/opengraph.ts
  packages/tools/src/generate-open-graph/png.ts
  packages/tools/src/generate-open-graph/templates/html.eta
  packages/tools/src/generate-open-graph/templates/simple.eta
  packages/tools/src/generate-open-graph/utils/html.ts
  packages/tools/src/generate-open-graph/yargs.ts
Due: build, test, publish, notify

[tools] working single open graph generator
  packages/tools/src/generate-open-graph/browser.ts
  packages/tools/src/generate-open-graph/icon/book.eta
  packages/tools/src/generate-open-graph/icon/html.eta
  packages/tools/src/generate-open-graph/icon/noto-sans.ttf
  packages/tools/src/generate-open-graph/icon/noto-sans.woff2
  packages/tools/src/generate-open-graph/index.ts
  packages/tools/src/generate-open-graph/opengraph.ts
  packages/tools/src/generate-open-graph/utils/html.ts
  packages/tools/src/generate-open-graph/utils/imageToBase64.ts
  packages/tools/src/generate-open-graph/utils/lastRun.ts
  packages/tools/src/generate-open-graph/utils/toReactElement.ts
  packages/tools/src/generate-open-graph/yargs.ts
  packages/tools/src/test-open-graph/icon/book.eta
  packages/tools/src/test-open-graph/index.ts
  packages/tools/src/test-open-graph/opengraph.ts
  packages/tools/src/test-open-graph/utils/html.ts
Due: build, test, publish, notify

[cli] add getPieceMarkdown and getPieceAsset to Pieces
  package-lock.json
Due: none

[tools] integrate open graph generation back into generate web images
  package-lock.json
  packages/tools/icon/book.eta
  packages/tools/icon/noto-sans.ttf
  packages/tools/icon/noto-sans.woff2
  packages/tools/package.json
  packages/tools/src/generate-open-graph/browser.ts
  packages/tools/src/generate-open-graph/html.ts
  packages/tools/src/generate-open-graph/index.ts
  packages/tools/src/generate-open-graph/png.ts
  packages/tools/src/generate-web-images/index.ts
  packages/tools/src/generate-web-images/opengraph.ts
  packages/tools/src/generate-web-images/utils/html.ts
  packages/tools/src/generate-web-images/utils/toReactElement.ts
  packages/tools/src/generate-web-images/utils/types.ts
  packages/tools/src/generate-web-images/variants.ts
  packages/tools/src/generate-web-images/yargs.ts
  packages/tools/src/test-open-graph/icon/book.eta
  packages/tools/src/test-open-graph/icon/html.eta
  packages/tools/src/test-open-graph/icon/noto-sans.ttf
  packages/tools/src/test-open-graph/icon/noto-sans.woff2
  packages/tools/src/test-open-graph/index.ts
  packages/tools/src/test-open-graph/opengraph.ts
  packages/tools/src/test-open-graph/utils/html.ts
  packages/tools/src/test-open-graph/utils/imageToBase64.ts
  packages/tools/src/test-open-graph/utils/lastRun.ts
  packages/tools/src/test-open-graph/utils/toReactElement.ts
  packages/tools/src/test-open-graph/yargs.ts
Due: build, test, publish, notify

[tools] decouple open graph generation
  packages/tools/src/test-open-graph/icon/book.eta
  packages/tools/src/test-open-graph/icon/html.eta
  packages/tools/src/test-open-graph/icon/noto-sans.ttf
  packages/tools/src/test-open-graph/icon/noto-sans.woff2
  packages/tools/src/test-open-graph/index.ts
  packages/tools/src/test-open-graph/opengraph.ts
  packages/tools/src/test-open-graph/utils/html.ts
  packages/tools/src/test-open-graph/utils/imageToBase64.ts
  packages/tools/src/test-open-graph/utils/lastRun.ts
  packages/tools/src/test-open-graph/utils/toReactElement.ts
  packages/tools/src/test-open-graph/yargs.ts
Due: build, test, publish, notify

[tools] abstract out variant generation for individual testing
  package-lock.json
  packages/tools/package.json
  packages/tools/src/generate-image-variants/index.ts
  packages/tools/src/generate-image-variants/variants.ts
  packages/tools/src/generate-image-variants/yargs.ts
Due: build, test, publish, notify

[tools] leverage variant generation for web image automation
  packages/tools/src/generate-image-variants/index.ts
  packages/tools/src/generate-image-variants/variants.ts
  packages/tools/src/generate-image-variants/yargs.ts
  packages/tools/src/generate-web-images/variants.ts
Due: build, test, publish, notify

[tools] add limit option to test web image generation
  packages/tools/.gitignore
  packages/tools/icon/book.eta
  packages/tools/icon/noto-sans.ttf
  packages/tools/icon/noto-sans.woff2
  packages/tools/src/generate-web-images/index.ts
  packages/tools/src/generate-web-images/opengraph.ts
  packages/tools/src/generate-web-images/variants.ts
  packages/tools/src/generate-web-images/yargs.ts
Due: build, test, publish, notify

Path conditions:
  build: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  test: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  publish: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  core: any of: .woodpecker/.core.yml, packages/core/**
  notify-success: (any of: .woodpecker/.core.yml, packages/core/**) or (any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**)
  notify-failure: (any of: .woodpecker/.core.yml, packages/core/**) or (any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**)
  web-explorer: any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**
  prepare: any of: .woodpecker/.web.yml, packages/web/**
  build_docker: any of: .woodpecker/.web.yml, packages/web/**
