Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, test, publish, notify, core, notify-success, notify-failure, web-explorer, prepare, build_docker

Path conditions:
  build: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  test: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  publish: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  core: any of: .woodpecker/.core.yml, packages/core/**
  notify-success: (any of: .woodpecker/.core.yml, packages/core/**) or (any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**)
  notify-failure: (any of: .woodpecker/.core.yml, packages/core/**) or (any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**)
  web-explorer: any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**
  prepare: any of: .woodpecker/.web.yml, packages/web/**
  build_docker: any of: .woodpecker/.web.yml, packages/web/**

[web-explorer] use slim version
  package-lock.json
  packages/web/explorer/Dockerfile
  packages/web/explorer/package.json
  packages/web/explorer/web.package-lock.json
Due: notify, notify-success, notify-failure, web-explorer, prepare, build_docker

[web-explorer] add generic images
  packages/web/explorer/src/routes/(root)/+page.svelte
  packages/web/explorer/static/images/favicon.png
  packages/web/explorer/static/images/opengraph.jpg
  packages/web/explorer/static/images/opengraph.png
Due: notify, notify-success, notify-failure, web-explorer, prepare, build_docker

[web-explorer] decouple package tagging from repo tag
  .woodpecker/.web-explorer.yml
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/tools/tag.js
Due: notify, notify-success, notify-failure, web-explorer, prepare, build_docker

[web-explorer] use png for opengraph
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/src/routes/(root)/+page.svelte
Due: notify, notify-success, notify-failure, web-explorer, prepare, build_docker

[web-explorer] prefetch next and previous
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug]/+page.svelte
Due: notify, notify-success, notify-failure, web-explorer, prepare, build_docker

[web-explorer] support pagination for search
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/src/routes/api/search/+server.ts
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug]/+page.svelte
  packages/web/explorer/src/routes/search/+page.svelte
Due: notify, notify-success, notify-failure, web-explorer, prepare, build_docker

[web-explorer] support canonical tag when only one result is shown
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug]/+page.svelte
  packages/web/explorer/src/routes/tags/[tag]/+page.svelte
Due: notify, notify-success, notify-failure, web-explorer, prepare, build_docker

[web-explorer] fix search to re-render on additional search and show empty results
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/src/routes/search/+page.server.ts
  packages/web/explorer/src/routes/search/+page.svelte
Due: notify, notify-success, notify-failure, web-explorer, prepare, build_docker

[cli] catch attachment download and upload errors
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/pieces/piece.ts
Due: build, test, publish, notify

[web-editor] bump cli to avoid attachment download errors
  package-lock.json
  packages/web/editor/.gitignore
  packages/web/editor/package.json
  packages/web/editor/web.package-lock.json
Due: notify, prepare, build_docker

add csp directives, starting with report-only
  packages/web/explorer/svelte.config.js
Due: notify, notify-success, notify-failure, web-explorer, prepare, build_docker

[web-explorer] ux cleanup and fixes
  package-lock.json
  packages/web/explorer/docker-compose.yml
  packages/web/explorer/package.json
  packages/web/explorer/src/lib/components/layout/simple/nav.svelte
  packages/web/explorer/src/routes/(root)/+page.svelte
  packages/web/explorer/src/routes/pieces/+layout.svelte
  packages/web/explorer/src/routes/pieces/[[piece=pieceType]]/+page.svelte
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug]/+page.svelte
  packages/web/explorer/src/routes/search/+page.svelte
  packages/web/explorer/src/routes/tags/[tag]/+layout.svelte
  packages/web/explorer/src/routes/tags/[tag]/+page.svelte
  packages/web/explorer/svelte.config.js
  packages/web/explorer/web.package-lock.json
Due: notify, notify-success, notify-failure, web-explorer, prepare, build_docker

[web-explorer] csp paths need to end in slash
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/svelte.config.js
  packages/web/explorer/web.package-lock.json
Due: notify, notify-success, notify-failure, web-explorer, prepare, build_docker

[web-explorer] allow csp images from two srcs
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/svelte.config.js
  packages/web/explorer/web.package-lock.json
Due: notify, notify-success, notify-failure, web-explorer, prepare, build_docker

[cli] use gemini flash to reduce costs with mostly equivalent performance
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/llm/google.ts
Due: build, test, publish, notify

[web-editor] bump cli to use flash llm model
  package-lock.json
  packages/web/editor/package.json
  packages/web/editor/web.package-lock.json
Due: notify, prepare, build_docker

[web-explorer] trying another navigation icon
  packages/web/explorer/src/lib/components/layout/simple/nav.svelte
Due: notify, notify-success, notify-failure, web-explorer, prepare, build_docker

[web-explorer] re-work containers of pieces to enforce minimum padding
  packages/web/explorer/src/routes/(root)/+page.svelte
  packages/web/explorer/src/routes/pieces/[[piece=pieceType]]/+page.svelte
  packages/web/explorer/src/routes/search/+page.svelte
  packages/web/explorer/src/routes/tags/[tag]/+page.svelte
Due: notify, notify-success, notify-failure, web-explorer, prepare, build_docker

[web-explorer] fix 'more' logic for search
  packages/web/explorer/src/routes/search/+page.server.ts
  packages/web/explorer/src/routes/search/+page.svelte
Due: notify, notify-success, notify-failure, web-explorer, prepare, build_docker

[web-explorer] remove icon
  packages/web/explorer/src/lib/components/layout/simple/nav.svelte
Due: notify, notify-success, notify-failure, web-explorer, prepare, build_docker
