Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, test, publish, notify, prepare, build_docker

Path conditions:
  build: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.core.yml, packages/core/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  test: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.core.yml, packages/core/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  publish: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.core.yml, packages/core/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.core.yml, packages/core/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  prepare: any of: .woodpecker/.web.yml, packages/web/**
  build_docker: any of: .woodpecker/.web.yml, packages/web/**

[web] theme the rss feed preview
  packages/web/src/routes/rss/pieces/[[piece=pieceType]]/feed.[format=feedFormat]/+server.ts
  packages/web/static/css/elements.css
  packages/web/static/css/reset.css
  packages/web/static/css/theme.css
  packages/web/static/rss/feed.xslt
Due: notify, prepare, build_docker

[cli] fix bug in create command
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/commands/create.test.ts
  packages/cli/src/lib/commands/create.ts
Due: build, test, publish, notify

[cli] allow assistant to set assets
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/commands/assistant.test.ts
  packages/cli/src/lib/commands/assistant.ts
Due: build, test, publish, notify

[cli] rework create and assistant
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/commands/assistant.test.ts
  packages/cli/src/lib/commands/assistant.ts
  packages/cli/src/lib/commands/create.test.ts
  packages/cli/src/lib/commands/create.ts
  packages/cli/src/lib/pieces/piece.test.ts
  packages/cli/src/lib/pieces/piece.ts
Due: build, test, publish, notify

[web] playing cards for board games
  packages/web/src/lib/pieces/components/icon/index.svelte
  packages/web/src/lib/pieces/components/icon/playing-card.svelte
  packages/web/src/lib/pieces/openGraph/icon/cartridge.ts
  packages/web/src/lib/pieces/openGraph/icon/index.ts
  packages/web/src/lib/pieces/openGraph/icon/playing-card.ts
  packages/web/src/lib/ui/styles/theme.css
  packages/web/static/css/theme.css
Due: notify, prepare, build_docker

[core] update dependencies
  package-lock.json
  packages/core/.eslintrc.json
  packages/core/eslint.config.js
  packages/core/package.json
  packages/core/src/database/migrations/2024-03-01T01:01:47Z-fix-trigger-bugs.ts
  packages/core/src/lib/markdown.ts
  packages/core/vite.config.ts
Due: build, test, publish, notify

[cli] update dependencies
  package-lock.json
  packages/cli/.eslintrc.json
  packages/cli/eslint.config.js
  packages/cli/package.json
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/log.ts
  packages/cli/src/lib/pieces/pieces.test.ts
  packages/cli/src/lib/pieces/pieces.ts
  packages/cli/src/lib/pieces/utils.ts
  packages/core/package.json
Due: build, test, publish, notify

[web] update dependencies
  package-lock.json
  packages/web/package.json
  packages/web/web.package-lock.json
Due: notify, prepare, build_docker

[web] add node types package
  package-lock.json
  packages/web/package.json
  packages/web/web.package-lock.json
Due: notify, prepare, build_docker

[cli] fix error messages with invalid markdown
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/pieces/utils.ts
  packages/cli/vite.config.ts
Due: build, test, publish, notify

[core] remove file based inputs
  package-lock.json
  packages/core/package.json
  packages/core/src/lib/markdown.test.ts
  packages/core/src/lib/markdown.ts
  packages/core/src/pieces/json.schema.test.ts
  packages/core/src/pieces/json.schema.ts
Due: build, test, publish, notify

[web] pass env into dotenv command instead
  packages/web/package.json
  packages/web/svelte.config.js
Due: notify, prepare, build_docker

[web] pass env into dotenv into other builds too
  packages/web/package.json
  packages/web/tools/luzzle/images.ts
  packages/web/tools/luzzle/index.ts
  packages/web/tools/luzzle/opengraph.ts
  packages/web/tools/luzzle/variants.ts
Due: notify, prepare, build_docker

[web] pass env into dotenv into dev build too
  .woodpecker/.web.yml
  packages/web/package.json
Due: notify, prepare, build_docker

enable non-recursive folder crawling
  .woodpecker/.cli.yml
  .woodpecker/.core.yml
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/commands/command/sync.test.ts
  packages/cli/src/lib/commands/command/sync.ts
  packages/cli/src/lib/commands/index.ts
  packages/cli/src/lib/pieces/piece.test.ts
  packages/cli/src/lib/pieces/piece.ts
  packages/cli/src/lib/pieces/pieces.test.ts
  packages/cli/src/lib/pieces/pieces.ts
  packages/cli/src/lib/pieces/utils.ts
  packages/cli/src/lib/storage/fs.test.ts
  packages/cli/src/lib/storage/fs.ts
  packages/cli/src/lib/storage/storage.ts
  packages/cli/src/lib/storage/webdav.test.ts
  packages/cli/src/lib/storage/webdav.ts
  packages/cli/src/sdk.ts
  packages/core/package.json
Due: build, test, publish, notify

update web explorer ci
  .woodpecker/.web-explorer.yml
Due: none

web editor first commit
  package.json
  packages/web/editor/.env.sample
  packages/web/editor/.gitignore
  packages/web/editor/.prettierignore
  packages/web/editor/.prettierrc
  packages/web/editor/eslint.config.js
  packages/web/editor/package.json
  packages/web/editor/src/app.d.ts
  packages/web/editor/src/app.html
  packages/web/editor/src/hooks.server.ts
  packages/web/editor/src/hooks.ts
  packages/web/editor/src/lib/components/layout/simple/nav.svelte
  packages/web/editor/src/lib/components/layout/simple/theme.svelte
  packages/web/editor/src/lib/index.ts
  packages/web/editor/src/lib/storage/index.ts
  packages/web/editor/src/lib/ui/styles/elements.css
  packages/web/editor/src/lib/ui/styles/reset.css
  packages/web/editor/src/lib/ui/styles/theme.css
  packages/web/editor/src/lib/ui/styles/themes.ts
  packages/web/editor/src/routes/(root)/+page.server.ts
  packages/web/editor/src/routes/(root)/+page.svelte
  packages/web/editor/src/routes/+layout.svelte
  packages/web/editor/src/routes/directory/[...directory]/+page.server.ts
  packages/web/editor/src/routes/directory/[...directory]/+page.svelte
  packages/web/editor/src/routes/pieces/[[directory]]/[...piece]/+page.server.ts
  packages/web/editor/src/routes/pieces/[[directory]]/[...piece]/+page.svelte
  packages/web/editor/static/css/elements.css
  packages/web/editor/static/css/reset.css
  packages/web/editor/static/css/theme.css
  packages/web/editor/static/fonts/noto-sans.ttf
  packages/web/editor/static/fonts/noto-sans.woff2
  packages/web/editor/static/rss/feed.xslt
  packages/web/editor/svelte.config.js
  packages/web/editor/tsconfig.json
  packages/web/editor/vite.config.ts
Due: notify, prepare, build_docker

[cli] update readable to readable stream types
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/storage/storage.ts
  packages/cli/src/lib/storage/webdav.ts
Due: build, test, publish, notify
