Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: cli, notify-success, notify-failure, build, test, publish, notify, tools, web-editor, web-explorer, prepare, build_docker

cli:
  steps:
    build:
      image: node:22
      commands:
      - npm ci -w @luzzle/core -w @luzzle/cli
      - npm run build -w @luzzle/core
      - npm run compile -w @luzzle/cli
      - npm run build -w @luzzle/cli
    test:
      image: node:22
      commands:
      - npm run lint -w @luzzle/cli
  ...

notify-success:
  image: deblan/woodpecker-email:3.2.0
  settings:
    dsn:
      from_secret: woodpecker_email_dsn
    from:
      address:
        from_secret: woodpecker_email_from_address
      name:
        from_secret: woodpecker_email_from_name
    recipients:
      from_secret: woodpecker_email_recipient
    level: success
  ...

notify-failure:
  image: deblan/woodpecker-email:3.2.0
  settings:
    dsn:
      from_secret: woodpecker_email_dsn
    from:
      address:
        from_secret: woodpecker_email_from_address
      name:
        from_secret: woodpecker_email_from_name
    recipients:
      from_secret: woodpecker_email_recipient
    level: failure
  ...

build:
  image: node:18
  commands:
  - npm ci -w @luzzle/prisma
  - npm run compile -w @luzzle/prisma
  - npm run build -w @luzzle/prisma

test:
  image: node:18
  commands:
  - npm run lint -w @luzzle/prisma

publish:
  image: node:18
  commands:
  - npm config set @luzzle:registry https://git.eleith.com/api/packages/$NPM_OWNER/npm/
  - npm config set -- "//git.eleith.com/api/packages/$NPM_OWNER/npm/:_authToken" "$NPM_TOKEN"
  - cd packages/prisma
  - NPM_CURRENT_VERSION="$(npm pkg get version --workspaces=false)"
  ...

notify:
  image: deblan/woodpecker-email:1.0.0-wp
  secrets:
  - smtp_notification_from
  - smtp_notification_host
  - smtp_notification_password
  - smtp_notification_from
  - smtp_notification_recipient
  settings:
    from:
      from_secret: smtp_notification_from
    host:
      from_secret: smtp_notification_host
  ...

tools:
  steps:
    build:
      image: node:22
      commands:
      - npm ci -w @luzzle/core -w @luzzle/cli
      - npm run build -w @luzzle/core -w @luzzle/cli
      - npm ci -w @luzzle/tools
      - npm run build -w @luzzle/tools
    test:
      image: node:22
      commands:
      - npm run lint -w @luzzle/tools
  ...

web-editor:
  steps:
    prepare:
      image: node:20
      commands:
      - printf '%s' "$LUZZLE_NPMRC" | sed 's/[[:space:]]*$//' >> /root/.npmrc
      - npm ci -w @luzzle/core -w @luzzle/cli -w @luzzle/web-editor
      environment:
        LUZZLE_NPMRC:
          from_secret: luzzle_npmrc
    lint:
      image: node:20
  ...

web-explorer:
  steps:
    prepare:
      image: node:20
      commands:
      - printf '%s' "$LUZZLE_NPMRC" | sed 's/[[:space:]]*$//' >> /root/.npmrc
      - cd packages/web/explorer
      - npm run build:lock
      - npm ci --workspaces=false
      - npm run --silent tag > .tags
      environment:
        LUZZLE_NPMRC:
  ...

prepare:
  image: node:14
  commands:
  - echo $LUZZLE_NPMRC >> .npmrc
  environment:
    LUZZLE_NPMRC:
      from_secret: luzzle_npmrc

[web.utils] release 0.0.4
  packages/web/utils/package.json
  packages/web/utils/src/index.ts
Due: notify, prepare, build_docker

[web.utils] release 0.0.5, fix icon type
  packages/web/utils/package.json
  packages/web/utils/src/lib/assets.ts
Due: notify, prepare, build_docker

[web.utils] release 0.0.6, add types
  packages/web/utils/package.json
  packages/web/utils/src/index.ts
  packages/web/utils/src/lib/assets.ts
  packages/web/utils/src/lib/types.ts
  packages/web/utils/vite.config.ts
Due: notify, prepare, build_docker

[web.utils] release 0.0.7, type refinements
  packages/web/utils/package.json
  packages/web/utils/src/lib/types.ts
Due: notify, prepare, build_docker

[web-explorer] remove tools and use web.utils
  .woodpecker/.web-explorer.yml
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/scripts/tag.js
  packages/web/explorer/src/lib/feeds/utils.ts
  packages/web/explorer/src/lib/pieces/components/icon.default.svelte
  packages/web/explorer/src/lib/pieces/components/icon.svelte
  packages/web/explorer/src/lib/pieces/components/opengraph.default.svelte
  packages/web/explorer/src/lib/pieces/components/opengraph.svelte
  packages/web/explorer/src/lib/pieces/components/page.default.svelte
  packages/web/explorer/src/lib/pieces/components/page.svelte
  packages/web/explorer/src/lib/server/config.ts
  packages/web/explorer/src/lib/server/database/index.ts
  packages/web/explorer/src/params/pieceType.ts
  packages/web/explorer/src/routes/(root)/+page.svelte
  packages/web/explorer/src/routes/api/pieces/+server.ts
  packages/web/explorer/src/routes/api/pieces/[piece=pieceType]/[slug]/opengraph/+page.server.ts
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug]/+page.server.ts
  packages/web/explorer/src/routes/rss/pieces/[[piece=pieceType]]/feed.[format=feedFormat]/+server.ts
  packages/web/explorer/src/routes/rss/tags/[tag]/feed.[format=feedFormat]/+server.ts
  packages/web/explorer/tsconfig.json
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] fix page component
  packages/web/explorer/src/lib/pieces/components/page.svelte
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] release 0.0.102
  package-lock.json
  packages/web/explorer/package.json
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] fix tag extraction
  .woodpecker/.web-explorer.yml
Due: notify-success, notify-failure, web-explorer

[web-explorer] fix semver minor docker tag
  .woodpecker/.web-explorer.yml
Due: notify-success, notify-failure, web-explorer

[web-tools] fix publish pipeline
  .woodpecker/.web-tools.yml
Due: none

[web-utils] release 0.0.8, add config methods
  package-lock.json
  packages/web/utils/package.json
  packages/web/utils/src/lib/types.ts
  packages/web/utils/src/lib/vibrant.ts
  packages/web/utils/src/server.ts
Due: notify, prepare, build_docker

[web-utils] release 0.0.9, add asset method
  packages/web/utils/package.json
  packages/web/utils/src/index.ts
Due: notify, prepare, build_docker

[web-tools] integrate web.utils for shared logic
  package-lock.json
  packages/web/tools/package.json
  packages/web/tools/src/browser.ts
  packages/web/tools/src/commands/assets/index.test.ts
  packages/web/tools/src/commands/assets/index.ts
  packages/web/tools/src/commands/config/index.test.ts
  packages/web/tools/src/commands/config/index.ts
  packages/web/tools/src/commands/opengraph/html.test.ts
  packages/web/tools/src/commands/opengraph/html.ts
  packages/web/tools/src/commands/opengraph/index.test.ts
  packages/web/tools/src/commands/opengraph/index.ts
  packages/web/tools/src/commands/opengraph/svelte.test.ts
  packages/web/tools/src/commands/opengraph/svelte.ts
  packages/web/tools/src/commands/opengraph/utils.test.ts
  packages/web/tools/src/commands/opengraph/utils.ts
  packages/web/tools/src/commands/sqlite/database.test.ts
  packages/web/tools/src/commands/sqlite/database.ts
  packages/web/tools/src/commands/sqlite/index.test.ts
  packages/web/tools/src/commands/sqlite/index.ts
  packages/web/tools/src/commands/theme/index.test.ts
  packages/web/tools/src/commands/theme/index.ts
  packages/web/tools/src/commands/theme/theme.test.ts
  packages/web/tools/src/commands/theme/theme.ts
  packages/web/tools/src/lib/browser.test.ts
  packages/web/tools/src/lib/browser.ts
  packages/web/tools/src/lib/config/config.test.ts
  packages/web/tools/src/lib/config/config.ts
  packages/web/tools/src/lib/config/defaults.yaml
  packages/web/tools/src/lib/config/schema.json
  packages/web/tools/src/lib/config/schema.ts
  packages/web/tools/src/lib/config/user-error.config.yaml
  packages/web/tools/src/lib/config/user.config.yaml
  packages/web/tools/src/lib/deep-merge.test.ts
  packages/web/tools/src/lib/deep-merge.ts
  packages/web/tools/src/lib/vibrant.test.ts
  packages/web/tools/src/lib/vibrant.ts
  packages/web/tools/src/sdk.ts
  packages/web/tools/src/types.ts
Due: notify, prepare, build_docker

[web-tools] release 0.0.59
  .woodpecker/.web-tools.yml
  package-lock.json
  packages/web/tools/package.json
Due: notify, prepare, build_docker

[web-explorer] migrate to web.tools and web.utils
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/scripts/set-piece-types.js
  packages/web/explorer/scripts/sync-components.js
  packages/web/explorer/scripts/sync-content.js
  packages/web/explorer/svelte.config.js
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] release 0.0.103
  package-lock.json
  packages/web/explorer/package.json
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] fix docker tagging
  .woodpecker/.web-explorer.yml
Due: notify-success, notify-failure, web-explorer

[web-utils] remove Icon from props
  packages/web/utils/package.json
  packages/web/utils/src/lib/types.ts
Due: notify, prepare, build_docker

[web-utils] release 0.0.10
  package-lock.json
  packages/web/utils/package.json
Due: notify, prepare, build_docker

Path conditions:
  cli: any of: .woodpecker/.cli.yml, packages/cli/**
  notify-success: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.web-editor.yml, packages/web/editor/**) or (any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**)
  notify-failure: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.web-editor.yml, packages/web/editor/**) or (any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**)
  build: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  test: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  publish: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  tools: any of: .woodpecker/.tools.yml, packages/tools/**
  web-editor: any of: .woodpecker/.web-editor.yml, packages/web/editor/**
  web-explorer: any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**
  prepare: any of: .woodpecker/.web.yml, packages/web/**
  build_docker: any of: .woodpecker/.web.yml, packages/web/**
