Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: cli, notify-success, notify-failure, core, build, test, publish, notify, tools, web-editor, web-explorer, prepare, build_docker

cli:
  steps:
    build:
      image: node:22
      commands:
      - npm ci -w @luzzle/core -w @luzzle/cli
      - npm run build -w @luzzle/core
      - npm run compile -w @luzzle/cli
      - npm run build -w @luzzle/cli
    test:
      image: node:22
      commands:
      - npm run lint -w @luzzle/cli
  ...

notify-success:
  image: deblan/woodpecker-email:3.2.0
  settings:
    dsn:
      from_secret: woodpecker_email_dsn
    from:
      address:
        from_secret: woodpecker_email_from_address
      name:
        from_secret: woodpecker_email_from_name
    recipients:
      from_secret: woodpecker_email_recipient
    level: success
  ...

notify-failure:
  image: deblan/woodpecker-email:3.2.0
  settings:
    dsn:
      from_secret: woodpecker_email_dsn
    from:
      address:
        from_secret: woodpecker_email_from_address
      name:
        from_secret: woodpecker_email_from_name
    recipients:
      from_secret: woodpecker_email_recipient
    level: failure
  ...

core:
  steps:
    build:
      image: node:20
      commands:
      - npm ci -w @luzzle/core -w @luzzle/cli
      - npm run lint -w @luzzle/core
      - npm run build -w @luzzle/core
      environment:
        NPM_OWNER:
          from_secret: npm_owner
        NPM_TOKEN:
          from_secret: npm_token
    test:
  ...

build:
  image: node:18
  commands:
  - npm ci -w @luzzle/prisma
  - npm run compile -w @luzzle/prisma
  - npm run build -w @luzzle/prisma

test:
  image: node:18
  commands:
  - npm run lint -w @luzzle/prisma

publish:
  image: node:18
  commands:
  - npm config set @luzzle:registry https://git.eleith.com/api/packages/$NPM_OWNER/npm/
  - npm config set -- "//git.eleith.com/api/packages/$NPM_OWNER/npm/:_authToken" "$NPM_TOKEN"
  - cd packages/prisma
  - NPM_CURRENT_VERSION="$(npm pkg get version --workspaces=false)"
  ...

notify:
  image: deblan/woodpecker-email:1.0.0-wp
  secrets:
  - smtp_notification_from
  - smtp_notification_host
  - smtp_notification_password
  - smtp_notification_from
  - smtp_notification_recipient
  settings:
    from:
      from_secret: smtp_notification_from
    host:
      from_secret: smtp_notification_host
  ...

tools:
  steps:
    build:
      image: node:22
      commands:
      - npm ci -w @luzzle/core -w @luzzle/cli
      - npm run build -w @luzzle/core -w @luzzle/cli
      - npm ci -w @luzzle/tools
      - npm run build -w @luzzle/tools
    test:
      image: node:22
      commands:
      - npm run lint -w @luzzle/tools
  ...

web-editor:
  steps:
    prepare:
      image: node:20
      commands:
      - printf '%s' "$LUZZLE_NPMRC" | sed 's/[[:space:]]*$//' >> /root/.npmrc
      - npm ci -w @luzzle/core -w @luzzle/cli -w @luzzle/web-editor
      environment:
        LUZZLE_NPMRC:
          from_secret: luzzle_npmrc
    lint:
      image: node:20
  ...

prepare:
  image: node:14
  commands:
  - echo $LUZZLE_NPMRC >> .npmrc
  environment:
    LUZZLE_NPMRC:
      from_secret: luzzle_npmrc

[tools] clean up tools packages
  package-lock.json
  packages/tools/package.json
Due: notify-success, notify-failure, tools

[tools] remove uneeded assets
  packages/tools/package.json
  packages/tools/src/commands/opengraph/components/noto-sans.woff2
  packages/tools/src/commands/opengraph/components/og.default.svelte
Due: notify-success, notify-failure, tools

[tools] make content optional
  packages/tools/package.json
  packages/tools/src/lib/config/defaults.yaml
  packages/tools/src/lib/config/schema.json
  packages/tools/src/lib/config/schema.ts
Due: notify-success, notify-failure, tools

[web-explorer] custom icon and opengraph support
  package-lock.json
  packages/web/explorer/.gitignore
  packages/web/explorer/Dockerfile
  packages/web/explorer/package.json
  packages/web/explorer/scripts/sync-content.js
  packages/web/explorer/scripts/sync-icon-components.js
  packages/web/explorer/src/lib/content/block/feed.md
  packages/web/explorer/src/lib/content/block/root.md
  packages/web/explorer/src/lib/feeds/utils.ts
  packages/web/explorer/src/lib/pieces/components/icon.default.svelte
  packages/web/explorer/src/lib/pieces/components/icon.svelte
  packages/web/explorer/src/lib/pieces/components/icons/generic.svelte
  packages/web/explorer/src/lib/pieces/components/opengraph.default.svelte
  packages/web/explorer/src/lib/pieces/components/opengraph.svelte
  packages/web/explorer/src/lib/pieces/components/picture.svelte
  packages/web/explorer/src/lib/pieces/types.ts
  packages/web/explorer/src/lib/server/database/index.ts
  packages/web/explorer/src/params/pieceType.ts
  packages/web/explorer/src/routes/(root)/+page.svelte
  packages/web/explorer/src/routes/api/pieces/+server.ts
  packages/web/explorer/src/routes/api/pieces/[piece=pieceType]/[slug]/icon/+page.server.ts
  packages/web/explorer/src/routes/api/pieces/[piece=pieceType]/[slug]/icon/+page.svelte
  packages/web/explorer/src/routes/api/pieces/[piece=pieceType]/[slug]/opengraph/+page.server.ts
  packages/web/explorer/src/routes/api/pieces/[piece=pieceType]/[slug]/opengraph/+page.svelte
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug]/+page.svelte
  packages/web/explorer/src/routes/rss/pieces/[[piece=pieceType]]/feed.[format=feedFormat]/+server.ts
  packages/web/explorer/src/routes/rss/tags/[tag]/feed.[format=feedFormat]/+server.ts
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] version 0.0.85
  package-lock.json
  packages/web/explorer/package.json
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] version 0.0.86, fix sharp packaging
  package-lock.json
  packages/web/explorer/package.json
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] version 0.0.87, fix opengraph url
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/src/routes/api/pieces/[piece=pieceType]/[slug]/opengraph/+page.server.ts
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[tools] fix asset path regression
  package-lock.json
  packages/tools/package.json
  packages/tools/src/commands/assets/command.test.ts
  packages/tools/src/commands/assets/command.ts
  packages/tools/src/commands/assets/index.test.ts
  packages/tools/src/commands/assets/index.ts
  packages/tools/src/commands/opengraph/index.ts
  packages/tools/src/lib/browser.test.ts
  packages/tools/src/lib/browser.ts
Due: notify-success, notify-failure, tools

[tools] use dynamic uri encoded modules instead of writing them
  package-lock.json
  packages/tools/package.json
  packages/tools/src/commands/opengraph/svelte.test.ts
  packages/tools/src/commands/opengraph/svelte.ts
Due: notify-success, notify-failure, tools

[web-explorer] fix type check logic
  packages/web/explorer/src/routes/api/pieces/+server.ts
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] make component reactive
  packages/web/explorer/src/lib/pieces/components/icon.svelte
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] version 0.0.88
  packages/web/explorer/package.json
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] version 0.0.88
  package-lock.json
Due: none

[web-explorer] rework tag expectations for web releases
  .woodpecker/.web-explorer.yml
  packages/web/explorer/scripts/tag.js
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[web-explorer] release 0.0.89
  .woodpecker/.web-explorer.yml
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/scripts/tag.js
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

ajv import syntax
  package-lock.json
  packages/tools/package.json
  packages/tools/src/lib/config/config.ts
Due: notify-success, notify-failure, tools

declare ajv dependency
  package-lock.json
  packages/tools/package.json
  packages/tools/src/lib/config/config.ts
  packages/web/explorer/package.json
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug]/+page.server.ts
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug]/+page.svelte
Due: notify-success, notify-failure, notify, tools, web-explorer, prepare, build_docker

[web-explorer] release version 0.0.91
  package-lock.json
  packages/web/explorer/package.json
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

[tools] add page as component type for pieces
  .woodpecker/.tools.yml
  package-lock.json
  packages/tools/package.json
  packages/tools/scripts/check-version.js
  packages/tools/src/lib/config/schema.json
  packages/tools/src/lib/config/schema.ts
  packages/tools/vite.config.ts
Due: notify-success, notify-failure, tools

[web-explorer] custom page awareness
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/scripts/sync-components.js
  packages/web/explorer/scripts/sync-icon-components.js
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug]/+page.svelte
Due: notify-success, notify-failure, notify, web-explorer, prepare, build_docker

Path conditions:
  cli: any of: .woodpecker/.cli.yml, packages/cli/**
  notify-success: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.core.yml, packages/core/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.web-editor.yml, packages/web/editor/**) or (any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**)
  notify-failure: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.core.yml, packages/core/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.web-editor.yml, packages/web/editor/**) or (any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**)
  core: any of: .woodpecker/.core.yml, packages/core/**
  build: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  test: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  publish: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  tools: any of: .woodpecker/.tools.yml, packages/tools/**
  web-editor: any of: .woodpecker/.web-editor.yml, packages/web/editor/**
  web-explorer: any of: .woodpecker/.web-explorer.yml, packages/web/explorer/**
  prepare: any of: .woodpecker/.web.yml, packages/web/**
  build_docker: any of: .woodpecker/.web.yml, packages/web/**
