Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, test, publish, notify, gather, build-content, deploy

build:
  image: node:18
  commands:
  - npm ci -w @luzzle/cli -w @luzzle/kysely
  - npm run build -w @luzzle/kysely
  - npm run compile -w @luzzle/cli
  - npm run build -w @luzzle/cli

test:
  image: node:18
  commands:
  - npm run lint -w @luzzle/cli
  - npm run test -w @luzzle/cli

publish:
  image: node:18
  commands:
  - npm config set @luzzle:registry https://git.eleith.com/api/packages/$NPM_OWNER/npm/
  - npm config set -- "//git.eleith.com/api/packages/$NPM_OWNER/npm/:_authToken" "$NPM_TOKEN"
  - cd packages/cli
  - NPM_CURRENT_VERSION="$(npm pkg get version --workspaces=false)"
  ...

notify:
  image: deblan/woodpecker-email:1.0.1-wp
  secrets:
  - smtp_notification_from
  - smtp_notification_host
  - smtp_notification_password
  - smtp_notification_from
  - smtp_notification_recipient
  settings:
    from.address:
      from_secret: smtp_notification_from
    host:
      from_secret: smtp_notification_host
  ...

gather:
  image: rclone/rclone:1.57
  environment:
  - RCLONE_GCS_STORAGE_CLASS=REGIONAL
  - RCLONE_GCS_BUCKET_POLICY_ONLY=true
  - RCLONE_GCS_LOCATION=us-central-1
  - RCLONE_GCS_SERVICE_ACCOUNT_FILE=/tmp/rclone-service-key.json
  - RCLONE_DAV_BOOK_SOURCE=:webdav:documents/eleith/notes-md/personal/records
  ...

build-content:
  image: node:18
  environment:
  - ENV_LOCAL_FILE=.env.local
  - NODE_ENV=production
  commands:
  - printf '%s\n' "$NEXTJS_ENV_LOCAL" > ./packages/web/$ENV_LOCAL_FILE
  - cd packages/web
  - npm run build:og:images
  - npm run build:rss
  secrets:
  - nextjs_env_local

deploy:
  image: git.eleith.com/eleith/gcs-web-deploy:3.0.0
  environment:
  - LOG_DIR=gs://eleith-cloud-builds/logs
  - STAGING_DIR=gs://eleith-cloud-builds/eleith-io-site
  - RUN_KEY_FILE=/tmp/secrets/service-account-key.json
  - GCR_IMAGE=gcr.io/eleith-cloud/eleith-io-site
  - GCS_PROJECT=eleith-cloud
  ...

fix paths during gathering
  .woodpecker/.web.yml
Due: build, test, notify, gather, build-content, deploy

remove progress updates
  .dockerignore
  .gcloudignore
  .woodpecker/.web.yml
Due: build, test, notify, gather, build-content, deploy

generate variants as pre-build step
  .dockerignore
  .gcloudignore
  .gitignore
  .woodpecker/.web.yml
  package-lock.json
  packages/web/.gitignore
  packages/web/package.json
  packages/web/scripts/generate-image-variants.ts
  packages/web/scripts/generate-og-images.tsx
  packages/web/scripts/generate-rss.ts
  packages/web/src/common/components/books/BookCoverFor.tsx
  packages/web/src/pages/api/books/og:image.api.tsx
Due: build, test, notify, gather, build-content, deploy

fix image ratio
  packages/web/scripts/generate-image-variants.ts
  packages/web/scripts/generate-rss.ts
Due: build, test, notify, gather, build-content, deploy

bump web to use latest kysely package
  package-lock.json
  packages/web/package.json
  packages/web/scripts/generate-image-variants.ts
  packages/web/scripts/generate-og-images.tsx
  packages/web/scripts/generate-rss.ts
  packages/web/src/common/graphql/book/objects/book.ts
  packages/web/src/common/graphql/search/queries/search.ts
  packages/web/src/common/graphql/tag/objects/tag.ts
Due: build, test, notify, gather, build-content, deploy

remove variant generation and size capture
  packages/cli/src/pieces/books/piece.test.ts
  packages/cli/src/pieces/books/piece.ts
Due: build, test, publish, notify

books piece to support attachment in schema
  package-lock.json
  packages/kysely/package.json
  packages/kysely/src/jtd/books.schema.ts
Due: none

support generalized attachments in book piece
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/commands/attach.test.ts
  packages/cli/src/lib/commands/attach.ts
  packages/cli/src/lib/pieces/piece.fixtures.ts
  packages/cli/src/lib/pieces/piece.test.ts
  packages/cli/src/lib/pieces/piece.ts
  packages/cli/src/pieces/books/piece.test.ts
  packages/cli/src/pieces/books/piece.ts
  packages/cli/src/pieces/links/piece.test.ts
  packages/cli/src/pieces/links/piece.ts
Due: build, test, publish, notify

incorrect key looping
  packages/cli/src/lib/pieces/piece.test.ts
  packages/cli/src/lib/pieces/piece.ts
  packages/cli/src/lib/pieces/pieces.ts
Due: build, test, publish, notify

migrate to a simplified cover path
  package-lock.json
  packages/kysely/package.json
  packages/kysely/src/database.migrations.ts
  packages/kysely/src/jtd/books.schema.ts
  packages/kysely/src/migrations/2023-11-22T14:55:18Z.ts
  packages/kysely/src/tables/books.schema.ts
Due: none

migrating markdown schema support
  package-lock.json
  packages/kysely/package.json
  packages/kysely/src/jtd/books.schema.ts
Due: none

move migration logic to md process
  package-lock.json
  packages/kysely/package.json
  packages/kysely/src/migrations/2023-11-22T14:55:18Z.ts
Due: none

migrator to return results
  package-lock.json
  packages/kysely/package.json
  packages/kysely/src/database.migrations.ts
Due: none

sqlite doesnt support binary
  package-lock.json
  packages/kysely/package.json
  packages/kysely/src/jtd/books.schema.ts
  packages/kysely/src/jtd/links.schema.ts
  packages/kysely/src/jtd/piece.ts
  packages/kysely/src/migrations/2023-10-30T23:24:40Z.ts
  packages/kysely/src/migrations/2023-11-22T14:55:18Z.ts
  packages/kysely/src/tables/links.schema.ts
Due: none

bump cli's version of the kylsey package
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/cli.test.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/commands/create.ts
  packages/cli/src/lib/pieces/markdown.test.ts
  packages/cli/src/lib/pieces/markdown.ts
  packages/cli/src/lib/pieces/piece.fixtures.ts
  packages/cli/src/lib/pieces/piece.ts
  packages/cli/src/lib/pieces/pieces.ts
  packages/cli/src/pieces/books/book.fixtures.ts
  packages/cli/src/pieces/books/piece.test.ts
  packages/cli/src/pieces/books/piece.ts
  packages/cli/src/pieces/links/link.fixtures.ts
  packages/cli/src/pieces/links/piece.test.ts
  packages/cli/src/pieces/links/piece.ts
Due: build, test, publish, notify

upgrade ui ci/cd
  .woodpecker/.ui.yml
Due: build, test, publish, notify

update cli version
  package-lock.json
  packages/cli/package.json
Due: build, test, publish, notify

upgrade web's version of kysely
  package-lock.json
  packages/web/package.json
  packages/web/scripts/generate-image-variants.ts
  packages/web/scripts/generate-og-images.tsx
  packages/web/scripts/generate-rss.ts
  packages/web/src/common/graphql/book/fragments/bookFullDetails.ts
  packages/web/src/common/graphql/book/objects/book.ts
  packages/web/src/pages/books/[slug].tsx
  packages/web/src/pages/books/index.tsx
  packages/web/src/pages/tags/[slug].tsx
Due: build, test, notify, gather, build-content, deploy

remove older book markdown fields
  package-lock.json
  packages/kysely/package.json
  packages/kysely/src/jtd/books.schema.ts
Due: none

final push to simplify book pieces
  package-lock.json
  packages/cli/package.json
  packages/cli/src/pieces/books/piece.ts
  packages/web/package.json
Due: build, test, publish, notify, gather, build-content, deploy

Path conditions:
  build: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: Dockerfile, .woodpecker/.web.yml, packages/web/**)
  test: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  publish: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: Dockerfile, .woodpecker/.web.yml, packages/web/**)
  gather: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  build-content: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  deploy: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
