Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: cli, notify-success, notify-failure, build, test, publish, notify, tools, web-editor, prepare, build_docker

cli:
  steps:
    build:
      image: node:22
      commands:
      - npm ci -w @luzzle/core -w @luzzle/cli
      - npm run build -w @luzzle/core
      - npm run compile -w @luzzle/cli
      - npm run build -w @luzzle/cli
    test:
      image: node:22
      commands:
      - npm run lint -w @luzzle/cli
  ...

notify-success:
  image: deblan/woodpecker-email:3.2.0
  settings:
    dsn:
      from_secret: woodpecker_email_dsn
    from:
      address:
        from_secret: woodpecker_email_from_address
      name:
        from_secret: woodpecker_email_from_name
    recipients:
      from_secret: woodpecker_email_recipient
    level: success
  ...

notify-failure:
  image: deblan/woodpecker-email:3.2.0
  settings:
    dsn:
      from_secret: woodpecker_email_dsn
    from:
      address:
        from_secret: woodpecker_email_from_address
      name:
        from_secret: woodpecker_email_from_name
    recipients:
      from_secret: woodpecker_email_recipient
    level: failure
  ...

build:
  image: node:18
  commands:
  - npm ci -w @luzzle/prisma
  - npm run compile -w @luzzle/prisma
  - npm run build -w @luzzle/prisma

test:
  image: node:18
  commands:
  - npm run lint -w @luzzle/prisma

publish:
  image: node:18
  commands:
  - npm config set @luzzle:registry https://git.eleith.com/api/packages/$NPM_OWNER/npm/
  - npm config set -- "//git.eleith.com/api/packages/$NPM_OWNER/npm/:_authToken" "$NPM_TOKEN"
  - cd packages/prisma
  - NPM_CURRENT_VERSION="$(npm pkg get version --workspaces=false)"
  ...

notify:
  image: deblan/woodpecker-email:1.0.0-wp
  secrets:
  - smtp_notification_from
  - smtp_notification_host
  - smtp_notification_password
  - smtp_notification_from
  - smtp_notification_recipient
  settings:
    from:
      from_secret: smtp_notification_from
    host:
      from_secret: smtp_notification_host
  ...

tools:
  steps:
    build:
      image: node:22
      commands:
      - npm ci -w @luzzle/core -w @luzzle/cli
      - npm run build -w @luzzle/core -w @luzzle/cli
      - npm ci -w @luzzle/tools
      - npm run build -w @luzzle/tools
    test:
      image: node:22
      commands:
      - npm run lint -w @luzzle/tools
  ...

web-editor:
  steps:
    prepare:
      image: node:20
      commands:
      - printf '%s' "$LUZZLE_NPMRC" | sed 's/[[:space:]]*$//' >> /root/.npmrc
      - npm ci -w @luzzle/core -w @luzzle/cli -w @luzzle/web-editor
      environment:
        LUZZLE_NPMRC:
          from_secret: luzzle_npmrc
    lint:
      image: node:20
  ...

prepare:
  image: node:14
  commands:
  - echo $LUZZLE_NPMRC >> .npmrc
  environment:
    LUZZLE_NPMRC:
      from_secret: luzzle_npmrc

build_docker:
  image: woodpeckerci/plugin-docker-buildx:pull_186
  settings:
    repo: git.eleith.com/eleith/luzzle
    username: eleith
    dockerfile: packages/web/Dockerfile
    context: packages/web
    registry: https://git.eleith.com
    secrets:
    - id=npmrc\\,src=.npmrc
    auto_tag: true
    password:
  ...

[web.explorer] release 0.0.107
  package-lock.json
  packages/web/explorer/package.json
Due: notify, prepare, build_docker

[web.explorer] release 0.0.108, update build:og
  package-lock.json
  packages/web/explorer/docker-compose.yml
  packages/web/explorer/package.json
  packages/web/explorer/scripts/generate-og-image.js
Due: notify, prepare, build_docker

[web.explorer] release 0.0.109, run preview on host
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/scripts/generate-og-image.js
Due: notify, prepare, build_docker

[web.explorer] add puppeteer dependencies to dockerfile
  packages/web/explorer/Dockerfile
  packages/web/explorer/scripts/generate-og-image.js
Due: notify, prepare, build_docker

[web.explorer] release 0.0.110
  package-lock.json
  packages/web/explorer/package.json
Due: notify, prepare, build_docker

[web.tools] fix font css extra quote
  packages/web/tools/src/commands/theme/theme.ts
Due: notify, prepare, build_docker

[web.tools] release 0.0.63
  package-lock.json
  packages/web/tools/package.json
Due: notify, prepare, build_docker

[web.explorer] build warning fixes
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/src/lib/pieces/components/opengraph.default.svelte
Due: notify, prepare, build_docker

[web.tools] log for successful opengraph creation
  packages/web/tools/src/commands/opengraph/index.ts
Due: notify, prepare, build_docker

[web.tools] release 0.0.64
  package-lock.json
  packages/web/tools/package.json
Due: notify, prepare, build_docker

[web.explorer] release 0.0.111
  package-lock.json
  packages/web/explorer/package.json
Due: notify, prepare, build_docker

simplify agents docs
  Agents.md
  packages/cli/Agents.md
  packages/core/Agents.md
  packages/web/editor/Agents.md
  packages/web/explorer/Agents.md
  packages/web/tools/Agents.md
Due: cli, notify-success, notify-failure, notify, web-editor, prepare, build_docker

allow PROJECT.md
  .gitignore
Due: none

feat(core): migrate llm from cli to core
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/llm/google.test.ts
  packages/core/src/llm/google.ts
  packages/core/src/pieces/item.ts
  packages/core/src/pieces/utils/frontmatter.test.ts
  packages/core/src/pieces/utils/frontmatter.ts
  packages/core/src/pieces/utils/piece.fixtures.ts
  packages/core/tsconfig.json
Due: none

refactor(cli): use pieceFrontMatterFromPrompt from core
  packages/cli/package.json
  packages/cli/src/lib/commands/command/assistant.test.ts
  packages/cli/src/lib/commands/command/assistant.ts
  packages/cli/src/lib/llm/google.test.ts
  packages/cli/src/lib/llm/google.ts
Due: cli, notify-success, notify-failure

feat(core): add storage abstraction layer
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/llm/google.test.ts
  packages/core/src/pieces/utils/piece.fixtures.ts
  packages/core/src/storage/abstract.ts
  packages/core/src/storage/fs.test.ts
  packages/core/src/storage/fs.ts
  packages/core/src/storage/index.ts
  packages/core/src/storage/types.ts
  packages/core/src/storage/webdav.test.ts
  packages/core/src/storage/webdav.ts
Due: none

refactor(cli): consume storage module from core
  packages/cli/src/lib/config.test.ts
  packages/cli/src/lib/config.ts
  packages/cli/src/lib/pieces/piece.fixtures.ts
  packages/cli/src/lib/pieces/piece.test.ts
  packages/cli/src/lib/pieces/piece.ts
  packages/cli/src/lib/pieces/pieces.test.ts
  packages/cli/src/lib/pieces/pieces.ts
  packages/cli/src/lib/pieces/utils.ts
  packages/cli/src/lib/storage/fs.test.ts
  packages/cli/src/lib/storage/fs.ts
  packages/cli/src/lib/storage/index.ts
  packages/cli/src/lib/storage/storage.mock.ts
  packages/cli/src/lib/storage/storage.ts
  packages/cli/src/lib/storage/webdav.test.ts
  packages/cli/src/lib/storage/webdav.ts
  packages/cli/src/sdk.ts
Due: cli, notify-success, notify-failure

feat(core): Piece(s) migrated from cli
  package-lock.json
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/lib/frontmatter.test.ts
  packages/core/src/llm/google.test.ts
  packages/core/src/llm/google.ts
  packages/core/src/pieces/Piece.fixtures.ts
  packages/core/src/pieces/Piece.test.ts
  packages/core/src/pieces/Piece.ts
  packages/core/src/pieces/Pieces.test.ts
  packages/core/src/pieces/Pieces.ts
  packages/core/src/pieces/assets.ts
  packages/core/src/pieces/cache.fixtures.ts
  packages/core/src/pieces/cache.test.ts
  packages/core/src/pieces/cache.ts
  packages/core/src/pieces/item.ts
  packages/core/src/pieces/utils/frontmatter.test.ts
  packages/core/src/pieces/utils/frontmatter.ts
  packages/core/src/pieces/utils/piece.test.ts
  packages/core/src/pieces/utils/piece.ts
  packages/core/src/storage/index.ts
  packages/core/src/storage/storage.mock.ts
  packages/core/tsconfig.json
Due: none

refactor(cli): integrate @luzzle/core for piece and storage management
  PROJECT.md
  package-lock.json
  packages/cli/package.json
  packages/cli/scripts/check-version.js
  packages/cli/src/lib/assets.ts
  packages/cli/src/lib/cli.test.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/commands/command/assistant.test.ts
  packages/cli/src/lib/commands/command/assistant.ts
  packages/cli/src/lib/commands/command/config.test.ts
  packages/cli/src/lib/commands/command/context.fixtures.ts
  packages/cli/src/lib/commands/command/create.test.ts
  packages/cli/src/lib/commands/command/create.ts
  packages/cli/src/lib/commands/command/field.test.ts
  packages/cli/src/lib/commands/command/field.ts
  packages/cli/src/lib/commands/command/init.test.ts
  packages/cli/src/lib/commands/command/sync.test.ts
  packages/cli/src/lib/commands/command/sync.ts
  packages/cli/src/lib/commands/command/validate.test.ts
  packages/cli/src/lib/commands/command/validate.ts
  packages/cli/src/lib/commands/utils/context.fixtures.ts
  packages/cli/src/lib/commands/utils/pieces.test.ts
  packages/cli/src/lib/commands/utils/pieces.ts
  packages/cli/src/lib/commands/utils/types.d.ts
  packages/cli/src/lib/config.ts
  packages/cli/src/lib/pieces/cache.fixtures.ts
  packages/cli/src/lib/pieces/cache.test.ts
  packages/cli/src/lib/pieces/cache.ts
  packages/cli/src/lib/pieces/index.ts
  packages/cli/src/lib/pieces/piece.fixtures.ts
  packages/cli/src/lib/pieces/piece.test.ts
  packages/cli/src/lib/pieces/piece.ts
  packages/cli/src/lib/pieces/pieces.test.ts
  packages/cli/src/lib/pieces/pieces.ts
  packages/cli/src/lib/pieces/utils.test.ts
  packages/cli/src/lib/pieces/utils.ts
  packages/cli/src/sdk.ts
  packages/cli/tsconfig.build.json
  packages/cli/tsconfig.json
Due: cli, notify-success, notify-failure

[web.editor] migrate to core
  PROJECT.md
  package-lock.json
  packages/web/editor/package.json
  packages/web/editor/src/lib/pieces/components/fields/display.svelte
  packages/web/editor/src/lib/pieces/components/fields/edit.svelte
  packages/web/editor/src/lib/pieces/components/fields/types.ts
  packages/web/editor/src/lib/pieces/formData.ts
  packages/web/editor/src/lib/pieces/index.ts
Due: notify-success, notify-failure, notify, web-editor, prepare, build_docker

Path conditions:
  cli: any of: .woodpecker/.cli.yml, packages/cli/**
  notify-success: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.web-editor.yml, packages/web/editor/**)
  notify-failure: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.web-editor.yml, packages/web/editor/**)
  build: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  test: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  publish: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  tools: any of: .woodpecker/.tools.yml, packages/tools/**
  web-editor: any of: .woodpecker/.web-editor.yml, packages/web/editor/**
  prepare: any of: .woodpecker/.web.yml, packages/web/**
  build_docker: any of: .woodpecker/.web.yml, packages/web/**
