Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, test, publish, notify, packages, check, gather, cache, deploy

Path conditions:
  build: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: Dockerfile, .woodpecker/.web.yml, packages/web/**)
  test: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  publish: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.cli.yml, packages/cli/**) or (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: Dockerfile, .woodpecker/.web.yml, packages/web/**)
  packages: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  check: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  gather: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  cache: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**
  deploy: any of: Dockerfile, .woodpecker/.web.yml, packages/web/**

[web] add overlay for search
  .woodpecker/.web.yml
  packages/web/src/lib/components/layout/simple/nav.svelte
Due: build, notify, packages, check, gather, cache, deploy

[web] remove ui build
  .woodpecker/.ui.yml
  .woodpecker/.web.yml
Due: build, test, publish, notify, packages, check, gather, cache, deploy

[web] tag header
  packages/web/src/routes/pieces/[piece=pieceType]/[slug]/+page.svelte
Due: build, notify, packages, check, gather, cache, deploy

[web] redesign home page
  packages/web/src/lib/database/index.ts
  packages/web/src/lib/ui/styles/theme.css
  packages/web/src/routes/(root)/+page.server.ts
  packages/web/src/routes/(root)/+page.svelte
  packages/web/src/routes/api/pieces/+server.ts
  packages/web/src/routes/pieces/[[piece=pieceType]]/+page.svelte
Due: build, notify, packages, check, gather, cache, deploy

[web] fix prev/next links when date_consumed is null
  packages/web/src/routes/pieces/[piece=pieceType]/[slug]/+page.server.ts
  packages/web/src/routes/pieces/[piece=pieceType]/[slug]/+page.svelte
Due: build, notify, packages, check, gather, cache, deploy

[ci] skip ci, updating notify step
  .woodpecker/.cli.yml
  .woodpecker/.core.yml
  .woodpecker/.tools.yml
  .woodpecker/.web.yml
Due: build, test, publish, notify, packages, check, gather, cache, deploy

[web] opengraph and other fixes
  packages/web/src/routes/(root)/+page.svelte
  packages/web/src/routes/pieces/[[piece=pieceType]]/+page.server.ts
  packages/web/src/routes/pieces/[piece=pieceType]/[slug]/+page.server.ts
  packages/web/static/images/opengraph.jpg
Due: build, notify, packages, check, gather, cache, deploy

[web] filter by type
  packages/web/src/routes/pieces/[piece=pieceType]/[slug]/+page.server.ts
Due: build, notify, packages, check, gather, cache, deploy

[web] locate prev,next, taking into account null
  packages/web/src/routes/api/pieces/+server.ts
  packages/web/src/routes/pieces/[piece=pieceType]/[slug]/+page.server.ts
Due: build, notify, packages, check, gather, cache, deploy

[web] fix before, after bug
  packages/web/src/routes/pieces/[piece=pieceType]/[slug]/+page.server.ts
Due: build, notify, packages, check, gather, cache, deploy

[web] close search on submit
  packages/web/src/lib/components/layout/simple/nav.svelte
Due: build, notify, packages, check, gather, cache, deploy

[web] opengraph update
  packages/web/static/images/opengraph.jpg
  packages/web/tools/luzzle/opengraph.ts
Due: build, notify, packages, check, gather, cache, deploy

[web] capture linebreaks in markdown
  packages/web/src/lib/ui/styles/elements.css
  packages/web/src/routes/pieces/[piece=pieceType]/[slug]/+page.svelte
Due: build, notify, packages, check, gather, cache, deploy

[web] adjust themes and shadows
  packages/web/src/lib/pieces/components/icon/article.svelte
  packages/web/src/lib/pieces/components/icon/book.svelte
  packages/web/src/lib/pieces/components/icon/cartridge.svelte
  packages/web/src/lib/pieces/components/icon/poster.svelte
  packages/web/src/lib/ui/styles/theme.css
  packages/web/src/routes/(root)/+page.svelte
  packages/web/src/routes/pieces/[piece=pieceType]/[slug]/+page.svelte
Due: build, notify, packages, check, gather, cache, deploy

[web] shadow adjustments and gold cartridges
  packages/web/src/lib/pieces/components/icon/article.svelte
  packages/web/src/lib/pieces/components/icon/cartridge.svelte
  packages/web/src/lib/pieces/components/icon/poster.svelte
  packages/web/src/routes/(root)/+page.svelte
Due: build, notify, packages, check, gather, cache, deploy

[web] breakout luzzle pre-build scripts
  packages/web/package.json
  packages/web/tools/luzzle/images.ts
Due: build, notify, packages, check, gather, cache, deploy

[web] fix rss links
  packages/web/src/routes/rss/pieces/[[piece=pieceType]]/feed.[format=feedFormat]/+server.ts
Due: build, notify, packages, check, gather, cache, deploy

[web] fix line breaks in notes
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/commands/create.test.ts
  packages/cli/src/lib/commands/create.ts
  packages/cli/src/lib/commands/field.test.ts
  packages/cli/src/lib/commands/field.ts
  packages/web/src/routes/pieces/[piece=pieceType]/[slug]/+page.svelte
  packages/web/tools/luzzle/database.ts
  packages/web/tools/luzzle/index.ts
Due: build, test, publish, notify, packages, check, gather, cache, deploy

[cli] prevent bad tag slugs
  packages/cli/src/lib/tags/tags.test.ts
  packages/cli/src/lib/tags/tags.ts
Due: build, test, publish, notify
