Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, test, publish, notify, tools, notify-success, notify-failure, web-editor, prepare, build_docker

build:
  image: node:18
  commands:
  - npm ci -w @luzzle/prisma
  - npm run compile -w @luzzle/prisma
  - npm run build -w @luzzle/prisma

test:
  image: node:18
  commands:
  - npm run lint -w @luzzle/prisma

publish:
  image: node:18
  commands:
  - npm config set @luzzle:registry https://git.eleith.com/api/packages/$NPM_OWNER/npm/
  - npm config set -- "//git.eleith.com/api/packages/$NPM_OWNER/npm/:_authToken" "$NPM_TOKEN"
  - cd packages/prisma
  - NPM_CURRENT_VERSION="$(npm pkg get version --workspaces=false)"
  ...

notify:
  image: deblan/woodpecker-email:1.0.0-wp
  secrets:
  - smtp_notification_from
  - smtp_notification_host
  - smtp_notification_password
  - smtp_notification_from
  - smtp_notification_recipient
  settings:
    from:
      from_secret: smtp_notification_from
    host:
      from_secret: smtp_notification_host
  ...

tools:
  steps:
    build:
      image: node:22
      commands:
      - npm ci -w @luzzle/core -w @luzzle/cli
      - npm run build -w @luzzle/core -w @luzzle/cli
      - npm ci -w @luzzle/tools
      - npm run build -w @luzzle/tools
    test:
      image: node:22
      commands:
      - npm run lint -w @luzzle/tools
  ...

notify-success:
  image: deblan/woodpecker-email:3.2.0
  settings:
    dsn:
      from_secret: woodpecker_email_dsn
    from:
      address:
        from_secret: woodpecker_email_from_address
      name:
        from_secret: woodpecker_email_from_name
    recipients:
      from_secret: woodpecker_email_recipient
    level: success
  ...

notify-failure:
  image: deblan/woodpecker-email:3.2.0
  settings:
    dsn:
      from_secret: woodpecker_email_dsn
    from:
      address:
        from_secret: woodpecker_email_from_address
      name:
        from_secret: woodpecker_email_from_name
    recipients:
      from_secret: woodpecker_email_recipient
    level: failure
  ...

web-editor:
  steps:
    prepare:
      image: node:22
      commands:
      - printf '%s' "$LUZZLE_NPMRC" | sed 's/[[:space:]]*$//' >> /root/.npmrc
      - cd packages/web/editor
      - npm run build:lock
      - npm ci --workspaces=false
      environment:
        LUZZLE_NPMRC:
          from_secret: luzzle_npmrc
    lint:
  ...

prepare:
  image: node:14
  commands:
  - echo $LUZZLE_NPMRC >> .npmrc
  environment:
    LUZZLE_NPMRC:
      from_secret: luzzle_npmrc

build_docker:
  image: woodpeckerci/plugin-docker-buildx:pull_186
  settings:
    repo: git.eleith.com/eleith/luzzle
    username: eleith
    dockerfile: packages/web/Dockerfile
    context: packages/web
    registry: https://git.eleith.com
    secrets:
    - id=npmrc\\,src=.npmrc
    auto_tag: true
    password:
  ...

[web] release 0.0.124, update deps
  package-lock.json
  packages/web/explorer/package.json
Due: notify, prepare, build_docker

[web] navigation progress bar
  packages/web/explorer/src/lib/components/layout/simple/NavigationProgressBar.svelte
  packages/web/explorer/src/lib/components/layout/simple/nav.svelte
Due: notify, prepare, build_docker

[web] release 0.0.125
  package-lock.json
  packages/web/explorer/package.json
Due: notify, prepare, build_docker

refactor(web-editor): remove generate workflow from create route
  PROJECT.md
  packages/web/editor/src/routes/pieces/create/[[directory]]/[...piece]/+page.server.ts
  packages/web/editor/src/routes/pieces/create/[[directory]]/[...piece]/+page.svelte
Due: notify, notify-success, notify-failure, web-editor, prepare, build_docker

refactor(web-editor): extract PieceForm component
  PROJECT.md
  packages/web/editor/src/lib/pieces/components/PieceForm.svelte
  packages/web/editor/src/routes/pieces/edit/[[directory]]/[...piece]/+page.svelte
Due: notify, notify-success, notify-failure, web-editor, prepare, build_docker

feat(web-editor): add visual diff indication to form fields
  PROJECT.md
  packages/web/editor/src/lib/pieces/components/PieceForm.svelte
  packages/web/editor/src/lib/pieces/components/fields/edit.svelte
  packages/web/editor/src/routes/pieces/create/[[directory]]/[...piece]/+page.svelte
  packages/web/editor/src/routes/pieces/edit/[[directory]]/[...piece]/+page.svelte
Due: notify, notify-success, notify-failure, web-editor, prepare, build_docker

feat(web-editor): scaffold generate route and link from edit page
  PROJECT.md
  packages/web/editor/src/routes/pieces/edit/[[directory]]/[...piece]/+page.svelte
  packages/web/editor/src/routes/pieces/generate/[[directory]]/[...piece]/+page.server.ts
  packages/web/editor/src/routes/pieces/generate/[[directory]]/[...piece]/+page.svelte
Due: notify, notify-success, notify-failure, web-editor, prepare, build_docker

feat(web-editor): implement generation logic and review view
  PROJECT.md
  packages/web/editor/src/lib/pieces/components/fields/edit.svelte
  packages/web/editor/src/routes/pieces/generate/[[directory]]/[...piece]/+page.server.ts
  packages/web/editor/src/routes/pieces/generate/[[directory]]/[...piece]/+page.svelte
Due: notify, notify-success, notify-failure, web-editor, prepare, build_docker

fix(web-editor): refine generation prompt and asset field reactivity
  PROJECT.md
  packages/web/editor/src/lib/pieces/components/fields/edit.svelte
  packages/web/editor/src/lib/pieces/components/fields/editAsset.svelte
  packages/web/editor/src/routes/pieces/generate/[[directory]]/[...piece]/+page.server.ts
Due: notify, notify-success, notify-failure, web-editor, prepare, build_docker

fix(web-editor) rework ui/ux for piece actions
  package-lock.json
  packages/web/editor/package.json
  packages/web/editor/src/lib/components/ui/Button.svelte
  packages/web/editor/src/lib/ui/styles/elements.css
  packages/web/editor/src/routes/pieces/edit/[[directory]]/[...piece]/+page.svelte
  packages/web/editor/src/routes/pieces/generate/[[directory]]/[...piece]/+page.svelte
Due: notify, notify-success, notify-failure, web-editor, prepare, build_docker

chore(web-editor): remove project plan
  PROJECT.md
Due: none

fix(web-editor) cleanup after review
  packages/web/editor/src/lib/pieces/components/fields/edit.svelte
  packages/web/editor/src/lib/pieces/components/fields/editAsset.svelte
  packages/web/editor/src/routes/pieces/generate/[[directory]]/[...piece]/+page.server.ts
Due: notify, notify-success, notify-failure, web-editor, prepare, build_docker

fix(web-editor) update create button styles
  packages/web/editor/src/routes/pieces/create/[[directory]]/[...piece]/+page.svelte
Due: notify, notify-success, notify-failure, web-editor, prepare, build_docker

[web-editor] release 0.0.19
  package-lock.json
  packages/web/editor/package.json
Due: notify, notify-success, notify-failure, web-editor, prepare, build_docker

feat(web-utils): add auth and storage to config schema and implement env var substitution
  packages/web/utils/package.json
  packages/web/utils/src/lib/config/config.test.ts
  packages/web/utils/src/lib/config/config.ts
  packages/web/utils/src/lib/config/defaults.yaml
  packages/web/utils/src/lib/config/schema.json
  packages/web/utils/src/lib/config/schema.ts
Due: notify, prepare, build_docker

chore: bump @luzzle/web.utils to 0.0.15 in explorer and tools
  packages/web/explorer/package.json
  packages/web/tools/package.json
  packages/web/tools/src/commands/theme/theme.test.ts
Due: notify, prepare, build_docker

feat(web-explorer): setup authjs with oidc, editor route guard, and custom logos
  package-lock.json
  packages/web/explorer/src/app.d.ts
  packages/web/explorer/src/hooks.server.ts
Due: notify, prepare, build_docker

feat(web-explorer): add storage factory for editor backend
  packages/web/explorer/src/lib/server/storage.ts
Due: notify, prepare, build_docker

feat(web-explorer): add formData and pieces helpers for editor
  package-lock.json
  packages/web/explorer/package.json
  packages/web/explorer/src/lib/server/formData.ts
  packages/web/explorer/src/lib/server/pieces.ts
Due: notify, prepare, build_docker

feat(web-explorer): port editor UI components and adapt styles
  packages/web/explorer/src/lib/components/editor/PieceForm.svelte
  packages/web/explorer/src/lib/components/editor/fields/display.svelte
  packages/web/explorer/src/lib/components/editor/fields/edit.svelte
  packages/web/explorer/src/lib/components/editor/fields/editAsset.svelte
  packages/web/explorer/src/lib/components/editor/fields/types.ts
  packages/web/explorer/src/lib/components/ui/Button.svelte
  packages/web/explorer/src/lib/ui/styles/base.css
Due: notify, prepare, build_docker

feat(web-explorer): port directory listing route for editor
  packages/web/explorer/src/routes/editor/+page.server.ts
  packages/web/explorer/src/routes/editor/directory/[...directory]/+page.server.ts
  packages/web/explorer/src/routes/editor/directory/[...directory]/+page.svelte
Due: notify, prepare, build_docker

feat(web-explorer): implement piece editing, asset serving, and editor layout
  packages/web/explorer/src/hooks.server.ts
  packages/web/explorer/src/routes/editor/+layout.svelte
  packages/web/explorer/src/routes/editor/asset/[...asset]/+server.ts
  packages/web/explorer/src/routes/editor/pieces/create/[[directory]]/+page.server.ts
  packages/web/explorer/src/routes/editor/pieces/create/[[directory]]/+page.svelte
  packages/web/explorer/src/routes/editor/pieces/edit/[...path]/+page.server.ts
  packages/web/explorer/src/routes/editor/pieces/edit/[...path]/+page.svelte
  packages/web/explorer/src/routes/editor/pieces/view/[...path]/+page.server.ts
  packages/web/explorer/src/routes/editor/pieces/view/[...path]/+page.svelte
Due: notify, prepare, build_docker

feat(web-utils): add ai configuration to schema and tests
  packages/web/utils/src/lib/config/config.test.ts
  packages/web/utils/src/lib/config/defaults.yaml
  packages/web/utils/src/lib/config/schema.json
  packages/web/utils/src/lib/config/schema.ts
Due: notify, prepare, build_docker

feat(web-explorer): port piece generation feature
  packages/web/explorer/src/lib/server/pieces.ts
  packages/web/explorer/src/routes/editor/pieces/edit/[...path]/+page.svelte
  packages/web/explorer/src/routes/editor/pieces/generate/[...path]/+page.server.ts
  packages/web/explorer/src/routes/editor/pieces/generate/[...path]/+page.svelte
Due: notify, prepare, build_docker

feat(config): remove deprecated url.editor from schema and defaults
  packages/web/tools/src/commands/theme/theme.test.ts
  packages/web/utils/src/lib/config/config.test.ts
  packages/web/utils/src/lib/config/defaults.yaml
  packages/web/utils/src/lib/config/schema.json
  packages/web/utils/src/lib/config/schema.ts
Due: notify, prepare, build_docker

update edit route to load editor
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug].edit/+server.ts
Due: notify, prepare, build_docker

refactor(web-explorer): conditionally enable auth handle based on config
  packages/web/explorer/src/hooks.server.ts
Due: notify, prepare, build_docker

refactor(web-explorer): remove redundant auth checks in editor routes
  packages/web/explorer/src/routes/editor/asset/[...asset]/+server.ts
Due: notify, prepare, build_docker

refactor(web-explorer): improve error handling in editor actions
  packages/web/explorer/src/routes/editor/pieces/create/[[directory]]/+page.server.ts
  packages/web/explorer/src/routes/editor/pieces/edit/[...path]/+page.server.ts
Due: notify, prepare, build_docker

chore: style fixes and lint errors
  packages/web/explorer/src/routes/editor/asset/[...asset]/+server.ts
  packages/web/explorer/src/routes/editor/pieces/generate/[...path]/+page.server.ts
  packages/web/explorer/src/routes/editor/pieces/generate/[...path]/+page.svelte
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug].edit/+server.ts
Due: notify, prepare, build_docker

feat(web-explorer): implement custom signin page with redirect logic
  packages/web/explorer/src/hooks.server.ts
  packages/web/explorer/src/routes/signin/+layout.svelte
  packages/web/explorer/src/routes/signin/+page.server.ts
  packages/web/explorer/src/routes/signin/+page.svelte
Due: notify, prepare, build_docker

feat(web-explorer): add logout button to editor layout
  packages/web/explorer/src/routes/editor/+layout.svelte
Due: notify, prepare, build_docker

[luzzle] add more bubblewrap ignores
  .bubblewrap
Due: none

docs: update explorer, tools, and utils documentation for editor merge
  packages/web/explorer/Agents.md
  packages/web/explorer/README.md
  packages/web/tools/Agents.md
  packages/web/utils/Agents.md
Due: notify, prepare, build_docker

fix(web-tools): update tests to match new config schema
  packages/web/tools/src/commands/sqlite/database.test.ts
  packages/web/tools/src/commands/theme/theme.test.ts
Due: notify, prepare, build_docker

[web-utils] update docs
  packages/web/utils/README.md
Due: notify, prepare, build_docker

[web] update docs
  packages/web/explorer/README.md
Due: notify, prepare, build_docker

[web] lint docs
  packages/web/explorer/Agents.md
  packages/web/explorer/README.md
Due: notify, prepare, build_docker

[web-tools] release 0.0.76
  package-lock.json
  packages/web/tools/package.json
Due: notify, prepare, build_docker

[web] release 0.0.126
  package-lock.json
  packages/web/explorer/package.json
Due: notify, prepare, build_docker

Path conditions:
  build: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  test: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  publish: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  tools: any of: .woodpecker/.tools.yml, packages/tools/**
  notify-success: (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.web-editor.yml, packages/web/editor/**)
  notify-failure: (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.web-editor.yml, packages/web/editor/**)
  web-editor: any of: .woodpecker/.web-editor.yml, packages/web/editor/**
  prepare: any of: .woodpecker/.web.yml, packages/web/**
  build_docker: any of: .woodpecker/.web.yml, packages/web/**
