Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, test, publish, notify, tools, notify-success, notify-failure, web-editor, prepare, build_docker

Path conditions:
  build: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  test: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  publish: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  tools: any of: .woodpecker/.tools.yml, packages/tools/**
  notify-success: (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.web-editor.yml, packages/web/editor/**)
  notify-failure: (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.web-editor.yml, packages/web/editor/**)
  web-editor: any of: .woodpecker/.web-editor.yml, packages/web/editor/**
  prepare: any of: .woodpecker/.web.yml, packages/web/**
  build_docker: any of: .woodpecker/.web.yml, packages/web/**

[core] release 0.0.30
  package-lock.json
  packages/core/package.json
Due: none

[core] add deleteItem and fix iterable bug
  packages/core/src/pieces/Piece.test.ts
  packages/core/src/pieces/Piece.ts
  packages/core/src/pieces/Pieces.ts
  packages/core/src/pieces/items.test.ts
  packages/core/src/pieces/items.ts
Due: none

[core] release 0.0.31
  package-lock.json
  packages/core/package.json
Due: none

[cli] bump core and update sync logic
  package-lock.json
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/src/lib/commands/command/sync.test.ts
  packages/cli/src/lib/commands/command/sync.ts
Due: none

[cli] release 0.0.124
  package-lock.json
  packages/cli/package.json
Due: none

[web.editor] bump core
  package-lock.json
  packages/web/editor/package.json
Due: notify, notify-success, notify-failure, web-editor, prepare, build_docker

[web.tools] bump core
  package-lock.json
  packages/web/tools/package.json
Due: notify, prepare, build_docker

[web.tools] release 0.0.68
  package-lock.json
  packages/web/tools/package.json
Due: notify, prepare, build_docker

[web.editor] bump core, cli, tools
  package-lock.json
  packages/web/explorer/package.json
Due: notify, prepare, build_docker

[web.explorer] release 0.0.115
  package-lock.json
  packages/web/explorer/package.json
Due: notify, prepare, build_docker

[core] fix file-type stream bug
  packages/core/src/pieces/utils/piece.test.ts
  packages/core/src/pieces/utils/piece.ts
  packages/core/test/assets/favicon.png
Due: none

[core] release 0.0.32
  package-lock.json
  packages/core/package.json
Due: none

[web.editor] release 0.0.12, bump core
  package-lock.json
  packages/web/editor/package.json
Due: notify, notify-success, notify-failure, web-editor, prepare, build_docker

[cli] release 0.0.125, bump core
  package-lock.json
  packages/cli/package.json
Due: none

[web.tools] release 0.0.69, bump core
  package-lock.json
  packages/web/tools/package.json
Due: notify, prepare, build_docker

[web.explorer] release 0.0.116, bump libs
  package-lock.json
  packages/web/explorer/package.json
Due: notify, prepare, build_docker

[web.explorer] watch for content/ changes in dev
  packages/web/explorer/vite.config.ts
Due: notify, prepare, build_docker

[web.explorer] release 0.0.117
  package-lock.json
  packages/web/explorer/package.json
Due: notify, prepare, build_docker

[luzzle] update and add new Agents.md docs for llms
  Agents.md
  package.json
  packages/cli/Agents.md
  packages/core/Agents.md
  packages/web/editor/Agents.md
  packages/web/explorer/Agents.md
  packages/web/tools/Agents.md
  packages/web/utils/Agents.md
Due: notify, notify-success, notify-failure, web-editor, prepare, build_docker

[luzzle] initial readmes for all packages
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/web/editor/README.md
  packages/web/explorer/README.md
  packages/web/tools/README.md
  packages/web/utils/README.md
Due: notify, notify-success, notify-failure, web-editor, prepare, build_docker

[luzzle] lint docs
  packages/web/editor/Agents.md
  packages/web/editor/README.md
  packages/web/explorer/Agents.md
  packages/web/explorer/README.md
Due: notify, notify-success, notify-failure, web-editor, prepare, build_docker

[luzzle] refind docs
  Agents.md
  README.md
  packages/cli/Agents.md
  packages/cli/README.md
  packages/core/Agents.md
  packages/core/README.md
  packages/web/editor/Agents.md
  packages/web/editor/README.md
  packages/web/explorer/Agents.md
  packages/web/explorer/README.md
  packages/web/explorer/examples/README.md
  packages/web/tools/Agents.md
  packages/web/tools/README.md
  packages/web/utils/Agents.md
  packages/web/utils/README.md
Due: notify, notify-success, notify-failure, web-editor, prepare, build_docker
