Repository eleith/luzzle: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, test, publish, notify, tools, notify-success, notify-failure, web-editor, prepare, build_docker

Path conditions:
  build: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  test: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  publish: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**)
  notify: (any of: .woodpecker/.prisma.yml, packages/prisma/**) or (any of: .woodpecker/.ui.yml, packages/ui/**) or (any of: .woodpecker/.web.yml, packages/web/**)
  tools: any of: .woodpecker/.tools.yml, packages/tools/**
  notify-success: (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.web-editor.yml, packages/web/editor/**)
  notify-failure: (any of: .woodpecker/.tools.yml, packages/tools/**) or (any of: .woodpecker/.web-editor.yml, packages/web/editor/**)
  web-editor: any of: .woodpecker/.web-editor.yml, packages/web/editor/**
  prepare: any of: .woodpecker/.web.yml, packages/web/**
  build_docker: any of: .woodpecker/.web.yml, packages/web/**

[luzzle] docs and tone
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/web/editor/README.md
  packages/web/explorer/README.md
  packages/web/tools/README.md
  packages/web/utils/README.md
Due: notify, notify-success, notify-failure, web-editor, prepare, build_docker

[luzzle] doc fixes
  README.md
Due: none

[luzzle] adjust agent docs
  Agents.md
Due: none

[web.explorer] simplify root page
  packages/web/explorer/src/routes/(root)/+page.svelte
Due: notify, prepare, build_docker

[core] github workflow
  .github/workflows/core.yml
Due: none

[core] release 0.0.33
  .github/workflows/core.yml
  package-lock.json
  packages/core/package.json
Due: none

[cli] release 0.0.126, bump core
  .github/workflows/cli.yml
  .woodpecker/.cli.yml
  package-lock.json
  packages/cli/package.json
Due: none

[web.utils] release 0.0.12
  .github/workflows/web-utils.yml
  package-lock.json
  packages/web/utils/package.json
Due: notify, prepare, build_docker

[web.tools] release 0.0.70
  .github/workflows/web-tools.yml
  .woodpecker/.web-tools.yml
  package-lock.json
  packages/web/editor/package.json
  packages/web/explorer/package.json
  packages/web/tools/package-lock.json
  packages/web/tools/package.json
Due: notify, notify-success, notify-failure, web-editor, prepare, build_docker

[web.editor] release 0.0.14
  .github/workflows/web-editor.yml
  .woodpecker/.web-editor.yml
  package-lock.json
  packages/web/editor/package.json
Due: notify, notify-success, notify-failure, web-editor, prepare, build_docker

[luzzle] add prequisite build into all npm push workflows
  .github/workflows/cli.yml
  .github/workflows/core.yml
  .github/workflows/web-tools.yml
  .github/workflows/web-utils.yml
Due: none

[luzzle] bump core and web.utils version
  package-lock.json
  packages/core/package.json
  packages/web/utils/package.json
Due: notify, prepare, build_docker

[luzzle] bump cli and web.tools version
  package-lock.json
  packages/cli/package.json
  packages/web/tools/package.json
Due: notify, prepare, build_docker

[web.tools] build all dependencies before npm push
  .github/workflows/web-tools.yml
Due: none

[web.editor] release 0.0.15, fix github build
  .github/workflows/web-editor.yml
  .github/workflows/web-tools.yml
  .github/workflows/web-utils.yml
  package-lock.json
  packages/web/editor/package.json
Due: notify, notify-success, notify-failure, web-editor, prepare, build_docker

[web.explorer] release 0.0.118
  .github/workflows/web-explorer.yml
  .woodpecker/.web-explorer.yml
  package-lock.json
  packages/web/explorer/package.json
Due: notify, prepare, build_docker

[web.explorer] rename github workflow
  .github/workflows/web-explorer.yml
Due: none

[web.utils] release 0.0.14, content block updates
  package-lock.json
  packages/web/utils/package.json
  packages/web/utils/src/lib/config/config.ts
  packages/web/utils/src/lib/config/defaults.yaml
  packages/web/utils/src/lib/config/schema.json
  packages/web/utils/src/lib/config/schema.ts
Due: notify, prepare, build_docker

[web.tools] release 0.0.72
  package-lock.json
  packages/web/tools/package.json
  packages/web/tools/src/commands/sqlite/database.test.ts
  packages/web/tools/src/commands/theme/theme.test.ts
Due: notify, prepare, build_docker

[web.explorer] content as components instead of md
  package-lock.json
  packages/web/explorer/.gitignore
  packages/web/explorer/package.json
  packages/web/explorer/scripts/sync-content.js
  packages/web/explorer/scripts/sync-piece-content.js
  packages/web/explorer/src/hooks.ts
  packages/web/explorer/src/lib/components/layout/simple/nav.svelte
  packages/web/explorer/src/lib/content/block/feed.md
  packages/web/explorer/src/lib/content/block/root.md
  packages/web/explorer/src/lib/content/components/feed.default.svelte
  packages/web/explorer/src/lib/content/components/root.default.svelte
  packages/web/explorer/src/lib/content/load.ts
  packages/web/explorer/src/lib/server/content.ts
  packages/web/explorer/src/routes/(root)/+page.server.ts
  packages/web/explorer/src/routes/(root)/+page.svelte
  packages/web/explorer/src/routes/+layout.server.ts
  packages/web/explorer/src/routes/pieces/[piece=pieceType]/[slug]/+page.server.ts
  packages/web/explorer/src/routes/rss/pieces/[[piece=pieceType]]/feed.[format=feedFormat]/+server.ts
  packages/web/explorer/src/routes/rss/pieces/[[piece=pieceType]]/feed.html/+page.server.ts
  packages/web/explorer/src/routes/rss/pieces/[[piece=pieceType]]/feed.html/+page.svelte
  packages/web/explorer/src/routes/rss/tags/[tag]/feed.[format=feedFormat]/+server.ts
  packages/web/explorer/src/routes/rss/tags/[tag]/feed.html/+page.server.ts
  packages/web/explorer/src/routes/rss/tags/[tag]/feed.html/+page.svelte
Due: notify, prepare, build_docker

[web.explorer] release 0.0.119
  package-lock.json
  packages/web/explorer/package.json
Due: notify, prepare, build_docker

[web.explorer] create custom dir
  packages/web/explorer/scripts/sync-content.js
Due: notify, prepare, build_docker

[web.explorer] release 0.0.120
  packages/web/explorer/package.json
Due: notify, prepare, build_docker

[core] release 0.0.35
  package-lock.json
  packages/core/package.json
Due: none

[cli] release 0.0.128
  package-lock.json
  packages/cli/package.json
Due: none

[web.tools] release 0.0.73
  package-lock.json
  packages/web/tools/package.json
Due: notify, prepare, build_docker

[web.editor] release 0.0.16
  package-lock.json
  packages/web/editor/package.json
Due: notify, notify-success, notify-failure, web-editor, prepare, build_docker

[web] release 0.0.121, bump deps
  package-lock.json
  packages/web/explorer/package.json
Due: notify, prepare, build_docker

[web.editor] release 0.0.17, update types
  package-lock.json
  packages/web/editor/package.json
  packages/web/editor/src/lib/pieces/formData.ts
Due: notify, notify-success, notify-failure, web-editor, prepare, build_docker

[core] add retries and useragent
  packages/core/src/pieces/utils/piece.ts
Due: none

[core] release 0.0.36
  package-lock.json
  packages/core/package.json
Due: none

[cli] release 0.0.129
  package-lock.json
  packages/cli/package.json
Due: none

[web.tools] release 0.0.74
  package-lock.json
  packages/web/tools/package.json
Due: notify, prepare, build_docker

[web.editor] release 0.0.18
  package-lock.json
  packages/web/editor/package.json
Due: notify, notify-success, notify-failure, web-editor, prepare, build_docker

[web] release 0.0.122
  package-lock.json
  packages/web/explorer/package.json
Due: notify, prepare, build_docker

[web] close search dialog on submit
  packages/web/explorer/src/lib/components/layout/simple/nav.svelte
Due: notify, prepare, build_docker

[web] release 0.0.123
  package-lock.json
  packages/web/explorer/package.json
Due: notify, prepare, build_docker

[luzzle] add bubblewrap ignores
  .bubblewrap
Due: none

[web-tools] add indexes for explorer queries
  packages/web/tools/src/commands/sqlite/database.test.ts
  packages/web/tools/src/commands/sqlite/database.ts
Due: notify, prepare, build_docker

[web-tools] release 0.0.75
  package-lock.json
  packages/web/tools/package.json
Due: notify, prepare, build_docker
